[2020-03-20 01:21] dankohn commented on #338
Could you please just create a Japanese language version and link to it from your pages.

[2020-03-21 02:58] superbrothers commented on #338
I found a Japanese language version on the Linux foundation Japan site. https://www.linuxfoundation.jp/code-of-conduct/ It is almost the same content, so we link to it from the Tokyo Overview page.

[2020-03-21 02:58] #338 closed

[2020-03-24 23:42] archyufa commented on #281
@KTan1226 Quick update on the event.
Venue and dates - WIP. We'll decide in late April if we going to organize an event in Sep/Oct 2019. Currently, the issue is to lock venues as we can't visit them and all venues got booked with people who cancel their events in April, May, June.
Website - WIP PR sent.
CFP - WIP

[2020-03-24 23:43] archyufa commented on #261
@KTan1226 Quick update on the event.
Venue and dates - WIP. We'll decide in late April if we going to organize an event in Sep/Oct 2019. Currently, the issue is to lock venues as we can't visit them and all venues got booked with people who cancel their events in April, May, June.
Website - WIP PR sent.
CFP - WIP

[2020-03-24 23:43] archyufa commented on #267
@KTan1226 Quick update on the event.
Venue and dates - WIP. We'll decide in late April if we going to organize an event in Sep/Oct 2019. Currently, the issue is to lock venues as we can't visit them and all venues got booked with people who cancel their events in April, May, June.
Website - WIP PR sent.
CFP - WIP

[2020-03-25 14:30] KTan1226 commented on #267
Thanks for the update @archyufa! Please use the following email aliases:
- organizers-montreal@kubernetescommunitdays.org (for organizer communications, general questions)
- sponsors-montreal@kubernetescommunitydays.org (for potential sponsors)

I've also added your team to the KCD Organizers Slack channel and am sending over access/training videos for your CFP. Let me know if you have any questio

[2020-03-25 14:37] KTan1226 commented on #281
Thanks for the update @archyufa! Please use the following email aliases:
- organizers-toronto@kubernetescommunitydays.org (for organizer communication, general inquiries)
- sponsors-toronto@kubernetescommunitydays.org (for potential sponsors, email forwards to organizers alias)

I've also added your team to the KCD Organizers Slack channel and am reaching out via email for access to the CFP tool.

[2020-03-25 14:39] KTan1226 commented on #261
Thanks for the update @archyufa! I've sent an email with training materials and access to your CFP tool. Let me know if you have any questions.

[2020-04-01 06:32] cloudyuga commented on #169
@KTan1226 Due to ongoing Covid-19 issue, we have decided to postpone the event. There is no future date as now. We should wait until things normalize and then take further decisions.
 

[2020-04-01 06:32] nkhare commented on #169
@KTan1226 Due to ongoing Covid-19 issue, we have decided to postpone the event. There is no future date as now. We should wait until things normalize and then take further decisions.

[2020-04-01 12:17] irvifa commented on #239
This will be postponed until further notice 🙏 cc @girikuncoro

[2020-04-02 02:53] girikuncoro commented on #239
this is due to growing Covid-19 situation across Indonesia as well, and we really want to do in-person conference, instead of online.
cc @imrenagi

[2020-04-02 12:52] KTan1226 commented on #239
Thanks for the update @irvifa- let me know if I can help with anything!

[2020-04-02 13:23] KTan1226 commented on #169
Hi @nkhare. No problem- thanks for the update. Can we please update your website? I would recommend we change the date to Dec 1 temporarily and we can always change it later.

[2020-04-09 09:58] superbrothers commented on #187
@KTan1226 Do we have the option of changing this to a virtual event other than postponing it? We'll decide at the end of April, but we want to know before then.

[2020-04-09 14:57] KTan1226 commented on #187
Hi @superbrothers- At this time, we are strongly encouraging all KCDs to be in person. However, we can be flexible with the timing if you need to postpone it. Thanks!

[2020-04-24 01:34] superbrothers commented on #187
@KTan1226 We decided to make Kubernetes Community Day Tokyo 2020 a virtual event.

We understand that CNCF is strongly encouraging it to be in person. However, no one knows when the effects of COVID-19 will subside. In this context, we believe that for a community to survive, we have to keep the activity going, whether it's offline or online. Please support our decision.

[2020-04-24 02:14] iennae commented on #187
@superbrothers Totally understand. I would recommend giving it a slightly different name to differentiate it from your eventual first in person KCD. I'm happy to support your virtual event efforts as I think it's critical like you said to encourage community participating even now.

[2020-04-24 02:49] superbrothers commented on #187
@iennae Thank you for understanding. The name of the event will be discussed in KCD Tokyo organizers and communicated to you.

[2020-04-28 01:31] superbrothers commented on #187
@iennae We decided to name the event "Kubernetes Community Day Tokyo | Virtual 2020".

[2020-04-30 12:17] nkhare commented on #169
Just for official log here. CloudYuga (My company) had to pay ~$2100 to postpone/cancel the event and new booking would a new process altogether.

[2020-05-01 14:11] KTan1226 commented on #169
Thanks for the update @nkhare. Can you update your KCD website? Do you have a new date in mind? We could always set it temporarily for March 2021 and update as you finalize.

[2020-05-02 03:50] iennae commented on #187
@superbrothers To be really clear, CNCF has asked that the KCD name not be used for virtual events. They want to make sure that KCD is only associated with in person events.

[2020-05-03 02:14] superbrothers commented on #187
@iennae The name of the event, "Kubernetes Community Day Tokyo | Virtual 2020", makes it really clear that it's a virtual event. That should be enough for the participants. However, KCD is the property of CNCF. Therefore, for whatever reason, we will abide by CNCF's decision.

If CNCF has a good idea for a name for this virtual event, please let us know for our reference.

[2020-05-07 07:52] prometherion commented on #216
Happy to help with the support and organization! :tada:

[2020-05-09 02:14] superbrothers commented on #187
We have decided on a new name, "Kubernetes Fest Tokyo". This event will be held as an unofficial CNCF event. A new site is currently being prepared. Once the site has been created, create a PR to add a link to it from 2020-tokyo site.

Once COVID-19 is under control, we would like to hold KCD Tokyo as an in person event. We would appreciate your support in doing so. Thank you very much.

[2020-05-09 02:14] #187 closed

[2020-05-14 14:55] #183 closed

[2020-05-19 17:07] KTan1226 commented on #187
Hi @superbrothers and team- Just following up here, any updates on your new website? We can link to it but need to remove your KCD website from the webpage as it is no longer an official KCD event.

[2020-05-19 17:36] dankohn commented on #187
Apologies, but you can't use the name "Kubernetes Fest Tokyo either". You could do "Cloud Native Fest Tokyo Featuring Kubernetes". Please see https://www.linuxfoundation.org/trademark-usage for much more detail.

[2020-05-20 02:42] superbrothers commented on #187
@dankohn Thank you for letting us know.

This event is completely free and there is no commercial or marketing element. The organizers are individual members of the community. Sponsors will be providing the Zoom meeting room, etc., and no money will be provided. As such, this event can be considered a slightly larger version of the Kubernetes meetups that are being held around the world.

If this

[2020-05-20 03:08] dankohn commented on #187
I'm sorry we can't accommodate you here, but we need to apply the naming
policy consistently. All day events are not meetups, and we're not allowing
the use of the name for other virtual events.

Again, I apologize for the inconvenience.
--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
<https://www.cncf.io/>
dankohn.com <https://ww

[2020-05-21 05:33] superbrothers commented on #187
@dankohn We would like to name the event "KubeFest Tokyo 2020". We believe that this is in accordance with The Linux Foundation Trademark Usage Guidelines.

[2020-05-21 09:38] dankohn commented on #187
Sounds great! Thanks for your accommodation here.

On Thu, May 21, 2020 5:33 AM, Kazuki Suda notifications@github.com  wrote:

@dankohn  We would like to name the event "KubeFest Tokyo 2020". We believe that
this is in accordance with The Linux Foundation Trademark Usage Guidelines.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscrib

[2020-05-22 03:12] superbrothers commented on #187
We've changed all the names to "KubeFest Tokyo 2020" on our new event sites.

- https://k8sjp.connpass.com/event/176105/
- https://k8sjp.github.io/kubefest-2020/

[2020-05-29 20:55] KTan1226 commented on #187
Hi @superbrothers- Could you please update your website on the KCD webpage and link it to your new website? I would just update the text to say the event is now virtual and information can be found here: https://k8sjp.connpass.com/event/176105/. Thank you!

[2020-05-31 06:39] superbrothers commented on #187
@KTan1226 I've created a PR. Please check it out. https://github.com/cncf/kubernetes-community-days/pull/356

[2020-06-09 14:43] AngelaSalgarelli commented on #216
Hi @paolomainardi, Kiratech is also interested in supporting the organization of KCD Milan. If you could insert me, Angela Salgarelli, and @bizzam in the organizers team it would be great!

[2020-06-09 14:46] paolomainardi commented on #216
Ciao Angela,

I can add you on Slack but on Github is on you, you can add yourself and
sign the CoC.

Thanks,
P.

On Tue, Jun 9, 2020 at 4:44 PM AngelaSalgarelli <notifications@github.com>
wrote:

--
*SPARKFABRIK*

*Paolo Mainardi*
CTO & Founder

tel: +39-340-1678089
skype: paolo_mainardi

http://www.sparkfabrik.com
ᐧ

[2020-07-08 12:01] superbrothers commented on #187
@dankohn @KTan1226 We held KubeFest Tokyo 2020 on June 13th. The number of registered participants was 1777. We share the attribute information of the participants with you.  https://docs.google.com/spreadsheets/d/1-LdwLFiDL50gLcbyM3I39pnS7abkf-gkiwn7BHTez50/edit?usp=sharing

[2020-07-08 12:19] dankohn commented on #187
Congratulations

[2020-09-02 19:09] flanets opened #361 "Kubernetes Community Day El Salvador"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event City:  San Salvador, El Salvador, Central America

### Submission checklist:

*Please check each of these as you complete them:

* [X ] No other Kubernetes Community Days event in the same city

* [X ] Minimum of 3 organizers from 3 different

[2020-09-02 19:35] idvoretskyi commented on #361
/cc @idvoretskyi

[2020-09-05 14:42] abuango opened #363 "KCD Africa 2021 - Virtual"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event ~City~ Location: Africa

#### Goals and Objectives
We are opting for an inaugural event to be Africa based to shore up interest and present opportunities for others to localize it, after which we will switch to either Abuja/Lagos as City when

[2020-09-13 22:39] iennae commented on #363
Hey @abuango , CNCF is not approving any virtual events for KCDs at this time.

[2020-09-14 16:06] KTan1226 commented on #361
Hi @flanets. Could you please confirm the date for your event? Once confirmed, the event will be approved. Thanks!

[2020-09-14 16:07] flanets commented on #361
KCD ES will take place on January 30, 2021.

[2020-09-14 16:10] KTan1226 commented on #361
Great, thanks! Your event is approved. I will be in touch with an email alias for your use. I know you've been in contact with @idvoretskyi on getting the event set up in Bevy as well.

[2020-09-21 13:06] anthonydahanne commented on #267
Hello all,
The Montreal event for September 2020 was cancelled; we don't think we'll have one this year.
I'm about to submit a PR to reflect that - what should I, just plain and simple delete the whole folder?
Or should I just comment the dates? Or archive it somehow?
Thanks for your help // cc @KTan1226
Anthony

[2020-09-24 22:40] ananthulasrikar commented on #155
I am CNCF Ambassador & moved to Vancouver recently. I would love to help to organize the event.

[2020-10-06 17:34] flanets commented on #361
Hi there,

How can we (more than one user) gain access to Bevy?

Thanks!

Raul

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Kristi Tan<mailto:notifications@github.com>
Sent: Monday, September 14, 2020 9:10 AM
To: cncf/kubernetes-community-days<mailto:kubernetes-community-days@noreply.github.com>
Cc: Raul<mailto:flamenco.raul@hotmail.com>; Mention<mailto:men

[2020-10-06 22:07] KTan1226 commented on #361
Hi @flanets - @idvoretskyi can help you with this. Thanks!

[2020-11-18 16:08] cloudyuga commented on #169
@KTan1226 All the organizers had recently recently visited this and we are planning to have the event on 5th and 6th February 2021.

[2020-11-18 16:10] nkhare commented on #169
@KTan1226 All the organisers recently revisited this and we plan to have a virtual event on 5th and 6th February 2021.

[2020-11-19 14:25] idvoretskyi commented on #169
@nkhare we currently don’t have a defined virtual KCD’s strategy for 2021. We’ll keep this thread updated.

[2020-12-08 12:09] xmulligan commented on #169
@nkhare I'm currently working on the virtual strategy, do you have time for a chat sometime this week or next? https://calendly.com/billmulligan/1-1-with-bill-mulligan

[2020-12-08 13:37] nkhare commented on #169
@xmulligan
Sure. I have sent the invite for 14th Dec at 5 PM IST.

@all
Let us know if anyone of you would like to join.

[2020-12-08 13:38] xmulligan commented on #169
Thanks! Really looking forward to the conversation!

[2020-12-09 11:10] abuango commented on #363
@xmulligan FYI

[2020-12-09 11:15] xmulligan commented on #363
let's shoot for the end of March to get this on the schedule

[2020-12-09 13:32] thisisobate commented on #363
Super excited about this initiative! @abuango

[2020-12-09 15:17] idvoretskyi commented on #361
/cc @xmulligan

[2020-12-11 06:09] CloudGrimm commented on #363
This looks great, looking forward to it! @abuango

[2020-12-14 11:59] nkhare commented on #169
Google meet seems to down for me. Can you please join https://zoom.us/j/92981048770?pwd=aHlpcmtqZWF4U215NkhmSW1JdWl4QT09

[2020-12-14 12:10] xmulligan commented on #169
Just saw this now. Tried messaging you on the CNCF slack first. Joining now

[2020-12-14 13:15] xmulligan commented on #363
@samswag

[2021-01-05 12:41] #270 closed

[2021-01-05 12:43] xmulligan commented on #196
This will be Bevy going forward. https://community.cncf.io/

[2021-01-05 12:43] #196 closed

[2021-01-05 12:45] #41 closed

[2021-01-05 12:56] xmulligan commented on #197
@christinevblum can you be more specific about what you think is missing?

[2021-01-06 15:11] xmulligan commented on #361
@flanets do you have any updates on this event? Is it still going forward?

[2021-01-11 17:10] xmulligan commented on #361
@flanets Can I close this issue?

[2021-01-15 20:24] flanets commented on #361
Hi Bill,

Eduardo Chavez and Carlos Recinos (CC here), Kubernetes Community Day El Salvador Contributors, will submit an update shortly.

Thanks!

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Bill Mulligan<mailto:notifications@github.com>
Sent: Monday, January 11, 2021 9:11 AM
To: cncf/kubernetes-community-days<mailto:kubernetes-community-days@noreply.github

[2021-01-16 00:18] eduardo3150 commented on #361
Hi @xmulligan ! A PR has been created with the latest updates for KCD San Salvador, https://github.com/cncf/kubernetes-community-days/pull/372
We still need to make some updates to the agenda piece but we already have everything else in place

[2021-01-21 14:55] xmulligan commented on #361
Thanks! It has been merged 👍

[2021-01-21 14:57] idvoretskyi commented on #361
@eduardo3150 any reason why community.cncf.io is not used for this?

[2021-01-21 16:54] xmulligan commented on #361
You can find the event here https://community.cncf.io/events/details/cncf-san-salvador-presents-kubernetes-community-day-el-salvador/#/

[2021-01-27 05:25] eduardo3150 commented on #361
Hi @xmulligan , @idvoretskyi ! I've just created one PR #374  containing the final agenda and speaker lineup for KCD San Salvador, I'd appreciate your help reviewing these changes

Best,

[2021-01-27 15:15] #192 closed

[2021-01-27 15:18] xmulligan commented on #172
@ams0 would you be willing to put together some text on how to pick a program committee?

[2021-01-27 15:18] #20 closed

[2021-01-27 15:24] xmulligan commented on #213
@rbenzair Are you still planning on having an event in 2021? We will shortly be updating the program and I didn't want to close this issue if you are still actively working on it.

[2021-01-27 15:25] xmulligan commented on #190
@Sramsel Are you still planning on having an event in 2021? We will shortly be updating the program and I didn't want to close this issue if you are still actively working on it.

[2021-01-27 15:26] xmulligan commented on #217
@mathieu-benoit Are you still planning on having an event in 2021? We will shortly be updating the program and I didn't want to close this issue if you are still actively working on it.

[2021-01-27 16:50] #197 closed

[2021-01-27 17:28] mathieu-benoit commented on #217
Hi @xmulligan, thanks for asking, we are targeting to do it in 2021 if an in-person conference in possible. But we don't what the future will be on this... We currently have a random date on July 2021: https://kubernetescommunitydays.org/events/2021-quebeccity/ but will be likely adjusted depending on the pandemic situation.
Hope that makes sense, and maybe you could close this issue since we crea

[2021-02-01 12:42] #217 closed

[2021-02-04 15:41] caniszczyk commented on #361
looks like this was done: https://community.cncf.io/events/details/cncf-san-salvador-presents-kubernetes-community-day-el-salvador/#/

please upload the videos on the community.cncf.io page :)

[2021-02-04 15:41] #361 closed

[2021-02-05 14:17] sltet commented on #363
nice initiative! can't wait to see this happen @abuango

[2021-02-18 14:21] xmulligan opened #381 "KCD Washington, DC 2021"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location: Washington DC

### Event Date and Time: 2021-11-04

### Event type: Virtual

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day event in the same region
* [x] Minimum

[2021-02-18 14:22] xmulligan commented on #190
closing this discussion and moving the discussion over to #381

[2021-02-18 14:22] #190 closed

[2021-02-22 12:16] vijay938 commented on #223
I want to work on this issue

[2021-02-22 13:09] xmulligan commented on #223
@vijay938 I would check with @pasimoes and join https://cloud-native.slack.com/archives/C01NL9M5HPG for further discussion

[2021-02-22 13:41] B0go commented on #223
I am still interested in organizing this KCD here in Santa Catarina, but I need to restart conversations with the other organizers and CNCF in order to understand the current COVID-19 scenario (will other events be online?)

I apologize for taking this long to update this issue

[2021-02-22 15:06] xmulligan commented on #223
@B0go we will be updating the program shortly, look for the annoucement

[2021-02-23 18:31] CathPag commented on #381
Here you go:

 - No other Kubernetes Community Day event in the same region: correct
 - Minimum of 3 organizers from 3 different organizations: Kublr, EastBanc Technologies, The American Red Cross, Boxboat, Buoyant
 - Each organizer lives in or just outside of the CNCForum location: yes
 - At least one organizer is a CNCF member employee, CNCF ambassador, or CNCF project maintainer: yes
 - All org

[2021-02-25 14:40] xmulligan commented on #381
Thanks, I've just updated the issue and added Brandon to the slack channel. I couldn't find Michaela in the CNCF slack. Does she have a user?

I'll work on getting you access to SM Apply and CNCG tomorrow

[2021-02-25 15:06] CathPag commented on #381
Thank you, Bill! They are all in the #kcd-dc-organizers channel, so yes.
....and I just checked and she's already in the channel :)

[2021-02-26 13:23] xmulligan commented on #381
@CathPag I just updated the email forward to everyone's new emails. Seems like quite a few have switched companies ;) organizers-dc@kubernetescommunitydays.org

[2021-02-26 13:26] xmulligan commented on #381
@CathPag I've added you as an admin to the SM Apply account, let me know who else should be added. You have a copy of the KCD Berlin set up, but feel free to edit as you need

[2021-02-26 13:31] CathPag commented on #381
Yes, thanks for catching! It's me and Jason (jason@buoyant.io) who switched jobs. What's the SM Apply account?

[2021-02-26 13:34] xmulligan commented on #381
SM Apply is to help you organzie the CfP

[2021-02-26 13:37] xmulligan commented on #381
I've added both @CathPag and Brandon to the https://community.cncf.io/kcd-washington-dc/ as organizers. Jason, Mattew, and Michaela don't seem to have accounts on the platform yet. Once they do, I can add them

[2021-02-26 13:39] CathPag commented on #381
Thank you! I'll ask them to sign up.

[2021-02-26 13:39] xmulligan commented on #381
Perfect, you can find out more about setting up the platform here https://github.com/cncf/kubernetes-community-days/blob/master/content/organizing-platform-help.md

[2021-03-01 17:52] xmulligan commented on #294
@xinity  We are relaunching the KCD program, including virtual events. We would love to have one in Lyon if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-1-wit

[2021-03-01 17:52] #294 closed

[2021-03-01 17:53] xmulligan commented on #230
@ahpook We are relaunching the KCD program, including virtual events. We would love to have one in Portland if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-1-

[2021-03-01 17:53] #230 closed

[2021-03-01 17:53] xmulligan commented on #228
@ppatierno We are relaunching the KCD program, including virtual events. We would love to have one in Naples if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-1

[2021-03-01 17:53] #228 closed

[2021-03-01 17:54] xmulligan commented on #231
@raelga We are relaunching the KCD program, including virtual events. We would love to have one in Madrid if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-1-wi

[2021-03-01 17:54] #231 closed

[2021-03-01 17:55] xmulligan commented on #221
@senthilrch We are relaunching the KCD program, including virtual events. We would love to have one in Chennai if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1

[2021-03-01 17:55] #221 closed

[2021-03-01 17:55] xmulligan commented on #222
@thecrudge We are relaunching the KCD program, including virtual events. We would love to have one in Austin if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-1

[2021-03-01 17:55] #222 closed

[2021-03-01 17:56] xmulligan commented on #233
@ericknauer We are relaunching the KCD program, including virtual events. We would love to have one in Seattle if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1

[2021-03-01 17:56] #233 closed

[2021-03-01 17:56] xmulligan commented on #234
@seungkyua We are relaunching the KCD program, including virtual events. We would love to have one in Seoul if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-1-

[2021-03-01 17:56] #234 closed

[2021-03-01 17:57] xmulligan commented on #266
@JasonvanBrackel We are relaunching the KCD program, including virtual events. We would love to have one in Philadelphia if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/bill

[2021-03-01 17:57] #266 closed

[2021-03-01 17:58] xinity commented on #294
We'll do, we are currently rebooting the project 😁

[2021-03-01 17:58] xmulligan commented on #267
@archyufa We are relaunching the KCD program, including virtual events. We would love to have one in Montreal if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-

[2021-03-01 17:58] #267 closed

[2021-03-01 17:58] xmulligan commented on #254
@nzoueidi We are relaunching the KCD program, including virtual events. We would love to have one in Tunis if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-1-w

[2021-03-01 17:58] #254 closed

[2021-03-01 17:58] xmulligan commented on #253
@yankcrime We are relaunching the KCD program, including virtual events. We would love to have one in Manchester if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan

[2021-03-01 17:58] #253 closed

[2021-03-01 17:59] xmulligan commented on #252
@vishal-biyani We are relaunching the KCD program, including virtual events. We would love to have one in Pune if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1

[2021-03-01 17:59] #252 closed

[2021-03-01 18:00] #242 closed

[2021-03-01 18:00] xmulligan commented on #240
@kesseract We are relaunching the KCD program, including virtual events. We would love to have one in Mumbai if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-1

[2021-03-01 18:00] #240 closed

[2021-03-01 18:00] xmulligan commented on #239
@irvifa We are relaunching the KCD program, including virtual events. We would love to have one in Jakarta if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-1-w

[2021-03-01 18:00] #239 closed

[2021-03-01 18:01] xmulligan commented on #215
@estebangarcia We are relaunching the KCD program, including virtual events. We would love to have one in Dublin if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan

[2021-03-01 18:01] #215 closed

[2021-03-01 18:01] xmulligan commented on #213
@rbenzair We are relaunching the KCD program, including virtual events. We would love to have one in Paris if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-1-w

[2021-03-01 18:01] #213 closed

[2021-03-01 18:02] xmulligan commented on #237
@izgeri We are relaunching the KCD program, including virtual events. We would love to have one in Boston if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-1-wi

[2021-03-01 18:02] #237 closed

[2021-03-01 18:02] #216 closed

[2021-03-01 18:04] raelga commented on #231
Hey @xmulligan, we are working on the virtual event already!

Happy to reach you once we have a date.

[2021-03-01 18:21] xmulligan commented on #208
@blixtra We are relaunching the KCD program, including virtual events. We would love to have one in Boulder if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-1-

[2021-03-01 18:21] #208 closed

[2021-03-01 18:22] xmulligan commented on #200
@OrlinVasilev We are relaunching the KCD program, including virtual events. We would love to have one in Sofia if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1

[2021-03-01 18:22] #200 closed

[2021-03-01 18:22] xmulligan commented on #204
@dankirkpatrick We are relaunching the KCD program, including virtual events. We would love to have one in Houston if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmullig

[2021-03-01 18:23] xmulligan commented on #212
@justaugustus We are relaunching the KCD program, including virtual events. We would love to have one in New York if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulliga

[2021-03-01 18:23] #212 closed

[2021-03-01 18:23] xmulligan commented on #191
@dstrebel We are relaunching the KCD program, including virtual events. We would love to have one in Minneapolis if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan

[2021-03-01 18:23] #191 closed

[2021-03-01 18:24] xmulligan commented on #182
@mkorbi We are relaunching the KCD program, including virtual events. We would love to have one in Munich if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-1-wi

[2021-03-01 18:24] #182 closed

[2021-03-01 18:24] xmulligan commented on #171
@nickchase We are relaunching the KCD program, including virtual events. We would love to have one in the Bay Area if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmullig

[2021-03-01 18:24] #171 closed

[2021-03-01 18:25] xmulligan commented on #155
@dmueller2001 We are relaunching the KCD program, including virtual events. We would love to have one in Vancouver if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmullig

[2021-03-01 18:25] #155 closed

[2021-03-01 18:26] xmulligan commented on #186
@JohnOnTheWeb We are relaunching the KCD program, including virtual events. We would love to have one in Houston if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan

[2021-03-01 18:26] #186 closed

[2021-03-01 18:26] xmulligan commented on #251
@itaysk We are relaunching the KCD program, including virtual events. We would love to have one in Tel Aviv if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-1-

[2021-03-01 18:26] #251 closed

[2021-03-01 18:27] xmulligan commented on #177
@KrissiWi We are relaunching the KCD program, including virtual events. We would love to have one in Berlin if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-1-

[2021-03-01 18:27] #177 closed

[2021-03-01 18:27] xmulligan commented on #281
@archyufa We are relaunching the KCD program, including virtual events. We would love to have one in Toronto if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-1

[2021-03-01 18:28] xmulligan commented on #256
@eduardo-eth0 We are relaunching the KCD program, including virtual events. We would love to have one in Campinas if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulliga

[2021-03-01 18:28] #256 closed

[2021-03-01 18:29] xmulligan commented on #236
@pasimoes We are relaunching the KCD program, including virtual events. We would love to have one in Salvador or Latin America ;) if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly

[2021-03-01 18:29] #236 closed

[2021-03-01 18:29] kesseract commented on #240
@xmulligan  - Thanks for your notification. I am still interested.

[2021-03-01 18:32] xmulligan commented on #226
@pasimoes We are relaunching the KCD program, including virtual events. We would love to have one in Brasilia if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-

[2021-03-01 18:32] #226 closed

[2021-03-01 18:32] xmulligan commented on #223
@B0go We are relaunching the KCD program, including virtual events. We would love to have one in Florianopolis if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1

[2021-03-01 18:32] #223 closed

[2021-03-01 18:33] xmulligan commented on #214
@rikatz We are relaunching the KCD program, including virtual events. We would love to have one in Sao Paulo if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-1

[2021-03-01 18:33] #214 closed

[2021-03-01 18:34] xmulligan commented on #219
@pasimoes We are relaunching the KCD program, including virtual events. We would love to have one in Belo Horizonte if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulli

[2021-03-01 18:34] #219 closed

[2021-03-01 18:34] xmulligan commented on #220
@pasimoes We are relaunching the KCD program, including virtual events. We would love to have one in Porto Alegre if you are still interested! You can read [the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulliga

[2021-03-01 18:34] #220 closed

[2021-03-01 19:10] xmulligan commented on #294
Awesome! Glad to hear. Please reach out if there is anything I can help with

[2021-03-01 19:11] xmulligan commented on #261
@archyufa We are relaunching the KCD program, including virtual events. We would love to have one in Ottawa if you are still interested! You can [read the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-1-

[2021-03-01 19:11] #261 closed

[2021-03-01 19:11] xmulligan commented on #224
@pasimoes We are relaunching the KCD program, including virtual events. We would love to have one in Rio if you are still interested! You can [read the blog post here](https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/). If you have any questions, please contact me at kcd@cncf.io or [book a meeting with me](https://calendly.com/billmulligan/1-1-wit

[2021-03-01 19:11] #224 closed

[2021-03-01 19:31] xmulligan commented on #240
Great! Looking forward to our conversation on Wednesday

[2021-03-01 19:31] xmulligan commented on #231
Perfect! Looking forward to it and let me know if you need any help along the way

[2021-03-01 19:49] fabriziopandini commented on #216
@xmulligan we are definitely interested! I will reach out soon

[2021-03-01 20:00] ndecandia commented on #216
Sure,
We will work together with you @xmulligan<https://github.com/xmulligan> and also Fabrizio.
@Desotech are ready.

--
Nicola Marco Decandia
Desotech

From: Fabrizio Pandini <notifications@github.com>
Date: Monday, 1 March 2021 at 20:49
To: cncf/kubernetes-community-days <kubernetes-community-days@noreply.github.com>
Cc: Nicola Marco Decandia <nicola@decandia.eu>, Comment <comment@noreply.githu

[2021-03-01 20:30] jnardiello commented on #216
@xmulligan Sure we are as I guess all previous co-orgs. What's the next step @xmulligan ?

[2021-03-01 21:28] xmulligan commented on #213
Awesome! Looking forward to speaking with you

[2021-03-01 21:30] xmulligan commented on #216
@jnardiello you can the next steps at https://github.com/cncf/kubernetes-community-days/blob/master/content/organizing.md and https://github.com/cncf/kubernetes-community-days/blob/master/content/organizing-timeline.md

It seems you already have a lot of your team assembled so when you are ready, you can open a new issue here https://github.com/cncf/kubernetes-community-days/issues/new?assignees=x

[2021-03-01 21:30] xmulligan commented on #216
@fabriziopandini Looking forward to speaking with you!

[2021-03-02 08:04] OrlinVasilev commented on #200
Thanks for sure we will re-launch the organisation efforts for end of this year

[2021-03-02 09:04] itaysk commented on #251
Thanks for the update! Yes, definitely still interested. Will take some time to regroup with the team and see how we want to proceed

[2021-03-02 09:30] xmulligan commented on #251
Awesome! Please feel free to reach out if you have any questions along the way

[2021-03-02 09:31] xmulligan commented on #200
Awesome! Please feel free to reach out if you have any questions or there is anything I can help with along the way

[2021-03-02 09:39] nzoueidi commented on #254
Indeed with the possibility of going virtual, we will be very happy to organize one.

[2021-03-02 10:33] xmulligan commented on #254
Awesome! Let me know if you have any questions or if there is something I can help with

[2021-03-02 10:35] xmulligan commented on #254
You also might be able to leverage some of the energy coming out of KCD Africa https://community.cncf.io/events/details/cncf-kcd-africa-presents-kubernetes-community-days-africa/#/

[2021-03-02 11:41] cpanato commented on #177
@KrissiWi @xmulligan count on me to help out for the berlin edition

[2021-03-02 12:14] pasimoes opened #383 "KCD Brasil 2021 - Virtual"
# Kubernetes Community Days Brasil 2021 -- Online Edition

## Goals and Objectives
The main objective is to create a platform for community members to share their knowledge, tips, tricks, use-cases, and learning. Kubernetes and the cloud-native eco-system is very popular in the region, a major KPI of this event will be how much interest we can create towards learning, using, or contributing to the

[2021-03-02 13:17] vijay938 commented on #383
I want to work on this issue

[2021-03-02 13:39] xmulligan commented on #177
Glad to hear @cpanato !

[2021-03-03 11:56] LexiNadolski commented on #177
Hello All @KrissiWi @tinerehbein @cpanato Maybe we can get a call going to see if we can talk about this further. I will circulate an email and a doodle. Hope to chat soon :)

[2021-03-03 13:51] KrissiWi commented on #177
Cool - looking forward to be back in touch after such a long time:/

[2021-03-03 19:03] LexiNadolski commented on #177
@KrissiWi @tinerehbein @cpanato Here is the Doodle to coordinate. I will also send this by email. I am really looking forward to seeing you all soon! :D

https://doodle.com/poll/u56u6u2bigxcgfd5?utm_source=poll&utm_medium=link

[2021-03-03 20:21] xmulligan commented on #169
The event is now live https://community.cncf.io/events/details/cncf-kcd-bengaluru-presents-kubernetes-community-days-bengaluru/#/

[2021-03-03 20:21] xmulligan commented on #363
This event is now live https://community.cncf.io/events/details/cncf-kcd-africa-presents-kubernetes-community-days-africa/#/

[2021-03-03 20:31] xmulligan commented on #172
@ams0 would you be willing to write something up or should I close this issue?

[2021-03-05 14:33] xmulligan commented on #187
@superbrothers We have relaunched the KCD program and are now including virtual events https://www.cncf.io/blog/2021/03/01/relaunching-kubernetes-community-days-with-kcd-africa-bengaluru/. If you are interested in organizing another event in Tokyo, we would love to have you! Let me know if you have any questions, I am happy to help :)

[2021-03-05 14:34] #172 closed

[2021-03-06 02:08] superbrothers commented on #187
@xmulligan Thank you for letting me know. I'll read the blog post 😊

[2021-03-07 21:48] xmulligan commented on #187
@superbrothers Great! Please reach out if you have any questions, kcd@cncf.io or https://calendly.com/billmulligan/1-1-with-bill-mulligan?month=2021-03

[2021-03-10 20:39] xmulligan opened #384 "KCD Madison WI 2021"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location: Madison WI, USA

### Event Date and Time: July 4, 2021

### Event type: Virtual

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day event in the same region
* [ ] Min

[2021-03-12 09:22] raelga opened #385 "KCD Spain 2021 - Virtual"
### Event Location

Spain

### Event Date and Time

- 8th and 9th of June 2020, with the possibility of extending to the 10th if there is enough content and interest.
- The duration will be about 3-4 hours max each day, to avoid fatigue and be as work friendly as possible.
- The time frame will be the afternoon, somewhere between 15:00 and 20:00 to be friendly to Latin American folks.

### Event t

[2021-03-12 09:55] xmulligan commented on #385
@raelga Thanks for putting this together! I have added all of the organizers to the slack channel and created the email alias organizers-spain@kubernetescommunitydays.org

[2021-03-12 09:57] xmulligan commented on #385
For virtual events, it is up to you if you want sponsors. KCD Africa is using the funds to get new people into the ecosystem, but it is up to you https://community.cncf.io/events/details/cncf-kcd-africa-presents-kubernetes-community-days-africa-virtual/#/

[2021-03-12 09:58] xmulligan commented on #385
Once the event date is chosen, I can create your account in SM Apply for the CfP. Looking forward to an amazing event 🚀

[2021-03-12 10:35] raelga commented on #385
Thank you @xmulligan for all the information and the cheering, really looking forward to get things started!

[2021-03-17 09:45] xmulligan commented on #384
This was a test for the livestream

[2021-03-17 09:45] #384 closed

[2021-03-17 20:39] raelga commented on #385
@xmulligan we have a date and time frames! 📆 🕥

The proposal has been added to the issue, but for the sake of context, the idea is the following:

Let us know what you think ✨

[2021-03-18 10:37] xmulligan commented on #385
@raelga Thanks for putting this together. I've added you as an admin for SM Apply. Let me know who else you want me to add.

I've also created created the region in Bevy for you. https://community.cncf.io/kcd-spain/ I've added everyone except Alex as he doesn't have an account there, once he does, I can add him.

Let me know if you need anything else!

[2021-03-18 15:12] raelga commented on #385
Thank you very much @xmulligan!

We will start working on the site and the CfP program right now 💙

[2021-03-23 16:16] LexiNadolski commented on #177
@xmulligan we are planning to revive this event to take place March 2022. Should we update this issue or make a new one? Also, should we hold off until we have a date? Thanks!

[2021-03-27 07:45] seungkyua opened #386 "KCD Korea 2021 - Virtual"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location: Seoul, South Korea

### Event Date and Time: Sep. 9th, 2021

### Event type: virtual

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day event in the same region
* [x

[2021-03-27 08:27] mattj-io opened #387 "KCD UK 2021"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location:

UK

### Event Date and Time:

15-16 September 10am-5pm

### Event type:

Virtual with some Hybrid elements

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day event

[2021-03-27 18:32] kesseract opened #388 "KCD Mumbai, India 2021 - Virtual"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location:
Mumbai & Pune, India

### Event Date and Time:
26th December, 2021

### Event type:
Virtual

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day event in the same regi

[2021-03-29 09:36] xmulligan commented on #388
@kesseract looking forward to seeing this event come together! Let me know if you need any help along the way. I'm also happy to schedule a call if/when you have any questions. https://calendly.com/billmulligan/1-1-with-bill-mulligan?month=2021-03

[2021-03-29 12:03] ams0 opened #389 "KCD Amsterdam 2023 (February 23-24)"
We are back for a great edition in 2023! We have set the dates (23+24 February) and the venue. More info: https://bit.ly/kcdams , sponsor prospectus: https://bit.ly/kcdams-sponsor , CFP: https://bit.ly/kcdams-cfp

### Event Location:

[WesterUnie/Westergasterras](https://www.westerunie.nl/) (Amsterdam, The Netherlands)

### Event Date and Time:

23+24 February, 2023

First day: Conference+speakers

[2021-03-29 13:46] xmulligan commented on #386
Thanks for creating this event @seungkyua ! Looking forward to working with you

I couldn't find James Tokko or Hanbae Seo in the CNCF slack and Jinwoong Kim has three accounts. Can you let me know what the correct ones for them are so I can invite them to the channel?

I've added each of you to the organizers-korea@kubernetescommunitydays.org email forward, feel free to use it.

If you can fill o

[2021-03-29 13:52] xmulligan commented on #387
Thanks for putting this together @mattj-io !

I've added Adrian and Josh to the slack channel.

I've also added all the organizers to the organizers-uk@kubernetescommunitydays.org alias

What is your expected number of attendees? Once you add that and the twitter account, I can create the region

Who do you want added as an admin for SM apply?

Let me know if you have any questions :)

[2021-03-29 13:54] xmulligan commented on #389
@ams0 thanks for putting this together! Let me know when you have a third organizers and I can start moving forward from the CNCF side. Excited to have this again!

[2021-03-30 02:16] protess commented on #386
@xmulligan I and Hanbae Seo are in CNCF slack and in kcd-organizers channel we joined last year to prepare the KCD event but couldn't continue due to COIVD-19.
Anyhow, we have had about 300 virtual attendees last year so we'd expect more this year and as for the payments process what/where do we have fill out the information?
Also, if you could add me and Seungkyu Ahn as admin we'd much appreciate

[2021-03-30 13:35] xmulligan commented on #386
@protess glad to hear you are both already in slack. I've added you and James as admins for SM Apply. It is a copy from KCD Berlin, so that just needs to be updated along with any other changes you want to make to it.

There are a couple different ways to set up a financal sponsor, you can find them https://github.com/cncf/kubernetes-community-days/blob/master/content/organizing-budget-finances.md

[2021-04-01 10:41] mattj-io commented on #387
Josh Michielsen will be the admin for SM Apply

[2021-04-01 10:42] mattj-io commented on #387
Expected attendees updated, Twitter account incoming

[2021-04-01 11:35] xmulligan commented on #387
I've added Josh as the admin in SM Apply. Once you have the twitter account, I can create the region in Bevy

[2021-04-02 13:51] cpanato opened #390 "KCD Berlin 2022"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location: Berlin

### Event Date and Time:

 - CfP open and close dates: February 9 - May 26, 2022

 - event: Wed, 29 Jun 2022, 10:00 – Thu, 30 Jun 2022, 16:00 CEST

### Event type:
- in person

### Submission checklist:

*Please check each of

[2021-04-02 13:52] cpanato commented on #390
cc @xmulligan @LexiNadolski

[2021-04-06 02:37] bradmccoydev opened #391 "KCD - Australia 2023 (August 22)"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Details
* Event Location: Doltone House Hyde Park
* Event Date and Time: August 22, 2023
* Event type: In-Person
* Expected Number of Attendees: 400
* Tracks/Days: 1-day event

### Organizers
* Organizer 1: Brad McCoy, Basiq, bradmccoydev@gmai

[2021-04-06 08:16] tinerehbein commented on #390
@cpanato Thx for opening a new issue. The information from issue #177 can be taken over.

cc @LexiNadolski @KrissiWi

[2021-04-06 11:02] xmulligan commented on #390
@cpanato thanks for opening this! Can you ping me again when you copy over the information so I can look it over again?

[2021-04-06 15:23] xmulligan commented on #391
Hi @bradmccoydev thanks for putting this together! I'm going to uncheck the 3 organizers and twitter boxes until the information has been filled in. Let me know if there is anything I can do to help and I'm really looking forward to seeing this come together :)

[2021-04-06 22:40] matthewflannery commented on #391
Hey Bill, thanks for mentioning this to me. @bradmccoydev I'm keen to help if you would like to have me.

[2021-04-07 00:06] bradmccoydev commented on #391
Hey @matthewflannery of course! I actually tried to ping you on the CNCF slack to ask you yesterday.  I have added you to the list of organizers. Let's catch up about this maybe at the end of our next SIG-Security meeting?

[2021-04-07 09:43] xmulligan commented on #391
Glad I could help make the connection. I've also reached out to Sarah Wright from Mechanical Rock because she previously expressed interest in a KCD Australia, but haven't heard back yet.

As you start going through the planning and getting more things sorted, please feel free to reach out if there is anything I can do to help. Also always happy to have a call with you if needed https://calendly.c

[2021-04-07 15:50] LexiNadolski commented on #390
_Here is the copy of the information, updated_ @xmulligan

**Event City: Berlin**
**Organizers 1:** Chris Kuehl, Kinvolk, CEO, chris@kinvolk.io + Lexi Nadolski, Kinvolk, Head of Events, lexi@kinvolk.io
Chris is a CNCF Ambassador and long-time open source contributor.
Lexi heads the events team at Kinvolk and coordinates volunteer and event diversity efforts.

**Organizer 2:** Kristin Wittig, Kuber

[2021-04-07 17:48] sudo-bmitch commented on #381
Couple corrections on my entry, Mitchell has 2 Ls, and BoxBoat capitalizes both Bs:

Organizer 3: Brandon Mitchell, BoatBox, DevOps Solution Architect, docker@bmitch.net, Brandon Mitchell

[2021-04-08 07:23] mattj-io commented on #387
@xmulligan I've added an extra organiser, could you add Aled James to the alias pls ?

[2021-04-08 09:22] xmulligan commented on #387
@mattj-io I just added him

[2021-04-08 09:24] xmulligan commented on #381
@sudo-bmitch I've just updated it for you.

@CathPag how is the event progressing? Is there anything you need my help with? When do you think you will be ready to go live?

[2021-04-08 11:18] xmulligan commented on #390
@LexiNadolski thanks, I've updated the information above. For the "Fiscal sponsor that will accept payments" we need a company or organization that will be handling the payments not the method of accepting payments. Also will the event be in person, virtual, or hybrid?

[2021-04-08 11:39] CathPag commented on #381
@xmulligan, when I set it up, I didn't know how the platform worked and thought the page was the event. Just published it. We'll all meet soon to kick-off event planning. Since we won't have sponsors, it's a little easier this time around, but thanks for checking!

I do have one question: Do you know what these red lines on the dashboard mean? I'm part of three chapters (KCD DC, Linkerd, and our D

[2021-04-08 12:55] xmulligan commented on #381
@CathPag no worries, maybe that should be more clear. It is live on the site now. Let me know if there is anything else I can help with!

The dashes are supposed to show an overview of the chapter activity for the month. Red = no event, Green = event, and Grey = wasn't live then. I think it shows the current month in the middle so +/- two months on either side. It was supposed to give you a quick

[2021-04-08 13:54] CathPag commented on #381
Thanks for clarifying, @xmulligan! Yeah, I find it more confusing than helpful. Good to know, I'll just ignore moving forward :)

[2021-04-14 10:29] xmulligan opened #392 "Archive website content from the Github repo"
We are no longer using hugo or netlify to generate a website as everything has migrated to community.cncf.io. Thus it should be removed from the repo/archived. The only thing that really needs to stay is the /content folder.

[2021-04-14 10:29] xmulligan commented on #392
What is the best way to archive it or should it just be deleted?

[2021-04-14 10:31] xmulligan opened #393 "Update "master" to "main""
the default branch should be updated to be main

see https://inclusivenaming.org/

[2021-04-14 10:34] idvoretskyi commented on #393
Ref.: https://github.com/cncf/foundation/issues/149

@caniszczyk please take a look, I think you have the necessary permissions here.

[2021-04-14 10:35] idvoretskyi commented on #392
@caniszczyk PTAL

[2021-04-14 16:30] caniszczyk commented on #392
If you archive the repo, you can't create issues anymore.

I'd just create PR to delete most of the content but the README.md

On Wed, Apr 14, 2021 at 5:35 AM Ihor Dvoretskyi ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org

[2021-04-15 10:20] xmulligan commented on #392
https://github.com/cncf/kubernetes-community-days/pull/394

[2021-04-16 07:38] ams0 commented on #389
@xmulligan we have 3 organizers (more in fact) and we're all geared up for 2022. We have a date (12-13 May, close to Kubecon but should be fine).

[2021-04-19 16:50] xmulligan commented on #389
@ams0 thanks for putting together the organizers! Really looking forward to the event!

You have the date listed in the top as April 14-15, but say May 12-13. Which is it? Can you also add the Twitter handle there too?

I've created the KCD Netherlands chapter in Bevy and added you and Andrea. Fabrizio Marras doesn't have an account yet on Bevy. Let me know if you want to add anyone else.

I've ad

[2021-04-22 12:35] xmulligan commented on #385
@raelga we are about six weeks out from the event. Is there anything you need from CNCF or do you have any questions we can help answer? I see your Twitter is very active 🚀

[2021-04-22 12:35] #392 closed

[2021-04-22 12:37] xmulligan commented on #169
@nkhare just wanted to check in with you. The event is about 8 weeks away. Is there anything you need from CNCF or do you have any questions about the platform?

[2021-04-22 12:49] raelga commented on #385
Hey @xmulligan,

Thanks for the ping! We are quite on track, already have about 20 talks summited and we are looking for more speakers to improve the panelists diversity.

We are about to launch the event image (a bit late, but it will be still useful for this event and for future events!). Once we have the event "branding", we will push further the twitter and other social media visibility.

[2021-04-22 13:14] xmulligan commented on #386
@seungkyua @protess I've created the chapter in Bevy and added the orgnaizers as lead for the chapter. The chapter is currently hidden, but we can make it public whenever you are ready.

Can you let me know how many people you expect? Also have you decided what to do about a financial sponsor?

[2021-04-22 13:28] xmulligan commented on #387
@mattj-io I've created the region in Bevy and added you as the admin. Let me know who else should be added. The chapter is also currently hidden until you have time to build it out.

Have you had a chance to create the Twitter account yet?

[2021-04-22 13:32] protess commented on #386
@xmulligan we are expecting 500 virtual attendees for this year's event and as for the financial sponsor, we will be using a local agency. Also, we are hoping to set concrete details by the first week of May for the event

[2021-04-22 14:49] xmulligan commented on #386
@protess Great! Let me know if you need help from me once you have the details sorted

[2021-04-22 14:50] xmulligan commented on #385
Great and glad to hear you are working to improve the diversity! Let me know if you need any other help from me. Looking forward to it!

[2021-04-22 15:14] amouat commented on #387
I've created the twitter account https://twitter.com/kcduk_io (not sure why there's a restricted warning currently) but I had an issue with the e-mail alias, so it's currently going to me.

We wanted to use hello@kcduk.io which I believe Nick Jones configure to forward to organizers-uk@kubernetescommunitydays.org. However, I never received any e-mail using that address. Could we verify organizers-

[2021-04-22 16:30] xmulligan commented on #387
@amouat thanks for creating the account! I've also updated your email so it should work now

[2021-04-22 16:32] amouat commented on #387
Thanks!

[2021-04-24 11:44] nkhare commented on #169
@xmulligan Things are shaping up and everyone in the team doing their best.  Would it be possible to do a blog about the keynote speakers, sessions etc on the CNCF blog? We'll schedule the demo with the Bevy team soon and discuss about out schedule to see if there would be any challenges.

[2021-04-25 06:09] bsctl opened #395 "Kubernetes Community Day Italy 2021"
### Event Location:
Milan, Italy

### Event Date and Time:
17/18 November 2021

### Event type:
Virtual

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day event in the same region
* [x] Minimum of 3 organisers from 3 different organisations
* [x] Every organiser has an account on [Cloud Native Community Groups](https://community.c

[2021-04-25 22:29] xmulligan commented on #169
@nishakm Great to hear! You can absolutely write a blog for the CNCF website. You can find all the guidelines here https://github.com/cncf/foundation/blob/master/blog-guidelines.md. I am also happy to review it for you if you are interested. Let me know if you need anything else 😃

[2021-04-25 22:33] xmulligan opened #396 "test"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location:

### Event Date and Time:

### Event type:

### Submission checklist:

*Please check each of these as you complete them:

* [ ] No other Kubernetes Community Day event in the same region
* [ ] Minimum of 3 organizers from 3 different

[2021-04-25 22:33] #396 closed

[2021-04-25 22:54] xmulligan commented on #395
@bsctl thanks for putting this together!

I've updated the email forward organizers-milan@kubernetescommunitydays.org to all of the organizers listed above. A note on the date, #387 will be hosted September 15-16 and KubeCon NA will be October 12-15. I'm not sure how much overlap there will be between the audiences for the different events, but I just wanted to make you aware while you are schedul

[2021-04-26 07:10] bsctl commented on #395
@xmulligan thanks for your review. Actually, the date of Sept 2021 is just a placeholder. We'll update it as soon we find a suitable date.

[2021-04-26 14:21] nishakm commented on #169
@xmulligan I think you tagged the wrong person :). I will mute this thread.

[2021-04-26 23:33] xmulligan commented on #169
Sorry meant to tag @nkhare

[2021-04-26 23:34] xmulligan commented on #395
@bsctl good to know. Just wanted to make sure you were aware and let me know when you finalize the date.

[2021-04-27 19:16] bsctl commented on #395
Hey @xmulligan could you please add Annalisa.Gennaro@sparkfabrik.com to organizers-milan@kubernetescommunitydays.org? She’ll help us for the organization.  @paolomainardi

[2021-04-27 19:31] xmulligan commented on #395
@bsctl yes, I've just added her to the forward

[2021-04-30 18:43] pasimoes opened #397 "KCD Latin America 2021 -- Virtual"
# Kubernetes Community Days Latin America 2021 -- Online Edition

## Goals and Objectives
The main objective is to create a platform for community members to share their knowledge, tips, tricks, use-cases, and learning. Kubernetes and the cloud-native eco-system is very popular in the region, a major KPI of this event will be how much interest we can create towards learning, using, or contributing

[2021-04-30 19:25] xmulligan commented on #397
@pasimoes thanks for putting this together! Really looking forward to seeing this event come together. Let me know if you have any questions or if there is anything I can help with

[2021-05-02 18:21] fabriziopandini commented on #395
Yay!

[2021-05-03 17:01] bsctl commented on #395
@xmulligan since no other events in Italy, we wonder to ask you if we can rename it as "Kubernetes Community Day Italy 2021"

[2021-05-03 17:53] xmulligan commented on #395
@bsctl that is fine for me unless another event in Italy steps forward and also wants to have an event

[2021-05-03 18:08] bsctl commented on #395
Thanks for quick replay. In such case, we'll manage it.

[2021-05-04 11:44] xmulligan commented on #395
@bsctl I've also updated the name of the chapter in Bevy

[2021-05-05 16:44] paolomainardi commented on #395
thanks a lot @xmulligan

[2021-05-10 16:09] pasimoes commented on #383
I agree to the [event guidelines](https://community.cncf.io/kubernetes-community-days/about-kcd/) and I agree to abide by the Kubernetes Community Day [Code of Conduct](https://kubernetescommunitydays.org/code-of-conduct/)

[2021-05-11 00:54] amandabhmg commented on #383
I agree to the event guidelines and I agree to abide by the Kubernetes Community Day Code of Conduct as well.

[2021-05-11 15:29] FeynmanZhou opened #399 "KCD China 2021"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location: China

### Event Date and Time: October 16, Beijing and November 6, Shanghai

### Event type: In-person

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day event in t

[2021-05-18 12:19] pbaderia01 commented on #388
Piyush Baderia, Dream11, DevOps Engineer, piyush.baderia@outlook.com, Piyush Baderia

[2021-05-18 12:48] divya-mohan0209 commented on #388
I'd like to withdraw my name from the list of organizers after giving it considerable thought. Apologies Sumit & Bill.

[2021-05-18 12:55] nikhita commented on #388
@kesseract @pbaderia01 :wave: Hi, I am from Mumbai as well.

Can you elaborate on why it might help to have a separate KCD Mumbai conference as well, given that we have KCD Bengaluru too? To be clear, I don't want to block the effort. I am just curious. :blush:

We don't have a big k8s community in Mumbai. It also looks like most folks are burnt out from virtual conferences. I think it would have

[2021-05-18 12:59] cpanato commented on #383
I agree to the event guidelines and I agree to abide by the Kubernetes Community Day Code of Conduct as well.

[2021-05-18 14:34] kesseract commented on #388
@divya-mohan0209  - No worries. Thanks for your update.

@pbaderia01 - Thanks for showing your interest.

@nikhita  - Thanks for looking into it and your wise thought. I agree with you to some extent. Based on your comment, below are my thoughts:

1. Since KCD Bengaluru is scheduled on 26th June 2021, can we look for KCD Mumbai dates in December or during shut down period? With this, there will be

[2021-05-18 14:48] pbaderia01 commented on #388
Hey @nikhita!

I understand that we don't have a big community in Mumbai at the moment but we're starting to garner some support for a community in Mumbai. I believe https://community.cncf.io/mumbai/ is evident of that (we've gone from about 5-6 members to 60 in the last couple of days) and we have many other meetups on the cards as well. This conference in itself will take a couple of months to f

[2021-05-18 15:05] xmulligan commented on #383
Thanks everyone for putting this together 🎉

Are you planning on having any financial sponsors and will this be a free event?

[2021-05-18 15:19] xmulligan commented on #399
@FeynmanZhou sorry for the delay on getting to this. I was out on vacation last week.

It looks like you already have a lot of the boxes checked off!

Since this will be in person, I have a couple of questions:
1. Do you know the exact date you want in August?
2. Do you have a location or event venue chosen?
3. Will this be a free event?
4. Who will the financial sponsor be?

Looking forward to wo

[2021-05-19 04:33] FeynmanZhou commented on #399
1. Do you know the exact date you want in August?
Will ensure the date soon.
2. Do you have a location or event venue chosen?
Beijing.
3. Will this be a free event?
Yes.
4. Who will the financial sponsor be?
Huawei, PingCAP, QingCloud

[2021-05-20 16:55] xmulligan commented on #399
Just an FYI. There will also be a KubeCon + CloudNativeCon China in early december https://www.lfasiallc.com/kubecon-cloudnativecon-open-source-summit-china/

as for 4, I meant "Fiscal sponsor that will accept payments" rather than the sponsors themselves :)

[2021-05-20 17:05] xmulligan commented on #388
CNCF generally leaves it up to the community to decide what is best for them. You can wait for in person to come back or if the community is still growing, you could also consider a smaller event. Washington DC is doing a half day event since they have a smaller community. https://community.cncf.io/events/details/cncf-kcd-washington-dc-presents-kubernetes-community-days-washington-dc-2021/

It is

[2021-05-21 22:40] pasimoes opened #400 "KCAD UFRJ Brasil 2021 -- Virtual"
Kubernetes Community Academy Days UFRJ, Brasil 2021 -- Online Edition

## Goals and Objectives
The main objective is to create a platform for community members to share their knowledge, tips, tricks, use cases, and learning for students and teachers of the Academy and assist in community expansion to the Academy. Kubernetes and the native cloud ecosystem are very popular in the region. An importan

[2021-05-24 14:32] pasimoes commented on #383
We are closing the financial sponsor this week.

[2021-05-25 07:28] xmulligan commented on #400
This is amazing and I can't wait to see this event come together! Let me know if you need any help along the way 🎉

[2021-05-25 23:41] prithvi1307 commented on #383
I am really looking forward to KCD Brazil! This is going to be great! Thanks @pasimoes :)

[2021-05-26 14:29] idvoretskyi commented on #400
/cc

[2021-05-27 07:41] pbaderia01 commented on #388
@xmulligan The idea to have a smaller event sounds really great! I will try and sync up with a couple of other organisers/community leaders to see which communities can make a joint effort to organise a single event.

[2021-05-27 10:48] amouat commented on #387
@xmulligan we'd like to get the CfP out this week. Is there anything else we need to do move to the next stage in the workflow?

[2021-05-27 12:06] xmulligan commented on #387
Josh Michielsen should have access already. Let me know if you need me to resend or if there is anyone else you would like me to add

[2021-05-27 12:29] denhamparry commented on #387
@xmulligan please could you give me access as admin

[2021-05-27 12:48] denhamparry commented on #387
All completed and I now have access, thanks @xmulligan :pray:

[2021-05-27 13:59] amouat commented on #387
Sorry to pester you again @xmulligan, but could we add two more organizers? Details as follow:

Danny Abukalam, SoftIron, Product Engineering Lead, danny@abukalam.com, dabukalam
Paula Kennedy, Syntasso, Chief Operating Officer, paula.louise.kennedy@gmail.com, Paula Kennedy

[2021-05-27 15:47] xmulligan commented on #387
@amouat I've added them above and as organizers to the chapter. Let me know if you need anything else!

[2021-05-29 14:43] kesseract commented on #388
Thanks Bill, for your suggestion.

FSI User Group doesn't seem to be active. I think we can engage if few people starts discussion around this FSI community.

Agree with you Piyush. Let's work on it.

[2021-06-02 01:52] matthewflannery commented on #391
Rather than Oct 21, we are now looking at Mar 22 to allow for planning of an in-person conference.

[2021-06-02 21:25] xmulligan commented on #363
All videos from KCD Africa are now up on Youtube. Thanks again everyone for such an amazing event! :tänzerin:
https://www.youtube.com/playlist?list=PLj6h78yzYM2P9aHZVgJOb7WG1wyQSepwW

[2021-06-02 21:25] #363 closed

[2021-06-02 21:33] xmulligan commented on #381
@CathPag I've moved this into execution now. Do you know when the CfP will be launch and do you need any more help from me?

[2021-06-02 21:34] xmulligan commented on #383
@pasimoes is this still on track for August and do you need any help from me?

[2021-06-03 08:04] CathPag commented on #381
Thanks, @xmulligan. @sudo-bmitch and Jason Morgan (whom I can't tag here for some reason) handle the CFP. Brandon, any update? Do you need help from Bill?

[2021-06-03 09:07] xmulligan commented on #395
@paolomainardi have you chosen a date for the conference yet? Also  do you know when the CfP will  launch?

[2021-06-03 09:16] xmulligan commented on #390
I just wanted to follow up on this issue and see if you needed any help. Also in case you missed it KubeCon CloudNativeCon EU 2022 will be may 17-20 https://events.linuxfoundation.org/kubecon-cloudnativecon-europe-2022/

[2021-06-03 09:18] xmulligan commented on #400
@pasimoes I know the event date is a month away. Do you think you have enough time to plan and execute the event? Is there anything that CNCF can help with?

[2021-06-03 09:19] xmulligan commented on #399
@FeynmanZhou have you picked a date for the event yet? The middle of August is about 10 weeks away. Is there anything else you need from CNCF?

[2021-06-03 09:20] xmulligan commented on #397
Just wanted to check in on the planning of this event. Do you have a rough date for it?

[2021-06-03 10:48] amouat commented on #387
Thanks @xmulligan ! We're not sure about next steps; how do we announce the CFP - will CNCF help here?

[2021-06-03 14:16] LexiNadolski commented on #390
Hey @xmulligan, I am not sure about this yet. We will be having a meeting closer to the end of the summer to discuss all of this. We will let you know as soon as things are clear. We would like to have an in-person event which is why doing it next year made most sense. I think for the fiscal sponsor, we will need to chat at the meeting. Talk soon!

[2021-06-03 14:27] pasimoes commented on #383
@xmulligan Yes, we are closing some points and having conversations with potential sponsors. At this moment, we have to meet the sponsorship rule.

[2021-06-03 14:34] cpanato commented on #390
@LexiNadolski i will wait some updates from you then I can update this issue :)

[2021-06-03 14:43] paolomainardi commented on #395
@xmulligan hi! Yes, we have a date: **17/18 November 2021**
The CFP  date is still on hold as we need to launch the website, i'll keep you posted.

[2021-06-03 16:17] xmulligan commented on #395
@paolomainardi Great! Looking forward to the final confirmation. Let me know if you need any help with the website or CfP

[2021-06-03 16:18] xmulligan commented on #390
@LexiNadolski thanks for the update! I'll check back in once summer holidays are over. If anything comes up in the meantime, please feel free to reach out :)

[2021-06-03 16:38] xmulligan commented on #387
@amouat CNCF is happy to help promote the CFP. We have a section in our monthly newsletter dedicated to KCD and we are happy to add it there. If you make Tweets from the KCD UK handle, both the KCD and CNCF handles can reweet them. We can also add them to KubeWeekly if you are interested. Does that help or are there other channels you would like to leverage?

The team for Bengaluru also wrote a bl

[2021-06-03 23:37] sudo-bmitch commented on #381
I'm hoping to get a second set of eyes on the CFP before releasing to the public. I think Jason is working on that, but haven't seen an ETA from him. @xmulligan if there's any documentation or guides on setting up our CFP's in smapply, I'm happy to go over that. It was mostly poking through menus and hoping I updated all the fields for our name and date, but very possible I missed some nested sett

[2021-06-04 14:05] FeynmanZhou commented on #399
Due to the cronavirus, we plan to postbone the KCD China to the end of August or September.

[2021-06-04 15:45] xmulligan commented on #381
@sudo-bmitch here are a couple links for you and I'll also add these to the documentation on Github
Testing your Program: https://help.smapply.io/hc/en-us/articles/115001609313-Testing-your-Program
Help Center Resources: https://help.smapply.io/hc/en-us
Training Videos: https://help.smapply.io/hc/en-us/categories/115000187973-Implementation-Training-Videos
Build + Launch: https://help.smapply.io/h

[2021-06-07 15:55] fabriziopandini commented on #395
@xmulligan date confirmed. We are going to follow up with dates for CFP asap

[2021-06-07 16:17] xmulligan commented on #395
Awesome! Can you just udpate it in the issue at the top. Excited to see the CfP launch

[2021-06-10 07:40] ricolin opened #401 "KCD Taiwan 2021"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location:
Online(Taiwan)
### Event Date and Time:
2021/12/03
### Event type:
virtual
### Submission checklist:

*Please check each of these as you complete them:

* [*] No other Kubernetes Community Day event in the same region
* [ ] Minimum o

[2021-06-10 13:30] xmulligan commented on #399
Great! Once you have the date chosen, let me know and I can create the region in Bevy. Is there anything else you need from me right now?

[2021-06-10 14:13] xmulligan commented on #401
@ricolin thanks for starting to pull this together! Let me know if you need any help or have questions along the way 😄

[2021-06-17 14:31] pasimoes commented on #400
Yes. We will make it.

[2021-06-19 08:56] raelga commented on #385
![kcdspain2021](https://user-images.githubusercontent.com/795289/122636404-637c9b00-d0e9-11eb-9feb-0235c7b57a2b.jpg)

## KCD Spain 2021 ✅

The event concluded last week with awesome numbers!

- **+80 proposals received during the CfP**
- **876 attendees**
- **over 30 talks selected**
- **43 speakers from 31 companies**
- **25+ hours of content 100% in Spanish**

Videos are already uploaded to http

[2021-06-21 20:04] xmulligan commented on #385
Honestly a spectacular event put on by an amazing team 😍 I think this is a spark that will drive forward the Spanish speaking cloud native community and bring them to the next level. Can't wait to work with you on next year's event and all of the other things being planned!

[2021-06-21 20:04] #385 closed

[2021-06-24 22:44] xmulligan commented on #386
@protess just checking in again, is there anything I can do to help? When do you think the CfP and event page will be live?

[2021-06-24 23:05] xmulligan commented on #395
@fabriziopandini do you know when you will be ready to launch the CfP? Our newsletter is going out next Friday and it would be great to include

[2021-06-24 23:06] xmulligan commented on #399
@FeynmanZhou I just wanted to check back in with you. Have you chosen a date?

[2021-06-24 23:09] xmulligan commented on #383
@pasimoes do you know when the website and CfP will be ready? Our newsletter is going out next week and it would be great to be able to include them

[2021-06-24 23:10] xmulligan commented on #401
@ricolin I just wanted to check in on you and see if you needed anything from me. Have you found any sponsors yet?

[2021-06-25 13:26] fabriziopandini commented on #395
@xmulligan we have a tentative calendar with CFP opening the 15th of July and closing the 15th of September. I will confirm dates after our sync up on Monday next week

[2021-06-30 02:58] ricolin commented on #401
Hey @xmulligan We currently working on sponsorship doc and some related stuff, so no signed sponsor yet, but we do have some high hope from certain companies.

[2021-06-30 09:33] xmulligan commented on #169
This event was a great success with over 1671 attendees. Looking forward to the next edition!  💯

[2021-06-30 09:33] #169 closed

[2021-06-30 11:50] xmulligan commented on #401
Great! Let me know if you need anything in the meantime. I'll be on vacation the 4-18 of July, but message Ihor in slack if you need anything

[2021-07-01 14:08] caniszczyk commented on #393
done

[2021-07-01 14:08] #393 closed

[2021-07-10 12:41] zufardhiyaulhaq opened #402 "KCD Indonesia 2021 - Virtual"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location:
Online

### Event Date and Time:
27/11/2021

### Event type:
Virtual

### Submission checklist:
*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day event in the same region
* [x] Minimum of 3 or

[2021-07-11 10:47] zufardhiyaulhaq commented on #402
cc  @cloudnative-id/kubernetes-community-days

[2021-07-11 22:37] #400 closed

[2021-07-11 22:38] pasimoes commented on #400
Cancelled 😞

[2021-07-11 22:38] #397 closed

[2021-07-11 22:39] pasimoes commented on #383
Event Canceled

[2021-07-13 12:38] zufardhiyaulhaq commented on #402
@xmulligan can you check and verify? thanks.

[2021-07-14 10:40] Saim-Safdar opened #404 "Submission Request for KCD Pakistan"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location:
Islamabad, Paksitan

### Event Date and Time:
November, 13, 14

### Event type:

hybrid

### Submission checklist:

*Please check each of these as you complete them:

* [1] No other Kubernetes Community Day event in the same region
*

[2021-07-14 11:05] #404 closed

[2021-07-14 11:56] Saim-Safdar opened #405 "KCD Pakistan 2021"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location:
Online

### Event Date and Time:
9/13/2021

### Event type:
Virtual

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day event in the same region
* [x] Minimum of 3 or

[2021-07-14 12:01] Saim-Safdar opened #406 "KCD Pakistan 2023 (February 17)"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location:
Islamabad FAST University

### Event Date and Time:
February 20, 2023

### Event type:
in-person event

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day event in th

[2021-07-14 12:01] #405 closed

[2021-07-15 15:54] zufardhiyaulhaq commented on #402
@xmulligan we also have several questions about KCD.
1. did we get free SurveyMonkey for CFP and Bevy for the event free from CNCF?
2. how we create KCD page on community.cncf.io, did we need to submit it to some repository?

[2021-07-19 09:46] bsctl commented on #395
@xmulligan hello we have renamed the event from "KCD Milan to KCD Italy. Could you please update the email forward `organizers-milan@kubernetescommunitydays.org` to `organizers-italy@kubernetescommunitydays.org`? Thank you very much!

[2021-07-19 19:18] KTan1226 commented on #383
In order to serve the Brazilian cloud native community, CNCF will take over the lead organizer responsibilities and reschedule KCD Brazil to a new date. To learn more about our decision, please read this Twitter thread by our GM Priyanka Sharma: https://twitter.com/pritianka/status/1415148020362977283?s=20.  Updated issue coming soon.

[2021-07-19 19:39] #383 closed

[2021-07-19 19:41] KTan1226 opened #407 "KCD Brazil 2021"
### Event Location: Online

### Event Date and Time: 18th January, 2022

### Event type:  Virtual

### Submission checklist for organizers:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day event in the same region
* [x] Minimum of 3 organizers from 3 different organizations
* [x] Every organizer has an account on [Cloud Native Community Groups](https://co

[2021-07-19 19:41] KTan1226 commented on #407
In order to serve the Brazilian cloud native community, CNCF will take over the lead organizer responsibilities and reschedule KCD Brazil to a new date. To learn more about our decision, please read this Twitter thread by our GM Priyanka https://twitter.com/pritianka/status/1415148020362977283?s=20.

[2021-07-19 19:43] KTan1226 commented on #383
This issue has been closed. In order to serve the Brazilian cloud native community, CNCF will take over the lead organizer responsibilities and reschedule KCD Brazil to a new date. To learn more about our decision, please read this Twitter thread by our GM Priyanka https://twitter.com/pritianka/status/1415148020362977283?s=20.

Please find the new issue here:  https://github.com/cncf/kubernetes-co

[2021-07-19 20:49] ellenkorbes commented on #407
"Para servir a comunidade cloud native brasileira, a CNCF vai assumir a liderança das responsabilidades de organização e remarcar o KCD Brasil para uma nova data. Para ler mais sobre nossa decisão, veja esta thread no Twitter da nossa GM Priyanka [...]"

[2021-07-20 02:19] bradmccoydev commented on #391
@scotty-c and @jorgearteiro will be helping out also

[2021-07-20 10:51] cpanato commented on #407
/subscribe

[2021-07-20 22:13] rikatz commented on #407
/cc

[2021-07-21 03:21] otaviojava commented on #407
/subscribe

[2021-07-21 08:01] idvoretskyi commented on #402
1. Yes
2. We’ll create it for you once the event is approved

[2021-07-21 12:24] zufardhiyaulhaq commented on #402
Hi @idvoretskyi,

Since @xmulligan is out of the office until 22 August, do you know other people who can approve this? since we want to have CFP, search for sponsors, and do the marketing as soon as possible to get more people to contribute and join the event.

[2021-07-21 12:52] idvoretskyi commented on #402
@zufardhiyaulhaq I believe that Bill is coming back sooner, so let's wait for him :)

[2021-07-21 13:18] annalisag-spark commented on #395
@xmulligan we solve with @idvoretskyi in the meantime ;)
thanks anyway!

(e grazie @bsctl !)

[2021-07-22 12:42] zufardhiyaulhaq commented on #402
@idvoretskyi for the online conference, it's also using Bevy platform provided by CNCF right?

[2021-07-22 16:43] xmulligan commented on #402
@zufardhiyaulhaq sorry for the delay getting back to you, just getting back from vacation and Github doesn't have an OOO yet :D

Yes the CfP and Bevy platform for the conference will be provided by CNCF

It looks like you already have many of the boxes completed. One that has been recently added and hasn't been updated in the template yet is that the CFP admins must take [Inclusive Open Source Com

[2021-07-23 10:56] xmulligan commented on #406
@Saim-Safdar really glad to see this event moving forward! Do you think you will have enough time to run a CfP and review the applications if the event is only 7 weeks away?

We also just updated the template with two more things:

- [ ] all organizers needs to take https://training.linuxfoundation.org/training/inclusive-open-source-community-orientation-lfc102/
- [ ] can you provide me access to

[2021-07-23 10:59] xmulligan commented on #406
I've also added all of you to the organizers-pakistan@kubernetescommunitydays.org email forward

[2021-07-23 11:01] xmulligan commented on #399
@FeynmanZhou are you still planning on holding this event, is it delayed, or has it been canceled?

[2021-07-23 11:01] xmulligan commented on #401
@ricolin how is your progress for sponsors?

[2021-07-23 11:02] xmulligan commented on #395
Sorry was out on vacation, glad you were able to resolve it in the meantime. Let me know if you need anything else :)

[2021-07-23 11:17] xmulligan commented on #402
I've also added the organizers-indonesia@kubernetescommunitydays.org alias to go to all of the organizers

[2021-07-23 11:43] zufardhiyaulhaq commented on #402
Hi @xmulligan, can you forward the alias to organizer-kcd-indonesia@googlegroups.com since our organizer email (organizer@kubernetesdays.id.) also forward to this group. So in the future, if we need more organizers, we can add directly to the group without involving you.

[2021-07-23 12:06] xmulligan commented on #402
@zufardhiyaulhaq yes, organizer-kcd-indonesia@googlegroups.com has been added too :)

[2021-07-24 04:02] FeynmanZhou commented on #399
@xmulligan

Sorry for the late reply.

After we discussed with the committee of KCD China, we plan to delay this event until the middle of October.

[2021-07-24 11:15] Saim-Safdar commented on #406
[Twitter Handle](https://twitter.com/KCDPaksitan)
[LinkedIn](https://www.linkedin.com/company/kubernetes-community-days-pakistan/)
Facebook TBD
Instagram TBD

[2021-07-25 09:16] zufardhiyaulhaq commented on #402
Hi @xmulligan we currently have two people from the organizer that will be reviewing CFP, both of them already take the LFC102 course, you can see the progress tracking here https://github.com/cloudnative-id/kubernetes-community-days/issues/13.

can you help create the SM and Bevy?

[2021-07-26 04:29] sergioarmgpl opened #408 "KCD Guatemala 2021"
### Event Location:
Guatemala

### Event Date and Time: November 26-27, 2021

### Event type:
Virtual

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day event in the same region
* [x] Minimum of 3 organizers from 3 different organizations
* [x] Every organizer has an account on [Cloud Native Community Groups](https://community.cnc

[2021-07-26 14:27] ricolin commented on #401
@xmulligan
We already have three sponsor promised, but our sponsorship brochure is not released yet. We plan to do it next month.
On the other hand, can you help to generate KCD Taiwan logo? so we can put it in our brochure

[2021-07-26 16:04] xmulligan commented on #402
Great! I just created the accounts for you, let me know if anyone else needs access.

Have you planning on having sponsors for the event?
Can you give me access to the social handles for the events?

[2021-07-26 16:07] xmulligan commented on #401
@ricolin You can find the KCD logo here https://github.com/cncf/artwork/blob/master/examples/other.md#kubernetes-community-days. Is that ok or do you want something else?

[2021-07-26 16:14] ricolin commented on #401
It's what I'm asking:) thanks

[2021-07-26 16:19] xmulligan commented on #408
@sergioarmgpl thanks for creating this, really looking forward to the event!

I've added each organizer to the slack channel. Let me know once you have more updates and need access to other things

[2021-07-26 16:21] sergioarmgpl commented on #408
Sure, thanks for all 🙂😎

[2021-07-26 16:31] xmulligan commented on #406
Thanks for the update on the date, I think it will give you more time to put on an awesome event!

Thanks for the links, but we would also like to have control of the social accounts so we can ensure continuity of events

Let me know when you all have taken the course and I can set up the Bevy and SM Apply

[2021-07-26 16:47] zufardhiyaulhaq commented on #402
Hi @xmulligan, will give you a list of people that need access to the Bevy.

Yes, we plan on having sponsors for the events.
We only have Twitter for the KCD but until still not managed, since we still plan for proposal & CFP.

[2021-07-26 17:16] zufardhiyaulhaq commented on #402
also @xmulligan please check [this document](https://docs.google.com/document/d/1xcLsZtpZXWm9ZueT67rRwBDEAhOuUnSB_KQKOUEgym8) related to CFP. we are in progress for the content tracked here. https://github.com/cloudnative-id/kubernetes-community-days/issues/6

[2021-07-27 14:58] xmulligan commented on #402
@zufardhiyaulhaq can you give me access to it?

[2021-07-27 15:14] zufardhiyaulhaq commented on #402
Hi @xmulligan give you the access. please check Slack. Also, I collect several questions from other organizer:
1. We plan to make this event a paid event with low price to allow student participations. The reason behind it is because we don't want to have a high drop rate. As a commitment fee of 2$, we will send them a small merch. For the paid events, do we have any flow or requirements that we m

[2021-07-28 14:24] xmulligan commented on #402
@zufardhiyaulhaq thanks for access! To answer your questions:

1. All of our previous virtual events have been free without a large drop rate. If you still want to be able to charge for the event, would you be willing to donate the proceeds to the CNCF scholarship fund? Reimbursing them to you is also possible just more complicated.
2. You don't need to use that feature. You can do all of your inv

[2021-07-28 14:43] xmulligan commented on #401
@ricolin who will be running the CfP? I can create the accounts now if you want

[2021-07-28 14:53] xmulligan commented on #386
@protess @seungkyua Are you still planning on moving forward with this event? It is only 6 weeks away and the CfP still hasn't been launched. Do you need to delay the date?

[2021-07-28 15:06] xmulligan commented on #387
@amouat @mattj-io I wanted to check back in with the team. Is there anything you need from CNCF for the event? Are you happy with the CfP?

[2021-07-28 15:53] xmulligan commented on #399
@FeynmanZhou sure that also works. I've just given you access to SM Apply so you can set up the CfP

Once you choose an exact date, I can set up your account in Bevy

As a recent requirement, all organizers need to take https://training.linuxfoundation.org/training/inclusive-open-source-community-orientation-lfc102/. Can you let me know when everyone has completed it?

[2021-07-28 16:15] zufardhiyaulhaq commented on #402
Hi @xmulligan thanks for the answer, we will get back to you by EOW.

[2021-07-28 16:54] ricolin commented on #401
@xmulligan That's great, Hazel Shen <hazel910159@gmail.com> will be moderating the CFP process (if that's what you asking). Please help to create the accounts for us.

[2021-07-29 05:39] protess commented on #386
@xmulligan We don't plan on delaying the event and we were getting CfP by using google form as we are not comfy with the platform yet.

[2021-07-29 13:55] xmulligan commented on #386
@protess ok, can you share a link to the google form?

also when do you think your event will go live on the community.cncf.io platform?

[2021-07-29 14:00] protess commented on #386
@xmulligan Below is the link to the google form and we are planning open the event page on 8/2
https://docs.google.com/forms/d/e/1FAIpQLScMxjkfFYEoypk-nWwc6Qi7JEVFjztwxEiubr-yoMXfTH28WA/viewform

[2021-07-29 14:09] xmulligan commented on #401
@ricolin perfect, they should have an email with an invite to the platform now. Let me know if it didn't work.

Will you be creating an social media accounts for the event?

Also all organizers now need to take https://training.linuxfoundation.org/training/inclusive-open-source-community-orientation-lfc102/. can you let me know when you have done so?

[2021-07-29 14:15] xmulligan commented on #386
@protess  Great, thanks for the quick update! Let me know if you need any help with the getting the event page launched :)

[2021-07-30 13:52] zufardhiyaulhaq commented on #402
Hi @xmulligan

We decide to make this even free, with an additional package of merchandise (IDR 100.000 or 7$) that people can choose from, and we will send them a merch like a t-shirt and a sticker pack (all money will be returned to them in the form of merchandise).

We are ready to open CFP, can you help us give access to smapply.io?

[2021-07-30 14:52] xmulligan commented on #402
@zufardhiyaulhaq sorry I forgot to note it here earlier. I already created the SM Apply account and gave Giri  and Aris access. They should have both already received emails about it three days ago. Let me know if they didn't and I can resend. Or if anyone else needs access.

[2021-07-30 14:53] xmulligan commented on #402
Sounds good about the merchandise 💯

[2021-07-30 15:03] zufardhiyaulhaq commented on #402
Hi, @xmulligan I need to check with Giri and Aris. meanwhile, can you give me access to the SM Apply?

FYI, In the next few days or months, we will actually have more people for CFP reviewers, we want to invite people from other open-source organizations in Indonesia like OpenStack, DevOps, and Open Networking community.

[2021-07-30 15:43] xmulligan commented on #402
@zufardhiyaulhaq you should have the invite now too. For reviewers, you should be able to invite them yourself https://help.smapply.io/hc/en-us/articles/115001428533-How-to-Add-Remove-a-Reviewer

Let me know if you need anything else :)

[2021-08-02 08:58] xmulligan commented on #408
I've created the organizers-guatemala@kubernetescommunitydays.org forward for the organizers above.

If you are planning on having a social account, can you provide me access with it too?

[2021-08-02 12:18] xmulligan commented on #381
@CathPag I just wanted to check in with you now that you are about half way through the CfP. Is there anything you need from CNCF?

Also can you provide me access to your Twitter account? We are trying to centralize access to we can have better continuity

[2021-08-02 12:25] CathPag commented on #381
@sudo-bmitch and @JasonMorgan, could you please provide Bill with an update regarding CFPs? Not sure where we are at.

Regarding the Twitter account, I'll have to as Michaela Lozano (Williams).

[2021-08-02 12:47] sudo-bmitch commented on #381
@xmulligan We're still thin on submissions, but this is my first time on reviewing the CFP's and it may be normal for everyone to wait until the last minute (I know I would when I submit them). Any additional publicity is welcome.

[2021-08-02 13:53] xmulligan commented on #381
@sudo-bmitch from our experience, people always wait until the last minute. The schedule for KubeCon NA is coming out this week so maybe you can pick up some of the rejects from there. If you have a tweet, we would be happy to include it in KubeWeekly

[2021-08-02 14:24] xmulligan commented on #399
@FeynmanZhou Can you let me know when you plan on opening and closing the CfP and launching the event site?

[2021-08-02 15:10] sergioarmgpl commented on #408
@xmulligan Thanks, I added Leo and Carlos as new organizers. About the social account, do you mean an email or the part to create the Twitter?

[2021-08-02 16:05] xmulligan commented on #408
the twitter account, we already have access to the email :)

[2021-08-02 16:07] xmulligan commented on #408
I've also added both Leo and Carlos to the slack channel and the email

[2021-08-03 13:38] xmulligan commented on #386
@protess do you need any help getting the page out? Are there any other parts of the event that I can help with?

[2021-08-03 16:38] FeynmanZhou commented on #399
Thanks @xmulligan !

I have received the account invitation from Bevy. I will inform all organizers to take the LF inclusive training and reply to you about the training, CFP plan, and event site this week.

[2021-08-04 06:22] protess commented on #386
@xmulligan I am planning to finish the event page today so, if I need any assistance I will call for your help thanks in advance.

[2021-08-04 07:37] protess commented on #386
@xmulligan how is this booth work? I have made one but can't find anywhere on the draft page

[2021-08-04 08:54] xmulligan commented on #386
@protess You can find the full article here https://help.bevylabs.com/article/514-booths

Let me know if you need more help

![image](https://user-images.githubusercontent.com/29048870/128152422-be15cc7b-7441-45df-a450-e74a216b4464.png)

[2021-08-04 11:41] protess commented on #386
@xmulligan I have published the event but there are few things that I still have to fix. I will let you know once I am done

[2021-08-04 12:30] zufardhiyaulhaq commented on #402
Hi @xmulligan thanks. we finish setup the smapply.io to accept CFP, can you help take a look?

[2021-08-04 12:36] protess commented on #386
![image](https://user-images.githubusercontent.com/9170833/128181573-8979e256-7161-4e94-8bea-b5c304580a6f.png)
@xmulligan how do I add a speaker?

[2021-08-04 13:34] xmulligan commented on #386
@protess you first need to add them as a speaker https://help.bevylabs.com/article/364-add-a-speaker-profile
then you can add them to the agenda https://help.bevylabs.com/article/516-adding-speakers-sponsors

[2021-08-04 22:02] sergioarmgpl commented on #408
@xmulligan I created the Twitter is this https://twitter.com/kcdguatemala

[2021-08-05 06:37] sergioarmgpl commented on #408
Do we have to complete this course? https://training.linuxfoundation.org/training/inclusive-open-source-community-orientation-lfc102/ I read some of Priyanka's tweet. @xmulligan

[2021-08-05 06:41] sergioarmgpl commented on #408
I have this other question, if our event is free, do we need this part:
- Fiscal sponsor that will accept payments
Or could you give an example about what I have to look for this requirement, maybe in my country refers to another thing. @xmulligan

[2021-08-05 06:57] xmulligan commented on #408
@sergioarmgpl great, can you also provide me access to the twitter account?

Yes, you do need to take that course. It seems you are using the old issues template, but I'll add it above

No, you don't need a financial sponsor if you are doing the event virtual.

Let me know if you need anything else :)

[2021-08-05 07:00] xmulligan commented on #386
@protess do you need any other help making the event go live?

[2021-08-05 08:11] protess commented on #386
@xmulligan from the guide it says "Booths and Networking tables do not display in the Agenda, they are available in the event from the top navigation bar. If you do not add a Booth or Networking table, the links will not display in the Navbar (You will only see the Agenda + Stage)." but I can't find this navbar.

[2021-08-05 09:01] xmulligan commented on #386
@protess the nav bar is in the event, see the screenshot (its in German though). If you want more help, I would also be happy to have a call with you to make sure everything is all set  https://calendly.com/billmulligan/1-1-with-bill-mulligan
![image](https://user-images.githubusercontent.com/29048870/128323007-84281366-61b6-49a6-a543-28d4f10b75e3.png)

[2021-08-05 11:14] zufardhiyaulhaq commented on #402
Thanks @xmulligan we will publish our KCD page and CFP today.

[2021-08-05 11:44] xmulligan commented on #402
Awesome news! I would also like to schedule a monthly check in with you until the event so we have a regular check in point where I can help you with any issues that have arisen. Obviously, you can also contact me or have a meeting outside that time too. Can you suggest a time that works for you?

[2021-08-05 11:47] xmulligan commented on #408
I would also like to schedule a monthly check in with you until the event so we have a regular check in point where I can help you with any issues that have arisen. Obviously, you can also contact me or have a meeting outside that time too. Can you suggest a time that works for you?

[2021-08-05 11:47] xmulligan commented on #406
I would also like to schedule a monthly check in with you until the event so we have a regular check in point where I can help you with any issues that have arisen. Obviously, you can also contact me or have a meeting outside that time too. Can you suggest a time that works for you?

[2021-08-05 11:47] xmulligan commented on #401
I would also like to schedule a monthly check in with you until the event so we have a regular check in point where I can help you with any issues that have arisen. Obviously, you can also contact me or have a meeting outside that time too. Can you suggest a time that works for you?

[2021-08-05 11:48] xmulligan commented on #399
I would also like to schedule a monthly check in with you until the event so we have a regular check in point where I can help you with any issues that have arisen. Obviously, you can also contact me or have a meeting outside that time too. Can you suggest a time that works for you?

[2021-08-05 11:48] xmulligan commented on #395
I would also like to schedule a monthly check in with you until the event so we have a regular check in point where I can help you with any issues that have arisen. Obviously, you can also contact me or have a meeting outside that time too. Can you suggest a time that works for you?

[2021-08-05 11:48] xmulligan commented on #391
I would like to schedule a monthly check in with you until the event so we have a regular check in point where I can help you with any issues that have arisen. Obviously, you can also contact me or have a meeting outside that time too. Can you suggest a time that works for you?

[2021-08-05 11:48] xmulligan commented on #391
I would like to schedule a monthly check in with you until the event so we have a regular check in point where I can help you with any issues that have arisen. Obviously, you can also contact me or have a meeting outside that time too. Can you suggest a time that works for you?

[2021-08-05 11:49] xmulligan commented on #381
I would also like to schedule a monthly check in with you until the event so we have a regular check in point where I can help you with any issues that have arisen. Obviously, you can also contact me or have a meeting outside that time too. Can you suggest a time that works for you?

[2021-08-05 11:52] CathPag commented on #381
Sure. our next meeting is Aug 11 at 4:30 pm ET. Are you back in Europe or still in the US. If the former is the case, we'll have to find an earlier time.

[2021-08-05 11:55] zufardhiyaulhaq commented on #402
Hi @xmulligan sure, let me discuss with other organizers the prefered time from our side.

[2021-08-05 11:59] xmulligan commented on #381
I am in Europe until KubeCon. If there is an earlier time, that would be awesome. We can also do later this month in case there isn't a time next week. I don't have anything urgent, just want to make sure I can help you in the process :)

[2021-08-05 12:18] annalisag-spark commented on #395
That's awesome! We will all be back at the end of August (here in Italy it's vacation time, more or less) and we'll have a team meeting on the 6th of September at 5:00 pm CEST to go through the scheduled pending activities.

What about a day picked during that week, same time? I do not remember where you are located though.

[2021-08-05 14:12] xmulligan commented on #395
@annalisag-spark I'm based in Germany so quite easy :)

I can do that same time any day that week except Thursday (9th) Let me know what which works and you can send an invite to bmulligan@linuxfoundation.org

Enjoy your vacation!

[2021-08-05 17:05] sergioarmgpl commented on #408
I think that 8AM GMT-6 works, but let me ask the other organizers. @xmulligan I sent you the password and user of our Twitter on the CNCF slack

[2021-08-06 09:02] annalisag-spark commented on #395
oh ok, cool!
let's say Wednesday 8th at 5:00 pm.

we send you a placeholder and confirm when everyone is back.
in the meantime, enjoy your German summer - staycation, workcation, vacation, whatever you are gonna experience ;)

and thanks!

[2021-08-07 07:39] zufardhiyaulhaq commented on #402
Hi @xmulligan we will set up a monthly check with you, start on 19 August. Meanwhile, can you move our status to CFP Launch in https://github.com/cncf/kubernetes-community-days/projects/2? thanks

[2021-08-09 08:02] xmulligan commented on #408
Thanks I have received it. Let me know what time works to meet

[2021-08-09 08:59] xmulligan commented on #395
Perfect! Enjoy your vacation too :)

[2021-08-09 08:59] xmulligan commented on #402
Done! Looking forward to catching up with you

[2021-08-09 16:51] FeynmanZhou commented on #399
@xmulligan  PST 5:00 pm to 9:00 pm is okay for us. I think we can schedule the first meeting to sync some updates for both this month.

[2021-08-09 16:54] xmulligan commented on #399
@FeynmanZhou I'm actually based in CEST (Germany). Do any times afternoon (China) work for you?

[2021-08-09 17:10] sergioarmgpl commented on #408
I think that I am the first one to finish the course.

[2021-08-10 08:06] bradmccoydev commented on #391
Hi @xmulligan sure, what timezone are you in atm?

[2021-08-10 08:42] xmulligan commented on #391
@bradmccoydev I'm currently in CEST (Germany)

[2021-08-11 17:38] sergioarmgpl commented on #408
I think that 8AM GMT-6 works for me for the meetings @xmulligan

[2021-08-12 11:21] xmulligan commented on #408
@sergioarmgpl sure, how about the last Wednesday of every Monday (starting on August 25th?)

[2021-08-12 15:14] sergiopsyalo commented on #408
@xmulligan It works for me

[2021-08-12 15:21] sergioarmgpl commented on #408
@xmulligan It works for me

[2021-08-13 12:20] rbenzair opened #409 "KCD 2022 Paris, France"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

The information related to the original event scheduled in 2020 : https://github.com/cncf/kubernetes-community-days/issues/213

### Event Location:
City: Paris, France
Venue: https://stationf.co/venues/

### Event Date and Time:
Date: Q1 2022 (to confir

[2021-08-14 08:03] zufardhiyaulhaq commented on #402
Hi @xmulligan scheduling a monthly check for August with you. Also, do you know how this event can be published on the cncf.io website?

[2021-08-14 18:49] sergioarmgpl commented on #408
OReilly will provide us 5 ebooks for the event, Yalo is going to provide us some funds for the streaming with Streamyard, we are going to do the same as KCDSpain redirect Streamyard to Bevy

[2021-08-14 20:14] racarlosdavid commented on #408
@sergioarmgpl I also finished the course

[2021-08-16 09:20] bradmccoydev commented on #391
ok we are having our monthly meeting tomorrow, but unfortunately, it is at 4am CEST, I will add another meeting on your calendar later this week to catch up with @matthewflannery and myself

[2021-08-16 09:42] xmulligan commented on #402
@zufardhiyaulhaq perfect, thanks for doing that. Where would you like it published? It is already automatically on the LF community events. https://events.linuxfoundation.org/about/community/

[2021-08-16 09:54] xmulligan commented on #409
@rbenzair Thanks for putting this together! Looks like you already have a lot of the pieces. All of the organizers are already in the Slack channel and on the organizers-paris@kubernetescommunitydays.org email forward. Let me know when you have the dates chosen and the organizers have taken the training and we can work on getting everything built. :)

[2021-08-16 10:05] xmulligan commented on #391
@bradmccoydev yes, sadly won't make that one. If you can't find a time in my calendar, then suggest a few times and I can make something work

[2021-08-16 12:49] xmulligan commented on #386
@protess Great job on getting the site live! Do you need any more help from me before the event?

[2021-08-16 12:56] xmulligan commented on #401
@ricolin to follow up on our emails. Can you update the date of the event above and schedule a monthly check in with me? calendly.com/billmulligan/1-1-with-bill-mulligan Let me know if you need a different time

[2021-08-16 12:59] xmulligan commented on #399
@FeynmanZhou just wanted to follow up on this conversation. Do you have dates for the CfP, site, and event date? Also can you schedule a monthly check in with me? calendly.com/billmulligan/1-1-with-bill-mulligan

[2021-08-16 12:59] Saim-Safdar commented on #406
04:00 - 05:00 PM PKT Any day, would like to join and share the progress of the event with you.

[2021-08-16 13:04] xmulligan commented on #406
@Saim-Safdar perfect, I just sent you the invite for next Wednesday. Looking forward to speaking then!

[2021-08-16 13:08] Saim-Safdar commented on #406
Awesome, I always enjoy the time spending with you.

[2021-08-16 13:21] ricolin commented on #401
@xmulligan scheduled and change this to KCD Taiwan 2022 due to Pandemic reasons.

[2021-08-17 03:10] protess commented on #386
@xmulligan So far so good, I am getting used to the platform if I bump into issues I will surely let you know. Thanks!

[2021-08-21 03:24] leoaguilar97 commented on #408
Hi! I finished the _**Inclusive Open Source Community Orientation**_ course last week!

[2021-08-23 13:29] xmulligan commented on #401
The planning for this event will begin again in February 2022 and the hope for a hybrid event in the summer

[2021-08-23 16:49] sergioarmgpl commented on #408
Update: @xmulligan.
- I added myself as the CFP admin
- A third sponsor was confirmed
Pending that some of the organizers finish the Community Orientation course.

[2021-08-25 10:29] xmulligan commented on #389
@ams0 I just wanted to check in with you. Do you have any updates on the dates? Also once you get into the full swing of planning, I would like to set up a monthly check in with the team to make sure everything is on track and help resolve any issues

[2021-08-25 10:29] xmulligan commented on #388
@kesseract do you have any updates on this event?

[2021-08-25 10:34] xmulligan commented on #391
@bradmccoydev just wanted to follow up on this. Can you book a meeting? https://calendly.com/billmulligan/1-1-with-bill-mulligan

[2021-09-01 14:00] xmulligan commented on #407
@KTan1226 we are waiting to update the issue until it is all public. The planning doc is for internal purposes only

[2021-09-08 12:06] xmulligan commented on #407
The event is now live
https://www.linkedin.com/posts/kcdbrasil_kubernetes-community-days-brasil-2022-cncf-activity-6841338934396506113-7cHM
https://twitter.com/kcdbrasil/status/1435573045486309376

[2021-09-10 14:39] xmulligan commented on #399
Cfp launched on Monday through wechat
microsoft venue sponsor for both days
3 potential sponsors for gold
will run live stream with segmentfault and infoq

todo:
update website
take the training course

[2021-09-10 14:43] FeynmanZhou commented on #399
Thanks @xmulligan . This is the [meeting notes](https://docs.google.com/document/d/1VB__5EwhRYfkPGtcDgUwp1Z0oE9C1DVSWCZTIMywR30/edit#) of the KCD China weekly meeting.

### Done:

1. CFP program was officially announced on Monday via CNCF Subscription.
2. Introduce the sponsorship prospectus of KCD China 2021.
3. Microsoft has become the venue sponsor for KCD in Beijing and Shanghai.
4. Build part

[2021-09-14 10:34] xmulligan commented on #386
Another awesome KCD in the books! Attendees: 1245 Check Ins: 663

Videos can be found here https://www.youtube.com/playlist?list=PLj6h78yzYM2OO9_EWXS13LxAe-Bkn0xXt

Can't wait for next year 💯

[2021-09-14 10:34] #386 closed

[2021-09-17 09:49] xmulligan commented on #387
An awesome event 🎊 I was blown away by the quality of the presentations and production. I think the whole team can be proud of everything they did to make this event a success! Fingers crossed for an in person event next year

[2021-09-17 09:49] #387 closed

[2021-09-20 03:49] kesseract commented on #388
@xmulligan - We need to move this event early next year. I have tried reaching out to multiple CNCF community members but I am not seeing active participation. I am happy to jump on a call to discuss this with you and @pbaderia01

[2021-09-20 04:38] nkhare opened #410 "Kubernetes Community Days, Bengaluru'22"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location:
Bengaluru, India

### Event Date and Time:
23rd April'21 -10 AM - 6 PM IST

### Event type:
Virtual

### Submission checklist for organizers:

*Please check each of these as you complete them:

* [X] No other Kubernetes Community Day

[2021-09-20 13:11] xmulligan commented on #388
@kesseract thanks for the update, I would be happy to have a call with you. I also have a couple ideas about how to make this program unique based on what other KCDs have done to be successful. You can book a call with me anytime with https://calendly.com/billmulligan/1-1-with-bill-mulligan?month=2021-09 Looking forward to connecting :)

[2021-09-23 14:03] xmulligan commented on #402
@zufardhiyaulhaq it looks like you have a great number of CfP submissions! Do you want to schedule our next check in? https://calendly.com/billmulligan/1-1-with-bill-mulligan?month=2021-06

[2021-09-23 14:47] xmulligan commented on #399
Sponsors are confirmed and there are 24 CfP submissions.

Agenda and registration will be launched next week. Training course for organizers should also be finished then.

[2021-09-23 14:51] FeynmanZhou commented on #399
Thanks Bill, let add our meeting minutes today:

**2021-09-23 (Bi-weekly meeting with Bill)**

### Done:

1. The CFP program was closed on Sep 21. Received 24 proposals from 20 companies.
2. A new organizer from DaoCloud joined KCD China committee
3. All of the sponsors have been confirmed: 1 venue sponsor (Microsoft) and 2 gold sponsors, they will support two events (F5 and DaoCloud)
4. Contact t

[2021-09-25 05:37] sergioarmgpl commented on #408
@xmulligan Can you add Emily to the organizers she is going to manage our social network accounts, she is the designer, her email is 202110524@farusac.edu.gt

[2021-09-25 05:37] sergioarmgpl commented on #408
@xmulligan the CFP will be launch this Monday.

[2021-09-27 09:34] xmulligan commented on #408
Glad to hear about the CfP! What do you need me to add Emily to?

[2021-09-27 15:48] sergiopsyalo commented on #408
Please add her to the mailing list, because she will be in charge of the Twitter account. @xmulligan

[2021-09-27 16:55] xmulligan commented on #408
I've added  her to the email :) Let me know if you need anything else

[2021-10-03 11:41] kesseract commented on #388
@xmulligan - As discussed I am closing this issue. We will plan an in-person event in 2022.

[2021-10-03 11:41] #388 closed

[2021-10-06 10:22] zufardhiyaulhaq commented on #402
Hi @xmulligan did you have a KCD slide template that we can use for our speakers?

[2021-10-06 10:34] xmulligan commented on #402
@zufardhiyaulhaq yes sorry, I forgot to send this sooner https://docs.google.com/presentation/d/1H6Mxsp3bBy5LzqVni5FZGE679XB8OG4h/edit?usp=sharing&ouid=101495988975166790399&rtpof=true&sd=true

[2021-10-09 08:01] pacoxu opened #411 "KCD Chengdu 2022"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location: China
Chengdu, China
成都东大明宇豪雅饭店浣花厅

### Event Date and Time: 2022 Q3

Chengdu （**Postponed due to Covid-19**）
**Nov 18th**  Friday
12:45 ~ 17:35

### Event type: In-person
 In-person

### Submission checklist for organizers:

*Please

[2021-10-10 11:05] FeynmanZhou commented on #399
2021-10-09 (Bi-weekly meeting with Bill)

### Done:

1. Invited all CNCF ambassadors from China to vote for the gathered proposals.
2. Confirmed the agenda and design a campaign poster
3. Launched the [RSVP]( https://community.cncf.io/kcd-china/) on CNCF WeChat Subscription, updated the [KCD China site](https://community.cncf.io/kcd-china/).

### To do:

1. Promote KCD China via CNCF WeChat Subscr

[2021-10-11 03:42] FeynmanZhou commented on #399
@xmulligan Could you please help to add two members (roby.chen@daocloud.io and yuki.dan@pingcap.com) to the organizers of KCD China? I didn't find their accounts in the system, but they have already registered.

![image](https://user-images.githubusercontent.com/40452856/136729871-9d1aa6dd-230c-47bb-aff1-9f6bfaa5b542.png)

[2021-10-19 10:01] pacoxu commented on #411
@xmulligan Any updates?
Or is there something that I can start to prepare for the activity?

[2021-10-19 12:08] xmulligan commented on #391
@bradmccoydev can you give me access?

[2021-10-22 02:56] kerthcet opened #412 "KCD Nanjing, China 2023 (Postponed from 2022)"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location:
Nanjing, China

### Event Date and Time:
Q2 2022, Nanjing

### Event type:

In-person

### Submission checklist for organizers:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day event in the

[2021-10-22 03:02] kerthcet commented on #411
hi @xmulligan , we have divided the former issue into separate two, another one is located [here](https://github.com/cncf/kubernetes-community-days/issues/412). Looking forward to your reply.

[2021-11-02 13:17] senthilrch opened #414 "KCD Chennai, India 2022"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location: Chennai, India

### Event Date and Time: Q4 2022

### Event type: Virtual

### Submission checklist for organizers:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day event in the same region

[2021-11-03 13:57] xmulligan commented on #391
@bradmccoydev I was looking through and you should actually already have access to both. Check on community.cncf.io and https://kcd.smapply.io/

[2021-11-03 18:40] xmulligan commented on #414
@senthilrch Great to see this event coming together! Let me know if you have any questions along the way. If you want to set up a time to go through your ideas, I'm always available :)

[2021-11-03 21:18] xmulligan commented on #411
@kerthcet thanks for being willing to change. Do you know when you would like to do it? I'm happy to set up a call with you to discuss it. Do you have any availability next week?

[2021-11-04 09:21] FeynmanZhou commented on #411
I am willing to help @pacoxu and @kerthcet to organize the KCD Chengdu 2022. We also have one organizer from the DaoCloud team who has made great contributions to KCD Shanghai. Feel free to let me know if anything I cloud help with this event.

[2021-11-05 10:21] kerthcet commented on #411
Sure, let's make it to next Tuesday, is that ok? And I guess you lived in Berlin as your github profile told, so should 2:00 AM Pacific Time available? It's ok to deal with the time.

[2021-11-05 10:28] kerthcet commented on #411
thanks zhou for all your efforts and great help, looking forward to  hosting a wonderful event with you tomorrow in KCD Shanghai.

[2021-11-05 13:47] xmulligan commented on #406
thinking about opening cfp on the 26th of november, closing on 26th of december. Event end of january. Working with local communities about a hybrid event. Thinking about teaching the basics in less than 10 talks. Meeting again on the 25th of November

[2021-11-05 14:22] xmulligan commented on #389
Hi @ams0 just wanted to check in with you before the end of the year. Is there anything you need from me to plan your KCD for next year?

[2021-11-05 14:23] xmulligan commented on #390
Hi @LexiNadolski and @cpanato just wanted to check in with you before the end of the year. Is there anything you need from me to plan your KCD for next year?

[2021-11-05 14:28] cpanato commented on #390
I'm here to help but I don't have much power on the sponsors/place to help :(
i think this is something that @LexiNadolski and the amazing team can help with

[2021-11-05 14:29] xmulligan commented on #409
Hi @rbenzair  just wanted to check in with you. Do you have an update on the planned event date? Also, is there anything you need from me to plan your KCD for next year?

[2021-11-05 14:29] xmulligan commented on #410
Hi @nkhare  just wanted to check in with you before the end of the year. Is there anything you need from me to plan your KCD for next year?

[2021-11-07 11:05] cloudyuga commented on #410
@xmulligan We would be having organisers meeting soon. After that we'll get back to you.

[2021-11-09 13:18] ams0 commented on #389
Hi there, nothing special, we are starting to contact sponsors and get everything ready for October 2022 this month. Events are coming back in-person and we are planning some meetups too soon. We would like to create the event page this month, it's under "KCD Netherlands" (I have access) and create a "Meetup", right?

[2021-11-09 14:56] xmulligan commented on #389
Sounds good, Please create the "Conference" event type

[2021-11-10 02:38] afro-coder commented on #414
Hey, I'm a bit new how do I volunteer for this event? Is there some channel on slack that I need to join?

[2021-11-10 18:31] senthilrch commented on #414
@afro-coder join the #kcd-chennai channel in slack.cncf.io and DM me

[2021-11-12 06:50] afro-coder commented on #414
Sure @senthilrch thanks

[2021-11-15 07:29] kerthcet commented on #411
hi @xmulligan , we'd like to host the Chengdu's KCD in Saturday, 26th Feb., 2022. For the beginning of Feb. is traditional Chinese New Year, which will end at 6th Feb., and we think it's better to leave three weeks for preparation before this event.

[2021-11-15 11:08] xmulligan commented on #411
@pacoxu Great! can you update that in the description above? Also what do you plan for CfP open and close dates and Website launch date?

[2021-11-17 10:06] pacoxu commented on #411
Updated.

- CfP open date: Jan 10th
- CfP close date:  Jan 25th
- Website launch date: Feb 12th. (2 weeks before the event)
- KCD Chengdu Event on Feb 26th, 2022.

[2021-11-17 12:50] xmulligan commented on #411
@pacoxu thanks for the update! Will you run your CfP on a different platform than SM Apply like @FeynmanZhou ? Also do you want me to give you access to the Bevy site now?

[2021-11-17 14:13] ams0 commented on #389
https://community.cncf.io/events/details/cncf-kcd-netherlands-presents-kubernetes-community-days-amsterdam-2022/

We also have a Github org and a repo where we will store other assets (sponsor prospectus for example: https://github.com/KubernetesCommunityDaysAmsterdam/kcd2022)

[2021-11-17 19:16] LexiNadolski commented on #390
Hello @xmulligan I only came back from sick leave today after being away since October 22nd. It will take me some time to catch up. I will chat with the team to meet the first week of December so we can give you more information. Cheers!

[2021-11-18 10:49] xmulligan commented on #381
188 attendees https://www.youtube.com/playlist?list=PLj6h78yzYM2MoDMCUMVdCVVcTVe9BbX9L

[2021-11-18 10:49] #381 closed

[2021-11-18 17:41] xmulligan commented on #411
Thanks for letting me know. Can you schedule a meeting to go through your ideas and see if there is anything I can help with ? https://calendly.com/billmulligan/1-1-with-bill-mulligan

[2021-11-23 12:06] xmulligan commented on #412
@kerthcet just wanted to check if you had any updates on this or are you focusing on #411 for now?

[2021-11-23 12:09] xmulligan commented on #399
Awesome first in person KCD events! Congrats to @FeynmanZhou and the whole KCD China team. I can't wait to work with you in the future.

[2021-11-23 12:09] #399 closed

[2021-11-23 12:14] xmulligan commented on #399
@FeynmanZhou do you have the totals for the number of CfP submissions and attendees for the Shanghai event?

[2021-11-23 12:15] xmulligan commented on #391
Currently choosing between two venues and the first sponsors have been secured. Considering a date in July now.

[2021-11-23 16:20] FeynmanZhou commented on #399
@xmulligan
Yes, I have, let me share these statistics with you via email. BTW, I am writing a wrap-up for the first-ever KCD China (Beijing and Shanghai), it could be completed this week. I hope you could help us to publish it at cncf.io.

[2021-11-24 01:38] kerthcet commented on #412
hey bill, since we're going to host KCD chengdu in Q1 2022, we'd like to change this event time to Q2 2022, I have already updated. And we have also contacted with local companies in NanJing, I'll let you know if we make any progress.

[2021-11-24 03:22] pacoxu commented on #411
Sorry for the delay. I booked a meeting today.

I updated some information in https://docs.google.com/document/d/1FGpOI_-1fUnd3Z6rHlhZ8wZs7OEhxotFSEPLCun_TzY/edit# as well.

[2021-11-24 11:10] xmulligan commented on #399
@FeynmanZhou Awesome! I would love to help you publish it on cncf.io too. Just send it when it is ready

[2021-11-24 11:13] xmulligan commented on #411
Thanks for the meeting today! Looking forward to seeing the website launched and getting a location for the event secured

[2021-11-24 11:14] xmulligan commented on #412
@kerthcet Thanks for letting me know and updating! Please keep me updated on the progress and let me know if you have any questions

[2021-11-24 11:52] xmulligan commented on #414
1. I've added everyone to the KCD-organizers channel except Manikandan because I couldn't find them in slack
2. the organizers-chennai@kubernetescommunitydays.org email forward has been created
3. If you add the CFP admin and dates above I can create the account in SM Apply
4. Please provide CNCF access to the social accounts for the event
5. Once  you have the launch date, I can create the region

[2021-11-24 12:08] senthilrch commented on #414
@xmulligan Many thanks for taking KCD Chennai forward.
I've added Manikandan to #kcd-oraganizers channel.
I'll get back to you on CFP dates and admin.
I've created twitter account. Will create LinkedIn as well and DM the credentials next week.
I'll get back to you on the launch dates. Will schedule monthly check in with you as well.

[2021-11-26 17:49] philwelz commented on #390
Hey all, maybe @Govinda-Fichtner can help with the location

cc @firecyberice

[2021-11-27 17:07] Govinda-Fichtner commented on #390
@philwelz and all, I am happy to help out with a location. We just moved into a nice, new office in Berlin with lots of space for this kind of events. Any idea how many participants we are potentially going to host?

[2021-11-29 11:06] senthilrch commented on #414
Twitter: https://twitter.com/kcdchennai
LinkedIn: https://www.linkedin.com/in/kcdchennai/

[2021-12-02 09:03] pacoxu commented on #411
I updated the date.
- Dec 27th: Website launch date
- - Feb 12th: Website Final Update date (2 weeks before the event, when all topics are confirmed.)

By the way, we will set up our Bi-weekly organizer meetings after China Kubecon(Dec 9-10) is finished. I have a topic in Kubecon. We will confirm the place to host the event in mid-December as well.

[2021-12-02 13:17] xmulligan commented on #414
@senthilrch I've created the CfP and chapter for you. Let me know if you need help getting them up

[2021-12-14 15:16] xmulligan commented on #409
Great to hear! Let me know if you need anything before you kick off planning and we can set up meetings once you are ready

[2021-12-22 12:57] xmulligan commented on #411
@pacoxu I've created the website for you here https://community.cncf.io/kcd-chengdu/

[2021-12-22 13:07] xmulligan commented on #390
I've created your site here https://community.cncf.io/kcd-berlin/. It seems Tine doesn't have an account on the site yet though?

[2021-12-22 20:00] georg007 opened #422 "KCD 2022 Czech & Slovak virtual"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location:
KCD 2022 Czech & Slovak virtual

### Event Date and Time:
27. and 28. april 2022

### Event type:
virtual
two day event with two tracks Management (beginners) and PRO.

### Submission checklist for organizers:

*Please check each of

[2021-12-27 09:04] pacoxu commented on #411
Thanks. I will update the website.

[2021-12-28 08:07] nkhare commented on #410
@xmulligan can you activate the CFP for KCD Bengaluru. Ideally we would like to duplicate the last year's one.

[2021-12-28 16:44] xmulligan commented on #410
@nkhare glad to see that this is coming back for the second edition! Can you update CfP open and close dates: and Website launch date: above and list who the cfp admin will be? I can duplicate the one from last year

[2021-12-28 18:08] xmulligan commented on #422
@georg007 Thanks for opening this issue, I'm really excited to see this KCD coming to a new region! 🎊 Sorry for the delay getting back to you, I've been OOO for the holidays and won't actually be back until the new year, but didn't want you to have to wait that long.

 It looks like the biggest things for you right now are: 1. finish collecting the other organizer information. once you have that I

[2021-12-29 06:48] nkhare commented on #410
Done.

[2021-12-29 12:29] xmulligan commented on #410
Thanks! I've copied the cfp and made both of you as admins for it. Let me know if you need anything else

[2022-01-03 19:21] xmulligan commented on #422
Thanks for meeting with me today! Excited to see this event come together 🚀

To follow up on our meeting:

- [ ] I'm getting you a course code for the Bevy training
* You probably won't make a Twitter because it is not that popular in your countries
* You can find an example sponsor prospectus here https://github.com/cncf/kubernetes-community-days/blob/main/content/templates.md#sponsor-prospectus

[2022-01-05 10:57] xmulligan commented on #411
@pacoxu Thanks for the meeting today! I've added Paco, Kevin, and Jin to the organizers-chengdu@kubernetescommunitydays.org email alias. You said you will launch the CfP next week and have secured a location. Looking forward to our next meeting on the 17th

[2022-01-05 12:23] xmulligan commented on #408
Awesome event covering both students and professionals with content in English and Spanish. I'm sure this inspired many people 🎊

[2022-01-05 12:23] #408 closed

[2022-01-05 12:25] xmulligan commented on #402
@zufardhiyaulhaq I just wanted to check back in with you. Do you know when you will upload the videos to Youtube? Anything else you need help with to wrap up this event?

[2022-01-05 12:49] xmulligan commented on #395
Really loved this event! Hopefully we can be in person next year and I can get some pizza IRL 🍕

[2022-01-05 12:49] #395 closed

[2022-01-05 12:49] xmulligan commented on #409
@Smana I hope you enjoyed the holidays 🎄 I wanted to check in on your current planning. Are you ready to start our monthly sync calls? https://calendly.com/billmulligan/1-1-with-bill-mulligan

[2022-01-05 12:50] xmulligan commented on #414
Great check in today! Social profiles and website are launched and there seems to be good community engagement. CfP is launching next month

[2022-01-05 12:52] zufardhiyaulhaq commented on #402
Hi @xmulligan we already upload the video to our channel.
https://www.youtube.com/playlist?list=PLDAA8KTg2foaQ11_OtwD3KPDEaHNIe2Zk

It's possible to add this to CNCF channel? thanks

[2022-01-05 12:59] xmulligan commented on #410
@nkhare Looks like you are ready for the launch of the website and CfP today 🎊 Can you set up a monthly sync meeting with me so we can check in if there is anything I can help with? https://calendly.com/billmulligan/1-1-with-bill-mulligan

[2022-01-05 13:00] xmulligan commented on #410
There is also the email alias organizers-bengaluru@kubernetescommunitydays.org  if you want to use that

[2022-01-05 13:49] nkhare commented on #410
@xmulligan We may take a day or two more as few more things are remaining. I'll setup the meeting tomorrow, after our internal all. Thanks.

[2022-01-05 15:02] xmulligan commented on #402
Perfect, I just added it to the CNCF channel https://www.youtube.com/playlist?list=PLj6h78yzYM2PcnQdAVsHhcBAGJ4bNtNyb. I also found a couple videos I have to go back and watch! Lots of great content 🎊

[2022-01-05 15:02] #402 closed

[2022-01-05 15:03] xmulligan commented on #402
I was also really impressed by the size and scale of the event your team was able to pull off. Awesome job  🥇

[2022-01-05 18:14] sergioarmgpl commented on #408
Nice experience doing the event, I have pending a blog post about it.

[2022-01-06 08:41] xmulligan commented on #408
Can't wait to read it! Let me know if you want to get it published on the CNCF blog

[2022-01-06 11:16] pacoxu commented on #411
Thanks, we will setup our preparing meetings this week or next and the CFP were prepared for reviewing.

[2022-01-10 12:18] xmulligan commented on #406
@Saim-Safdar I wanted to check back in with you after the holidays. Do you have any updates on the program?

[2022-01-11 03:54] pacoxu commented on #411
Status Update
1. the CFP is open for topics and sponsors: https://mp.weixin.qq.com/s?__biz=MzI5ODk5ODI4Nw==&mid=2247517240&idx=1&sn=e2b217211bf82197eae723f23bf78c53&chksm=ec9f8b58dbe8024e939f0e04bbd04700039b277d1a5eeef6703894f6649e4d79181e104bfbac&mpshare=1&scene=1&srcid=0111oWSuxUGUGNwAZkLL9rgK&sharer_sharetime=1641867848490&sharer_shareid=bcf38af5e57bf2958c0f52953575a7e6&version=3.1.23.70088&pla

[2022-01-17 10:08] xmulligan commented on #411
@pacoxu sorry to have missed you at the meeting today. when is a good time to reschedule?

[2022-01-17 14:46] pacoxu commented on #411
Sorry, I miss that.

I rescheduled a meeting for Wednesday.  Is that OK?

Not so much update. Until now, we got several sponsors and some new organizers? I will update you on the meeting.

Best regards
Paco
________________________________
发件人: Bill Mulligan ***@***.***>
发送时间: 2022年1月17日 18:09
收件人: cncf/kubernetes-community-days ***@***.***>
抄送: Paco Xu ***@***.***>; Mention ***@***.***>
主题: Re: [

[2022-01-17 22:25] xmulligan commented on #411
Sure, talk to you then. Looking forward to the update

[2022-01-19 13:26] join2ashish commented on #390
@xmulligan can you please let us know how we can connect the CFP portal(SM Apply) with our event? Do we need any other account for accessing that website?

[2022-01-19 19:35] xmulligan commented on #390
@join2ashish I haven't created the CfP for the event yet. Before I can do that I need you to fill out the missing information in the issue template above including website and cfp dates and cfp admin. It would also be great to set up our monthly organizer check ins

[2022-01-26 13:27] LexiNadolski commented on #390
@xmulligan we have checked off the lists below and please look at my comment above from April 7th which has also been updated.

Let's figure out a date for a checkin with all orgs when you can. Thanks!

CfP open and close dates: February 9 - May 26, 2022
Website launch date: February 9, 2022

Submission checklist for CNCF:
 -[x] Organizer email alias has been created
 -[x] Region created in Bevy

[2022-01-27 20:55] philwelz commented on #390
hey @xmulligan , there is a spelling mistake here = https://community.cncf.io/events/details/cncf-kcd-berlin-presents-kubernetes-community-days-berlin-2022/

It is called "Insel der Jugend" instead of "Insel der Junge"

[2022-01-27 21:01] tinerehbein commented on #390
@philwelz Thank you. I´ve changed the name.

[2022-02-03 13:23] xmulligan commented on #390
@LexiNadolski sorry for the delay getting back to you on this. I've been out. Can you suggest some times next week that would work for the meeting? I'm also working on getting you access to the CfP platform

[2022-02-07 15:39] shardulsrivastava opened #426 "KCD Malaysia, 2022"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location: Kualalumpur, Malaysia

### Event Date and Time: August,5 -6 2022

### Event type: Hybrid

### Submission checklist for organizers:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day event in t

[2022-02-07 16:34] ricolin commented on #401
@xmulligan As mentioned, the plan for 2022 is started, might require some discussion with organizers recently, will keep you updated

[2022-02-08 18:31] xmulligan commented on #401
Thanks, let me know if you want to set up a time to chat. When do you think you will host the event?

[2022-02-08 18:34] xmulligan commented on #407
Awesome event with over 3000 attendees
![Copy of KCD Diversity Data](https://user-images.githubusercontent.com/29048870/153053043-534b5c00-dd40-4a7f-8346-06a05a5c56ee.jpg)

[2022-02-08 18:34] #407 closed

[2022-02-08 18:34] xmulligan commented on #409
@Smana @rbenzair are you still interested in hosting the event this year?

[2022-02-08 18:44] xmulligan commented on #410
@cloudyuga can you schedule a check in for the end of this month? https://calendly.com/bill-mulligan/1-to-1/?month=2022-02 Anything else you need in the meantime?

[2022-02-08 18:45] xmulligan commented on #411
@pacoxu Do you have time to check in later this week or next for KCD Chengdu? https://calendly.com/bill-mulligan/1-to-1/?month=2022-02

[2022-02-08 18:47] xmulligan commented on #389
@ams0 Hope the new year is starting well for you! When do you want to start the monthly check ins? and when will you move forward with planning the event?

[2022-02-08 18:48] xmulligan commented on #426
@shardulsrivastava Very excited to see this event starting to come together! 🚀 Let me know if there is anything I can do to help or if you have any questions I can help answer

[2022-02-09 02:03] pacoxu commented on #411
We will confirm topics for KCD Chengdu today. I will update the status with you this Friday.

[2022-02-09 08:22] cpanato commented on #390
@xmulligan @tinerehbein let me know what is missing in this issue to we have a final approval

[2022-02-09 08:31] xmulligan commented on #390
@cpanato thanks for updating! I finally got access to the cfp and created the account. You all should have gotten an email to login as admins

[2022-02-09 08:37] KrissiWi commented on #390
@xmulligan : Unfortunately, I have not gotton an email yet

[2022-02-09 09:36] xmulligan commented on #390
@KrissiWi you should have it now.

[2022-02-09 11:26] xmulligan commented on #390
@tinerehbein I've just resent it. Try logging it at https://kcd.smapply.io/. It should be to your tine@syseleven.de account

[2022-02-09 12:19] tinerehbein commented on #390
@xmulligan I´m not allowed to set my confirmation password to set up my account. Could you pls add me with c.rehbein@syseleven.de? Then I can try to log in with my google account

[2022-02-09 13:03] xmulligan commented on #390
@tinerehbein I've just sent it

[2022-02-09 14:47] tinerehbein commented on #390
Thank you @xmulligan

[2022-02-11 09:08] pacoxu commented on #411
The topic list will publish today or next Monday and users can start to sign-up for the event then.

[2022-02-15 07:27] pacoxu commented on #411
![image](https://user-images.githubusercontent.com/2010320/154013083-9031b689-e29e-4a52-a504-6b23e04ca05f.png)

[2022-02-16 07:47] Smana commented on #409
@xmulligan thanks for reaching out. Yes we're gonna have a meeting this month.

[2022-02-16 11:32] senthilrch commented on #414
@xmulligan : CFP launched https://kcd.smapply.io/prog/kcd_chennai_cfp/

[2022-02-16 17:53] KrissiWi commented on #390
@xmulligan : Unfortunately, the organizers-berlin@kubernetescommunitydays.org email list is not working. Sandra (s.gramatzki@syselven.de), Ashish (mishraashish@microsoft.com), Lexi (lexinadolski@microsoft.com) and I (kristin@kubermatic.com) are not getting the incoming emails:/ Can you advise?

[2022-02-18 10:56] xmulligan commented on #390
@KrissiWi I've updated the email forward to include all of you. Let me know if it works :)

[2022-02-18 12:37] KrissiWi commented on #390
@xmulligan : Works for me:)

[2022-02-23 15:21] blues-man opened #427 "KCD Italy 2022"
---
name: Host a KCD
about: Host a KCD and use this checklist to get started by submitting an issue
title: KCD Region and Year
labels: ''
assignees: ''

---

# KCD Organizer Checklist
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Details
* [x] Event Location: Milan, Italy
* [x] Event Date

[2022-02-23 21:35] xmulligan commented on #426
Also let me know when you want to start our monthly check ins too. Looking forward to meeting you :) https://calendly.com/bill-mulligan/1-to-1?month=2022-02&date=2022-02-07

[2022-02-24 09:26] braghettos commented on #427
I would like to candidate myself to support the organization of KCD Italy 2022!

[2022-02-24 10:16] xmulligan commented on #427
@blues-man looking forward to seeing another great event come together! 😍 🍕

[2022-02-25 06:04] shardulsrivastava commented on #426
@xmulligan I have picked a time from the calendar, looking forward to catchup, Have a lot of questions.

[2022-02-25 10:26] xmulligan commented on #426
Awesome, looking forward to meeting you :)

[2022-02-27 09:18] yankcrime opened #428 "KCD UK 2022"
### Event Location:

London, UK

### Event Date and Time:

November 2022

### Event type:

In-person

### Submission checklist for organizers:

*Please check each of these as you complete them:

* [X] No other Kubernetes Community Day event in the same region
* [X] Minimum of 3 organizers from 3 different organizations
* [X] Every organizer has an account on [Cloud Native Community Groups](https:/

[2022-02-28 10:10] xmulligan commented on #428
Thanks for submitting this! I'm excited to see the next edition 🌹 🌷

[2022-02-28 14:30] pacoxu commented on #411
The event is postponed due to Covid-19 in Chengdu, and the new date will be decide this week or next.

All things are ready for the meeting and we will connect all attendees and lecturers once the date is confirmed.

![image](https://user-images.githubusercontent.com/2010320/155999519-c8177fd5-9dab-4b40-935e-384cdb96da57.png)

The notice is sent to all attendees through short messages and e-mails.

[2022-03-02 14:39] shardulsrivastava commented on #426
@xmulligan I have checked all the relevant boxes, Twitter handle is `@KcdMalaysia`, I will share the credentials with you on Slack. Please help to create a page for KCD Malaysia and create access for CFP portal.

[2022-03-03 10:24] KrissiWi commented on #390
Hi @xmulligan : Could you add Mira (mira@loovent.com) to the mailing list as well. She is (mostly) back from her maternity leave and will support KCD Berlin as well

[2022-03-03 13:13] xmulligan commented on #390
@KrissiWi I've just added her. Tell her I say hi too :)

[2022-03-09 08:02] kerthcet commented on #412
Hi @xmulligan , there are some Covid-19 cases without symptoms found in several cities these days, so we need to cooperate with the relevant authorities. What's more, we don't want to host two events too closely(Chengdu and Nanjing). So we are planning to delay Nanjing's event, possibly late May or early June.

Just keep you updated with our plans. And if you have any concerns, pls let me known. T

[2022-03-09 08:11] xmulligan commented on #412
@kerthcet thanks for the update. That makes sense to me. Just let me know when you have a new date or if you have any other questions in the meantime

[2022-03-09 08:19] kerthcet commented on #412
Absolutely.

[2022-03-09 14:15] xmulligan commented on #409
https://training.cmxhub.com/p/how-to-run-a-virtual-conference

[2022-03-10 08:27] pacoxu commented on #411
We will confirm the date next Monday. We prefer March 26th, 2022 /2022-03-26 according to speakers and orgnizers.

[2022-03-13 14:13] Shehanka opened #431 "KCD Sri Lanka 2022"
### Event Location: Colombo, Sri Lanka

### Event Date and Time:
September 3-4

### Event type:
Virtual

### Submission checklist for organizers:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day event in the same region
* [x] Minimum of 3 organizers from 3 different organizations
* [x] Every organizer has an account on [Cloud Native Community Groups](http

[2022-03-14 13:07] mkorbi opened #432 "KCD Munich 2022"
### Event Location:
Munich

### Event Date and Time:
12.10.-13.10.

### Event type:

In Person, in case the circumstances change we will go hybrid

### Submission checklist for organizers:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day event in the same region
* [x] Minimum of 3 organizers from 3 different organizations
* [x] Every organizer has an acco

[2022-03-14 15:43] xmulligan commented on #431
@Shehanka Thanks for putting this together. I'm excited to see this event come together 🎊 Can you book an introductory meeting so we can go over everything? https://calendly.com/bill-mulligan/1-to-1?month=2022-02&date=2022-02-07

[2022-03-17 23:00] Shehanka commented on #431
Done! See you soon

[2022-03-25 08:34] AndreaGiardini commented on #389
Hello @xmulligan

We found out that the dates KCD Amsterdam conflict with Kubecon Detroit, which is unfortunate... We met with the venue last Tuesday and we are waiting to get their availability for a new date. Ideally, we will have KCD Amsterdam a couple of weeks before/after Kubecon Detroit. As soon as we get the availability of the venue we will make a final decision on the dates

[2022-03-25 19:33] xmulligan commented on #389
@AndreaGiardini Thanks for the update! Let me know if you need anything in the meantime

[2022-03-29 12:49] zufardhiyaulhaq opened #434 "KCD Indonesia 2022"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location:
TBD

### Event Date and Time:
26-27 November 2022 (need confirmation)

### Event type:
Hybrid (Online & Jakarta)

### Submission checklist for organizers:
*Please check each of these as you complete them:

* [x] No other Kubernetes C

[2022-03-30 10:04] xmulligan commented on #434
@zufardhiyaulhaq Thanks for adding this issue! Looking forward to seeing the next event come together 🚀 Let me know when you have more updates and are ready to start meeting 😄

[2022-04-07 13:42] abuango opened #435 "KCD Africa 2022"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location: Lagos, Nigeria

### Event Date and Time: July 8-9, 2022

### Event type:  Hybrid

### Submission checklist for organizers:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day event in the same

[2022-04-08 16:54] k8tgreenley commented on #435
Hi @abuango I would like to set up a call to discuss next steps for your KCD. What days and times work for you?

[2022-04-11 14:44] k8tgreenley commented on #432
@mkorbi I hope you are well. I am going to be your primary contact moving forward. Bill mentioned you are ready to have all your accounts created for you upcoming KCD. For your CFP, I need to know your confirmed dates for the KCD in order to select the proper close date. Do you have this finalized?

[2022-04-21 21:53] k8tgreenley commented on #431
@Shehanka I wanted to check in your progress of the event. I know you booked time with Bill back in late March. I would like to meet with you next week to see how things are going and if you need anything from me at this time.

[2022-04-22 02:20] Shehanka commented on #431
Yeah! Sure, Looking forward to meeting you next week 😃

[2022-04-22 13:43] k8tgreenley commented on #410
HI @nkhare I wanted to check in on your event since it will be kicking off tomorrow. Anything you need from me?

[2022-04-22 14:59] cloudyuga commented on #410
Thanks for checking in. I think we are all set.

On Fri, 22 Apr 2022 at 7:13 PM, k8tgreenley ***@***.***>
wrote:

--
Neependra Khare
Founder and Principal Consultant
https://cloudyuga.guru

[2022-04-27 15:44] k8tgreenley commented on #434
@zufardhiyaulhaq I wanted to check in to see if you have an updates about your KCD. Is there anything I can do to support at this time?

[2022-04-27 15:48] zufardhiyaulhaq commented on #434
Hi @k8tgreenley currently the progress is delayed because we outsourcing our KCD 2022 logo. We already received the final logo this week, will probably start push to search for organizer in mid-may (due to Ramadan and Eid in Indonesia)

[2022-04-27 15:58] k8tgreenley commented on #431
@Shehanka please book a time on my [calendar](https://calendly.com/kgreenley/katie-greenley?month=2022-04)

[2022-04-27 16:04] k8tgreenley commented on #434
Thank you for update, I look forward to connecting with you in mid-may

[2022-05-02 18:49] k8tgreenley commented on #406
Hi @Saim-Safdar I hope all is well with you. I saw that your Bevy account is set for June 17 - 18 but your ticket github issues states July. I want to confirm the dates of your event.

Also, want to check in on CFP, do you need any support at this time?

[2022-05-09 19:30] k8tgreenley commented on #432
CFP (SM Apply):  https://kcd.smapply.io/prog/kcd_munich_2022

CFP Closes: Tuesday, August 16, 2022

If you would like for me to adjust this date, please let me know.

Virtual Event Platform (Bevy): [CNCF KCD Munich](https://community.cncf.io/kcd-munich/)

Organizer Email: [organizers-munich@kubernetescommunitydays.org](mailto:organizers-munich@kubernetescommunitydays.org)

[2022-05-09 22:50] k8tgreenley commented on #431
CFP (SM Apply): https://kcd.smapply.io/prog/kcd_sri_lanka_2022

CFP Closes: July 8, 2022

If you would like for me to adjust this date, please let me know.

Virtual Event Platform (Bevy):  [CNCF KCD Sri Lanka](https://community.cncf.io/kcd-sri-lanka/)

Organizer Email: [organizers-srilanka@kubernetescommunitydays.org](mailto:organizers-srilanka@kubernetescommunitydays.org)

[2022-05-16 15:07] faheem556 opened #436 "KCD Washington, DC 2022"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location:
American Red Cross DC
1730 E Street NW 20006
Washington DC

### Event Date and Time:
Sep 14th, 2022 - 9am to 4pm

### Event type:
In Person

### Submission checklist for organizers:

*Please check each of these as you complete them:

[2022-05-22 09:04] zufardhiyaulhaq commented on #434
Hi, we have already choose the logo
![kcd_indonesia_2022_logo_FIN_color](https://user-images.githubusercontent.com/11990726/169687772-a586ef79-f3cf-4a8a-adfe-085f74fde16f.png)

[2022-05-23 20:01] k8tgreenley commented on #434
Hi Zufar,

This logo is great! Are you able to upload it to Bevy? If you need help,
please let me know.

Best,

Katie

On Sun, May 22, 2022 at 3:04 AM Zufar Dhiyaulhaq ***@***.***>
wrote:

--
Katie Greenley
Event Manager

*Upcoming Out of Office: *
*May 11 - 20 (Valencia - KubeCon + CloudNativeCon EU) *

The Linux Foundation
*T:* +1 720.227.8536
* E*: ***@***.***
*Location & Time-zone*: Colorado -

[2022-06-06 11:52] zufardhiyaulhaq commented on #434
Hi @k8tgreenley  for KCD Indonesia 2022, we are planning to collaborate and merge the event with OpenInfra Days

proposed event name:
Kubernetes Community Days x OpenInfra Days Indonesia 2022

proposed logo:
[kcd logo] x [openinfra logo]

this will be scheduled for 2 days, the first day for KCD & second day for OpenInfra. we decide to collaborate since this is the first time we are doing it offlin

[2022-06-07 17:58] sergioarmgpl opened #437 "KCD Guatemala 2023 (August 18 - 19)"
# KCD Details

* Event Location: Guatemala, Venue [Campus Tec](https://tec.gt/)
* Event Date and Time: Postponing to August 18 & 19
* Event type: Hybrid
* Expected Number of Attendees: 400

## Organizers
* Organizer 1: Sergio Méndez, CNCF, Ambassador, sergioarm.gpl@gmail.com, CNCF Slack Username Sergio Méndez
* Organizer 2: Jefferson Molina, San Carlos University, Student, jeffersogmb7@gmail.com,

[2022-06-09 09:24] KrissiWi commented on #390
@k8tgreenley : Hi Katie, in our website backend we can currently only differentiate between Gold, Silver and Community sponsors, meaning that Bronze is missing. I can't find any way to fix this on my own. Can you support?

[2022-06-10 23:06] sudo-bmitch commented on #436
I see the CFP has been created at <https://kcd.smapply.io/prog/kcd_washington_dc_2022_cfp/>. Can our accounts be added as reviewers/admins over there?

[2022-06-13 13:39] KrissiWi commented on #390
@k8tgreenley or @KTan1226 : can anyone help me with the issue mentioned aboce?

[2022-06-13 16:49] k8tgreenley commented on #390
@KrissiWi thank you for letting me know that the Bronze level was missing. I have now added this type. Please let me know if there are any additional levels that need to be added.

[2022-06-13 17:27] #422 closed

[2022-06-13 18:45] k8tgreenley commented on #389
@ams0 when you have confirmed your new dates, please update the issue to reflect. I would also like to set up a call once you have confirmed your dates for us to set up Bevy and SMapply

[2022-06-13 18:50] k8tgreenley commented on #391
@bradmccoydev I know you have postponed your event, I wanted to check in to see if you have confirmed new dates?

[2022-06-13 18:52] k8tgreenley commented on #401
@ricolin Are you not using the Bevy platfrom for registrations?

[2022-06-13 19:01] ricolin commented on #401
@k8tgreenley No, as this time we're hosting physical event with COSCUP, we directly use their registration platform

[2022-06-13 19:41] k8tgreenley commented on #401
@ricolin for my tracking purposes, how many registrations do you currently have? Do you have an agenda posted somewhere? How many CFP submissions did you receive?

[2022-06-14 07:14] ams0 commented on #389
Thanks @k8tgreenley , dates are confirmed by the venue, we will shortly put the event on community.cncf.io back up and re-open CFP and sponsor signup. Happy to have a call with @AndreaGiardini and you to get started (again :))

[2022-06-14 07:19] ricolin commented on #401
The registration is not yet open, so as agenda. As for CFP, it's about 14 received. We have already done with internal review, so I think agenda will be out soon. All agenda and event info can be found in https://coscup.org/2022/en/ We will update the official KCD website as well. will keep you informed

[2022-06-14 09:51] KrissiWi commented on #390
Thanks @k8tgreenley !

[2022-06-14 15:54] k8tgreenley commented on #389
@ams0 Great! I am excited to talk to you about getting your event started, again :) I also would like to hear more about your current experience with the program so far. Please use this link to [Book a Meeting with Me](https://calendly.com/kgreenley/katie-greenley).

I will be onsite next week for Open Source Summit + Embedded Linux Con North America.

[2022-06-15 12:36] k8tgreenley commented on #401
@ricolin thank you for letting me know. I have updated out notes to reflect. When you were approved for this event was it approved for you to use outside CFP for and registrations?

[2022-06-15 12:55] ricolin commented on #401
@k8tgreenley yes we. We had a meeting with Bill and confirmed those details with him at the time.

[2022-06-15 13:19] k8tgreenley commented on #401
Thank you @ricolin

[2022-06-15 13:26] k8tgreenley commented on #390
@LexiNadolski per our slack messaging with Benazir:

Thanks for checking, [@k8tgreenley](https://cloud-native.slack.com/team/U0Z8QKTL4), we need to send out email alerts to speakers for their upcoming talks at the event - in this email, we wanted to specify to speakers to upload their slides on the CNCF website. Attendees like to check them out sometimes.. as I see it, this is not an option for sp

[2022-06-16 09:31] KrissiWi commented on #390
@k8tgreenley : Could you please add another sponsor/partner category / `Media Partner`? Thanks!

[2022-06-17 14:08] walidshaari opened #438 "KCD MENA"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location:
UAE - Dubai

### Event Date and Time:

Between 13 October, along GITEX DevSlam 2022, last day afternoon from 1:00- 5:00 pm

### Event type:

Hybrid

### Submission checklist for organizers:

*Please check each of these as you complet

[2022-06-17 15:39] k8tgreenley commented on #390
@KrissiWi this has been added

[2022-06-21 16:09] sergioarmgpl commented on #437
@k8tgreenley sorry for the late reply, well we can talk on CNCF if you want, my plan is to organize this for this semester with my students, the same as we did last year :) so we have to wait maybe 15 days to start the organization maybe.

[2022-06-22 11:58] Smana commented on #409
Updating the list of organizers:
* Alexandre Buisine, Enix, Managing partner, alexandre.buisine@enix.fr, Alex B.
* Aurélien Violet, Enix, CMO, aurelien.violet@enix.fr, Aurelien Violet
* Emmanuel Lagrée, Mirakl, Site Reliability Engineer, emmanuel.lagree@protonmail.com, Emmanuel L.
* Jean-Christophe Sirot,  Aircall, Lead Software Engineer, jcsirot@gmail.com, jcsirot
* Reda Benzair, Lumen, CNCF Amba

[2022-06-22 16:15] k8tgreenley commented on #437
@sergioarmgpl do you want to plan to connect on the event in mid-July? Will you be hosting virtually or in-person?

[2022-06-22 19:07] sergioarmgpl commented on #437
@k8tgreenley Hi, yes, sure, let's talk in July, the event will be virtually.

[2022-06-28 12:20] Solisol opened #439 "Kubernetes Community Day Nordics"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Location:
Stockholm Sweden

### Event Date and Time:
29th November, 2022
8:00-20:00

### Event type:

hybrid

### Submission checklist for organizers:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day

[2022-06-28 12:21] Solisol commented on #439
Just getting this kicked off since we just got location and date confirmed! Will add third organizer and fill out more details as it becomes more clear!

[2022-06-29 07:28] Solisol commented on #439
https://twitter.com/KCDNordics

[2022-07-02 09:15] raelga opened #440 "KCD Spain 2022"
### Event Location:

Online

### Event Date and Time:

Nov 15 - 16, 2022

### Event type:

Virtual

### Submission checklist for organizers:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Day event in the same region
* [x] Minimum of 3 organizers from 3 different organizations
* [x] Every organizer has an account on [Cloud Native Community Groups](https://c

[2022-07-07 17:57] AudMonte01 commented on #440
Hi @raelga - I am writing to set up an on-boarding call to see how the CNCF can help KCD Spain this year, and learn about what you all want to do different from last year (if anything). Please [use my Calendly](https://calendly.com/audmonte/kcd-onboarding-kickoff-call) to book our 1-hour kickoff call, and invite those who you think should be attend. Thank you!

[2022-07-07 18:28] Smana opened #441 "KCD France 2023"
### Event Location:
France (Paris)
Venue: [Centre Pompidou](https://www.centrepompidou.fr/en/offer-to-professionals/private-events-and-guided-tours)

### Event Date and Time: 7th of march

### Event type:
in-person

### Submission checklist for organizers:
* [x] No other Kubernetes Community Day event in the same region
* [x] Minimum of 3 organizers from 3 different organizations
* [x] Every organ

[2022-07-07 19:26] raelga commented on #440
Awesome! Let me check with the team during the next weekly meeting and get back to you! :)

[2022-07-08 07:23] raelga commented on #440
#### Some updates

* Final date: November 22 - 24, 2022

#### Items completed

* [x] Every organizer has an account on [Cloud Native Community Groups](https://community.cncf.io/)
* [x] Reviewed the [Bevy Virtual Conference Overview](https://training.cmxhub.com/p/how-to-run-a-virtual-conference), the full course can be had for free upon request

[2022-07-08 22:54] AudMonte01 commented on #389
Hi @ams0 and @AndreaGiardini - It was a pleasure meeting with you both yesterday!

Before I create your SMapply CFP and Bevy event, please update as much as you can in the above issue. For example, the date as 23+24 February 2023, as well as your CFP dates (closing at least 6 weeks prior to the event). Please ping me here once you have done so. Thank you in advance. :-)

[2022-07-12 15:46] AudMonte01 commented on #389
Thank you, @ams0 ! I just sent you @AndreaGiardini and Fabrizio a platform update via email, with next steps.

[2022-07-13 12:28] lianmakesthings commented on #389
Hi all, excited to join the organising team 🎉
 First and Last Name, Company, Title, Email, CNCF Slack Username
Lian Li
Loft Labs
Developer Advocate
cncf@lianmakesthings.dev
Lian Li on Slack (there are a couple former accounts, I'm the one who's online 😬)

[2022-07-13 16:33] AudMonte01 commented on #441
Thank you, @Smana - and welcome to Rachid! I added Rachid to your kickoff call next week, and @k8tgreenley will add him to the organizer email alias she is creating for France vs Paris.

[2022-07-14 21:43] AudMonte01 commented on #441
Hi @Smana - in an effort to update your SMapply CFP, do you all have CFP dates in mind (ideally ending no later than 6 weeks ahead of the event)? If not, please think on it and we can discuss at next week's meeting. Thank you

[2022-07-14 22:26] AudMonte01 commented on #401
Hi @ricolin - a pleasure to meet you! I am the new KCD program manager and see your event is in about two weeks. How is everything going for KCD Taiwan? Do you have any questions or need some help? If not, @k8tgreenley and I would love to set up a post mortem with your team to hear how the event went. :-)

[2022-07-14 22:53] AudMonte01 commented on #426
Hi @shardulsrivastava - checking in to see how things are going? I only see 3 submissions in KCD Malaysia CFP. Can I help with anything?

[2022-07-14 23:20] AudMonte01 commented on #431
Hello @Shehanka and team - allow me to introduce myself as the new KCD Program Manager coming in to help @k8tgreenley.

I am checking in to see if you want to extend your CFP and postpone the event dates since there are only 3 submissions that I can see in SMapply? I realize you already extended once (from 30, June to 8, July).

[2022-07-14 23:21] AudMonte01 commented on #440
Sounds good! Any news on when will work best @raelga ?

[2022-07-17 10:17] raelga commented on #440
Hey @AudMonte01, we're working on that, sorry for the delay. 😅

In the meantime, see you next week on the KCD Organizer Monthly Interest Group :)

[2022-07-18 18:11] #409 closed

[2022-07-20 13:59] pacoxu commented on #411
Sorry for the late update.

The event was postponed due to the covid in China. We want to hold it this Saturday, but it still is influenced by the covid.

So the event date is still pending, I will update the website and here ASAP. Meanwhile, we have all applicant's contact information and we will send the date message to them.

[2022-07-20 17:58] pichuang commented on #401
Hi @AudMonte01 @k8tgreenley , We already have launch the event at here. The joint conference will be in-person event.

- [COSCUP ╳ KCD Taiwan 2022](https://community.cncf.io/events/details/cncf-kcd-taiwan-presents-coscup-x-kcd-taiwan-2022/)

Does anything should we need to know or do before we go to the event?

[2022-07-20 18:09] AudMonte01 commented on #401
Excellent! [Here is the timeline](https://docs.google.com/spreadsheets/d/1bvCiyyDut1seSnBE6pzVevcJkXLeWbxbncvhFsyY8PI/edit#gid=0) you might find useful, that you can make a copy of and use as a checklist. Let me know if you have any questions.

[2022-07-20 18:15] AudMonte01 commented on #438
Hi @walidshaari! Given this event is due to happen as early as 10, October 2022 It seems like we should open the CFF as soon as possible. That said, would you like it to close 6 weeks or 8 weeks ahead of the event? Something to consider is that some KCDs add a planned 1-week buffer / extension.

[2022-07-20 18:35] walidshaari commented on #438
@AudMonte01  six weeks, around end of August.

[2022-07-21 13:41] AudMonte01 commented on #438
Excellent - thank you, @walidshaari . Yesterday, you should have received access to the [Mena CFP in SMapply](https://kcd.smapply.io/admin/awards/264604/manage/dashboard/) I created.

[2022-07-21 16:28] k8tgreenley commented on #411
Hi Paco,

Thank you for letting us know. When do you think you will know if the event is no longer pending?

Thanks,

Katie

[2022-07-21 22:07] AudMonte01 commented on #441
To recap our meeting notes from today's kick-off call:
* First KCD postponed from 2019
* 100% in-person and will record presentations.
* Target is 800 attendees
* Possibly 3 tracks in 1-day
* Likely two-tiers of pricing

Some questions that came up were:

[2022-07-21 22:24] AudMonte01 commented on #441
@Smana - it looks like the CFP we created for KCD France was already copied from Paris, and there was much text in the description. That said, I have added generic text that most KCDs use, so it will allow you to edit as you wish.

[2022-07-22 01:39] Shehanka commented on #431
Hi Katie, Please extend the CFP since we have postponed event to 3rd September

[2022-07-22 06:47] Smana commented on #441
Thank you @AudMonte01 , we'll have a look at it with @jcsirot .

[2022-07-22 13:45] Smana commented on #441
Hello @AudMonte01 What does this means exactly? I'm not sure to understand what is expected here from us.

[2022-07-22 16:21] ams0 commented on #441
I suppose sharing twitter and other social media login with CNCF, which makes sense. Please provide some indication how you want to receive it (slack, email) and we can share with CNCF our login details.

[2022-07-22 17:05] AudMonte01 commented on #431
Hi @Shehanka - I had already extended it to close at midnight tomorrow, 23 July Sri Lanka time. That will allow 6 weeks time to let speakers plan for the event. Given there are still only 3 proposals submitted, would you like it open a little longer? Or do you plan on curating some of the content through the yours and the other organizers' networks?

[2022-07-22 17:07] AudMonte01 commented on #441
Yes, see Alessandro's comment. Thank you, @ams0

[2022-07-24 13:27] pichuang commented on #401
Hi @AudMonte01 Is it possible to help us to fix the display issue on community chapter page?because there is no our community logo on the page.  https://community.cncf.io/chapters/

![telegram-cloud-photo-size-5-6255997858562027855-y](https://user-images.githubusercontent.com/5253671/180649102-6424a707-706c-4937-ae27-8efa259ac29d.jpg)

![telegram-cloud-photo-size-5-6255997858562027856-y](https://u

[2022-07-25 18:58] AudMonte01 commented on #401
Hi @pichuang - It looks like the region in your chapter was missing, so I added it for you. Please see below that Taiwan is now showing under Community Groups->Asia
<img width="1129" alt="Screen Shot 2022-07-25 at 11 56 20 AM" src="https://user-images.githubusercontent.com/107572090/180853499-b51a6d29-b703-4950-a951-3178f2c0da95.png">

[2022-07-25 20:52] cedricve opened #444 "KCD Belgium 2023 (October)"
# KCD Organizer Checklist
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Details
* [ ] Event Location: TBD
* [ ] Event Date and Time: Oct 2023
* [x] Expected Number of Attendees: 300
* [ ] Event cost per ticket, and if you will have early bird pricing or not: TBD
#### Event type:
* [ ] Vir

[2022-07-26 02:38] pichuang commented on #401
Hi @AudMonte01 One more typo. Could you please modify `Location: Taipeh, Taiwan` to `Location: Taipei, Taiwan`

<img width="1704" alt="Screen Shot 2022-07-26 at 10 33 26" src="https://user-images.githubusercontent.com/5253671/180911125-a70aec10-d62b-4b90-a958-bd7d4f76c545.png">

Thanks for your support

[2022-07-26 05:19] AudMonte01 commented on #401
No problem - this has been fixed @pichuang .

[2022-07-28 16:44] sergioarmgpl commented on #437
Hi @k8tgreenley I think that we can schedule a call next week, my time zone is GMT-6, or chat on the CNCF slack

[2022-07-29 10:44] cedricve commented on #444
@gxjorge including for supper

[2022-07-31 10:31] boredabdel commented on #438
@AudMonte01 could you please allow me to add myself as an organizer to this one? I believe it's a permissions issue.

[2022-08-01 17:27] walidshaari commented on #438
@the-mirak can we have your organizer details, you and @boredabdel

[2022-08-01 17:40] the-mirak commented on #438
Karim Benzidane, Independent, Technical Trainer, k.benzidane@gmail.com, The_Mirak

[2022-08-01 18:44] boredabdel commented on #438
Abdelfettah SGHIOUAR, Google, Senior Cloud Dev Advocate, abdelfettah@google.com, abdelsource

[2022-08-02 21:28] k8tgreenley commented on #437
Hi @sergioarmgpl great, please book time for us to chat using this link: https://calendly.com/kgreenley/katie-greenley

[2022-08-08 20:46] AudMonte01 commented on #438
Thank @the-mirak - would you prefer this email address be used in SMapply?

[2022-08-08 20:47] AudMonte01 commented on #438
Excellent - looks like Katie gave you access in SMapply.

[2022-08-08 20:55] the-mirak commented on #438
@AudMonte01 - Katie already gave me admin access. Thank you.

[2022-08-08 22:21] AudMonte01 commented on #389
Hi everyone! Looking forward to our touch-base tomorrow.

Aside from following up about Bevy Pay, and generally where you are at in the planning process - @ams0, is there anything you and the team want to be sure to cover in this meeting?

[2022-08-09 01:59] pacoxu commented on #411
We want to restart the process in late July, but the covid in Chengdu raised again and we may restart the plan this month.

[2022-08-10 22:59] AudMonte01 commented on #411
Hi @pacoxu - we would like to meet with you to catch up on how far you are in the planning process, and when you think the best time is to commit to a new date for your KCD event. Are you able to meet next Tuesday the August 16 at 07:00 or 08:00 Chengdu morning time?

[2022-08-11 16:14] Seth-Karlo commented on #389
Hi all, I'm also interested in helping to organise. I've spoken with @ams0 already about this, but making a formal request here. Adding some info and please let me know next steps:

Andy Repton
Red Hat
Managed OpenShift Black Belt
cncf@falconsupport.com
Andy on Slack, or SethKarlo depending on time account was created

[2022-08-12 00:42] pacoxu commented on #411
Yes, could you create a meeting link in zoom or webex?

[2022-08-12 13:30] AudMonte01 commented on #411
Yes - I have just sent the meeting invite with Zoom @pacoxu . Thank you :-)

[2022-08-15 15:31] AudMonte01 commented on #389
Thank you @Seth-Karlo and @ams0 - I have added Seth-Karlo as an admin to SMapply. In order to add you as a Host/Organizer to [this page](https://community.cncf.io/events/details/cncf-kcd-netherlands-presents-kubernetes-community-days-amsterdam-2023/), please create an account [here](https://sso.linuxfoundation.org/login/?state=hKFo2SBDVmhjY1l5U0ZkSVUzUjRTMklQcG04aWViU2N4eEpTWKFupWxvZ2luo3RpZNkgYnF

[2022-08-15 21:30] AudMonte01 commented on #432
Hi @mkorbi - allow me to introduce myself as a newest KCD program manager on the CNCF side (I just started in June).

Being that your CFP closes tomorrow, August 16, I want to check-in to see if you want it to close 12am PDT (currently set to this), or 12am Munich time which would be 3:00pm PDT tomorrow.

[2022-08-17 21:57] Seth-Karlo commented on #389
I've created the account!

[2022-08-17 22:59] AudMonte01 commented on #437
NOTES FROM 8/17/22 MEETING:
* Event will be anywhere from Nov 26 - the first week of January
* First order of business is @sergioarmgpl to get his organizer committee together by next meeting
* Set next meeting for September 14
* Some students will present
* Audra to look into whether Sergio needs to retake the Inclusive Open Source Community Orientation
* If possible - Audra suggests Sergio give

[2022-08-18 22:25] AudMonte01 commented on #389
Thank you, @Seth-Karlo - what is your email address? I cannot find you when I type your name. It may also be that you first need to become a member of the Netherland community [here](https://community.cncf.io/kcd-netherlands/).

[2022-08-22 19:00] AudMonte01 commented on #401
Hi @pichuang - I would like to set up a call with you and team to hear about how KCD Taiwan went, as well as gather analytics for your event. Here is my Calendly to choose a time that works for you: https://calendly.com/audmonte/30min

[2022-08-22 19:42] AudMonte01 commented on #422
Hello @georg007  and team! I am the new KCD Program Manager for the CNCF and see the videos from your April event are not yet up on YouTube. If you would like for them to be added to a CNCF playlist, please let me know if you have a link to all of them that you can share with me. Otherwise, I can pull them down from Bevy (though it will take longer because some videos have multiple sessions within

[2022-08-23 07:28] Seth-Karlo commented on #389
@AudMonte01 You can use cncf@falconsupport.com for me :-) It'll come through!

[2022-08-23 08:19] ams0 commented on #389
I noticed the search works in the chapter page but not on the event page, I think I had to create the organizers there manually, not a big deal tho

[2022-08-23 14:31] AudMonte01 commented on #389
Yes @ams0 - thank you! @andycochran shows up now.

[2022-08-26 14:41] #426 closed

[2022-08-26 14:41] AudMonte01 commented on #426
Event organizers have moved to different countries and are happy to pass this KCD along to anyone that wants to take it over.

[2022-08-29 23:21] AudMonte01 commented on #391
Thank you @bradmccoydev, Wilhelm for meeting today! Here are the notes and to-dos from our meeting:

* New date: Early 2023 (possibly March)
* Flow of Show: 1-day / single track
* Venue: TBD
* Sponsors are lined up
* Re-opening CFP once dates are locked in

[2022-09-05 03:28] pichuang commented on #401
Number of Day 1 Attendees is 1,561
Number of Day 2 Attendees is 1,321

[2022-09-05 13:41] AudMonte01 commented on #401
Thank you, Phil and team for these numbers. I look forward to learning more
in our meeting.

Today is a US holiday, so I moved our meeting to tomorrow at the same time.
I hope that will work for you.  Please let me know if it does not, or you
need an earlier time (I can meet one hour earlier if needed).

Thanks again,
Audra

On Sun, Sep 4, 2022, 8:28 PM Phil Huang ***@***.***> wrote:

[2022-09-05 18:58] AudMonte01 commented on #428
Hi folks (@yankcrime and team) - checking in to see how review is going and if you need any assistance?

[2022-09-06 02:07] pichuang commented on #401
Hi @AudMonte01 I won't be able to attend the meeting today as something has come up. Could we put off the meeting until this Thu. or Fri.?

[2022-09-06 03:23] AudMonte01 commented on #401
That is not a problem. Can we meet on Thursday at 7:00pm IST which is
6:30am my time (Pacific Standard)?

On Mon, Sep 5, 2022 at 7:07 PM Phil Huang ***@***.***> wrote:

[2022-09-06 10:10] pichuang commented on #401
Hi @AudMonte01 , the schedule is available for me. Do we need to prepare any information before attending the meeting?

[2022-09-06 15:10] AudMonte01 commented on #401
Wonderful! The following would be helpful to know:

   - How many registered for your event
   - What are the total number of unique attendees
   - Confirm # of speakers (I see 10)
   - Confirm registration goal (I see 300)
   - Ticket cost (if any)
   - Registration platform (if different from Bevy)
   - Let us know about your experience and what we (the CNCF) could do
   better next time

Thank

[2022-09-06 18:29] pichuang commented on #401
- How many registered for your event

I need to double-check with the general coordinator. will give you feedback soon.

- What are the total number of unique attendees

Due to KCD Taiwan co-event with COSCUP on the 1st day, the number of attendees is 1,561.

- Confirm # of speakers (I see 10)

Actually, 12 speakers because the 2 speakers are from COSCUP Main track instead of KCD Taiwan.

- Confir

[2022-09-07 00:27] AudMonte01 commented on #401
Thank you for the information ahead of the meeting.

In the meeting on Thursday, we can discuss

   - the number of registrations
   - how you liked using Opass <https://opass.app/> and if you
   recommend other regions using it
   - elaborate on how the CNCF may bridge and lead the regional-level
   resources with each KCD event. Thank you for your example - I will ask to
   elaborate on what "sp

[2022-09-08 14:02] AudMonte01 commented on #401
Thank you @pichuang and team for meeting me today. Here are the agenda items we have to follow-up on:
* Registrations for KCD specific event within COSCUP to be sent to Audra the week of 9/12
* How many sponsors for just the KCD event (can not see in COSCUP survey)
* Videos - The YouTube link to be shared with Audra
* Audra to create CNCF Taiwan Chapter and connect to community team, as well as lo

[2022-09-08 22:31] AudMonte01 commented on #401
Hi @pichuang - I have also added you four organizers to the Cloud Native Taiwan Chapter in Bevy as members. Please let me know if you have received an email notification for this.

Here is where you can create your meetups and see others happening in the region.

[2022-09-13 02:09] pacoxu commented on #411
Chengdu is still almost locked down for covid and we must postpone the event. 😓 I will update the issue once we can confirm a date.

[2022-09-13 14:06] AudMonte01 commented on #411
Thank you for the update, Paco. We are wishing Chengdu all the best. 🤞

On Mon, Sep 12, 2022 at 7:10 PM Paco Xu ***@***.***> wrote:

[2022-09-13 19:44] AudMonte01 commented on #439
Hi @Solisol and Abdel - thank you for meeting with me today. Here are my takeaways:

* 4 additional people joining the committee - Jessica to ping Audra once they are added to this GitHub issue
* Jessica published Bevy page, but Audra to figure out how to hide the tickets
* Audra went over the marketing plan
* Ticketing platform: Eventbrite and Bevy Pay are too expensive. Abdel is looking into htt

[2022-09-13 21:18] dagoshe opened #446 "KCD Colombia 2023 (June 5-6)"
# KCD Organizer Checklist
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Details
* [x] Event Location: [University EAFIT](https://www.eafit.edu.co/)
* [x] Event Date and Time: June 5-6, 2023
* [x] Expected Number of Attendees: 600-800 people in-person (1,600 virtual)
* [x] Event cost per t

[2022-09-29 08:15] pacoxu commented on #411
We just restart the process and the date would be Oct 29th. We need to confirm with the lecturers and hotel.

[2022-09-29 14:12] AudMonte01 commented on #411
That's great news! Will you be using SMapply for the CFP, or curating your
own schedule of speakers?

Let's meet to see what help you will need from us:
https://calendly.com/audmonte/30min

On Thu, Sep 29, 2022 at 1:15 AM Paco Xu ***@***.***> wrote:

[2022-09-29 14:20] pacoxu commented on #411
We still need some time to confirm the date as some lecturers schedule is so full. We may vote tomorrow to confirm the date.

[2022-09-30 19:07] AudMonte01 commented on #438
Update from 9/30 meeting:
* Walid is essentially planning by himself, with little help with Faz and will ask CNCF Ambassador, Divya Mohan for help (should know by October 3)
* Two logos prepared by volunteers
* 1 Fiscal Sponsor (AdFolks.com), 1 Diversity Sponsor (Synapse Analytics), 3rd Sponsor DWTC (Venue and F&B Sponsor)
* Program schedule:
-- Liz Rice as a keynote speaker
-- John Boero from Has

[2022-09-30 21:52] AudMonte01 commented on #411
Ah yes, I see in (my notes)[https://docs.google.com/document/d/1W14McLXW9dZVDxWTM9Qh-MZmjwROHnoM3lOevZlq2-Y/edit#heading=h.1zqwouewkhy2] you already had speaker confirmed to speak. Is it just a matter of confirming the date works for their schedules?

[2022-09-30 22:02] AudMonte01 commented on #432
Adding notes here:
* Audra and @mkorbi connected via email to review their lineup which was sent to me on September 12.
* They have at least 4 non-male speakers
* They are also using Eventbrite for external ticketing

[2022-09-30 22:06] AudMonte01 commented on #440
Adding notes here:
* Real and Audra connected in the monthly organizer interest group where he let me know the dates are changing
* We re-connected via Slack and the dates are November 15-16 (1 day ahead of KCD Italy)
-- Katie and I connected on the dates being so close, and we agree that since KCD Spain is in Spanish and virtual, and KCD Italy is in English and in person, the events should not be

[2022-09-30 22:31] AudMonte01 commented on #427
Adding notes here:
* Annalisa submitted program schedule / lineup via Slack and I approved it under thee condition they have another female speaker on the waitlist in case one or both of the female speakers cancel.

Action items:
* Checking in to see if all the organizers have taken [Inclusive Open Source Community Orientation (LFC102)](https://training.linuxfoundation.org/training/inclusive-open-

[2022-10-01 08:37] raelga commented on #440
- Dates updated in the issue 📆
- CFP soft-closed with 97 submissions 🥳
<img width="261" alt="Screenshot 2022-10-01 at 10 36 33" src="https://user-images.githubusercontent.com/795289/193400863-9a936a99-6759-4711-98dc-48fa90342c57.png">

We will start working on the review next week with the content team.

[2022-10-03 07:12] Solisol commented on #439
@AudMonte01 Hi! The ticket is now updated with additional organisers for the program committee :)

[2022-10-03 11:31] shimont opened #447 "KCD Israel 2023 (March 23)"
# KCD Organizer Checklist
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Details
* [X] Event Location: Israel, Tel-Aviv, ZOA House TLV
* [X] Event Date and Time: 23/3/2023
* [X] Expected Number of Attendees: 400
* [X] Event cost per ticket, and if you will have early bird pricing or not
##

[2022-10-03 13:41] AudMonte01 commented on #440
That's a great number of proposals, @raelga! Nice work! Also, thank you for updating this issue.

[2022-10-03 23:10] AudMonte01 commented on #406
Adding notes from email exchange here:
* Organizers have secured the location of Islamabad FAST university for an in-person event
* The event will now be held on November 25 and 26

[2022-10-04 14:07] AudMonte01 commented on #438
Today, per a Slack message from Walid - Divya Mohan said yes to help organizing, AND presenting a session!

[2022-10-05 20:00] nate-double-u opened #448 "Netlify: select a new build image"
Notice from Netlify

As reported via deploy logs:

All Netlify builds using the Xenial build image will begin failing in the week of November 15th, 2022.

https://app.netlify.com/sites/etcd/settings/deploys#build-image-selection

[2022-10-06 17:03] agehrig opened #449 "KCD Zürich 2023 (June 15)"
# KCD Organizer Checklist
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Details
* [x] Event Location: Zürich City | Google Zurich venue confirmed
* [x] Event Date and Time: June 14 (workshops) and 15, 2023
* [x] Expected Number of Attendees: 200 (250-300 registrations)
* [x] Event cost pe

[2022-10-10 13:06] recollir commented on #439
@AudMonte01 It was decided to cancel KCD nordics. For different reasons. I am looking into the related tasks now regarding the CFP and smapply. How can we close down applications on https://kcd.smapply.io/prog/kcd_nordics_2022_cfp and change the text? I would also like to see who has already sent in a CFP to be able to inform them directly. I tried to access the shapely site. But I can't access an

[2022-10-10 15:10] AudMonte01 commented on #441
Adding notes here from our touch-base / check-in today:
* We went over the marketing plan and timeline in addition to the following
* CFP #s are 34 submitted and 68 in progress (close date = October 31)
-- Send follow-up email two weeks out (for those 68 in progress)
* Received many Sponsorship signups - so much so where they need to turn down some sponsors
-- NOTE: This might be a good opportunit

[2022-10-10 21:25] AudMonte01 commented on #439
Hello @recollir and @NissesSenap - I am sorry to hear of this event discontinuing. Is there any way it can live on by adding another organizer to the team?

[2022-10-10 21:29] NissesSenap commented on #439
@AudMonte01 with the current timeline, no.
In short we just don't have enough time to create an event with the quantity that we want to achieve.

We might revisit creating a event again but if that is the case it will be sometime in 2023.

[2022-10-10 23:37] AudMonte01 commented on #439
Thank you for the prompt response. Please let me know if this event simply needs a push of dates to 2023. For now I will close this issue, and we can always re-open it.

cc// @k8tgreenley

[2022-10-10 23:38] #439 closed

[2022-10-11 03:50] pacoxu commented on #411
The date is confirmed to be **Nov 18th**  Friday 12:45 ~ 18:05.

[2022-10-11 11:11] NissesSenap commented on #439
@AudMonte01 do you have access to the CFP page? Nether me nor @recollir have access to shut it down it.

[2022-10-11 15:42] AudMonte01 commented on #411
Excellent - I have updated our tracker, and see that you have updated it in Bevy. With that, it sounds like speakers confirmed they can still present, and November 18 was best?

[2022-10-11 17:29] pacoxu commented on #411
Yes, most of them can still be present, and I will update if someone needs to have the topic online or some small changes.

[2022-10-11 17:42] AudMonte01 commented on #411
That is wonderful - let's schedule a check-in at the end of October to see if there is anything we can help with: https://calendly.com/audmonte/30min

[2022-10-11 20:04] Smana commented on #441
Hi @AudMonte01 and thank you for these notes :)
Could you please add Emmanuel Feller to the organization group (mailing list, community account...)?
He has a pretty good experience on organizing events here in France.

[2022-10-11 22:09] AudMonte01 commented on #441
Not a problem @Smana. Shall I add Emmanuel to SMapply and Bevy as an organizer as well?

[2022-10-12 03:46] alexgleith commented on #391
Keen to find out about this event, commenting to stay updated :-)

[2022-10-12 05:36] Smana commented on #441
Yes please

[2022-10-12 13:24] AudMonte01 commented on #441
Okay excellent - this has been done!

On Tue, Oct 11, 2022 at 10:36 PM Smaine Kahlouch ***@***.***>
wrote:

[2022-10-13 06:39] recollir commented on #439
Didn't see any slack msg. But I think we are good now. Thank you @AudMonte01

[2022-10-14 15:16] AudMonte01 commented on #447
Hello @shimont - I'm very excited to see that a KCD Isreal is in the works! Let us schedule some time to have a kick-off meeting. Here is my calendly: https://calendly.com/audmonte/kcd-onboarding-kickoff-call

[2022-10-14 15:17] AudMonte01 commented on #449
Hello @agehrig  - I'm very excited to see that a KCD Zürich is in the works! Let us schedule some time to have a kick-off meeting. Here is my calendly: https://calendly.com/audmonte/kcd-onboarding-kickoff-call

[2022-10-14 15:20] #431 closed

[2022-10-14 15:25] AudMonte01 commented on #436
Closing notes:
* Matthew Cascio posted [a retrospective blog](https://www.cncf.io/blog/2022/10/06/kubernetes-community-days-washington-dc-2022-a-retrospective/)
* [Videos are on YouTube](https://www.youtube.com/watch?v=lAasbspEcG0&list=PLrDNB_yjsmB6t8jAcpTtU0CthO2dibIQ9)
* 52 registered and 32 attendees (aside from organizers) showed up in person

[2022-10-14 15:25] #436 closed

[2022-10-15 04:45] shimont commented on #447
Hey @AudMonte01, I just booked some time :)

[2022-10-16 12:41] Smana commented on #441
Thanks!

[2022-10-19 15:04] lonefreak commented on #439
@recollir @NissesSenap I know it is kinda far away now, but I would like to help organise this in 2023. What is a good channel to keep up and offer help?

[2022-10-19 17:47] recollir commented on #439
@lonefreak You could join the Cloud Native Nordics slack space and the corresponding channel there.

[2022-10-27 17:54] AudMonte01 commented on #432
Notes from retrospective meeting with @mkorbi on 10/27

Pros:
* Happy with food at venue (focused on it, due to running joke)
* Bowling for evening event was GREAT for interaction. Organizer took the initiative of mixing people for engagement
* Diversity was good (19%), and culture background is easy due to access to Munich
** They even had a speaker with a mental disability
** Offered one diversi

[2022-10-27 17:54] #432 closed

[2022-10-28 14:09] AudMonte01 commented on #449
NOTES from our 10/27 meeting

Diversity goal for speakers is 20-25%

Other organizers:
* VSHN: Silver member of CNCF
* Wide Rabbit Communications

Organizer assignments thus far:
* Phillip will organizer venue (possible Google Zurich venue / 230 potential attendees) and staffing, project management, speaker talent help
* Thomas will managing platforms
* Andreas to run sponsorships

Website
* Inter

[2022-10-30 20:39] georg007 commented on #422
Hi,

Here are the videos: https://www.youtube.com/playlist?list=PLzO-esMdGBjcux7K3mcSvGqvQYaNdQn9W

Best regards.

Juraj Hantak

[2022-10-30 21:05] georg007 opened #450 "KCD Czech & Slovak - Bratislava 2023 (May 19 - 21)"
# KCD Organizer Checklist
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Details
* [X] Event Location: Slovakia, Bratislava, Slovenská technická univerzita v Bratislave
Fakulta informatiky a informačných technológií, Ilkovičova 6276/2, 842 16 Bratislava 4
* [X] Event Date and Time: 19 - 21

[2022-10-31 14:29] #390 closed

[2022-10-31 15:02] AudMonte01 commented on #447
Notes:
* Audra to give Shimon SMapply access today
* Shimon thinks they will use an external platform for registration, but using Bevy as the event interface
* Will not be streaming, but possibly recording sessions depending on venue
* AWS is committed as a sponsor, but need to create a sponsor prospectus
* Dana is responsible for venue which we will discuss at our next meeting on December 5

[2022-10-31 15:52] AudMonte01 commented on #446
NOTES from 10/31 meeting
* There are about 13 people who will be on the program committee
* Each organizer will bring different expertise to the table, including an event organizer based on Brazil (she can travel to Columbia)
* Angel to connect with Matthew Cascio about NaomLab as a fiscal sponsors: https://www.naomlab.com/do-you-need-a-fiscal-sponsor/
* We will meet again at the end of November w

[2022-10-31 20:16] mkorbi opened #451 "KCD Munich 2023 (17-18th July)"
# KCD Organizer Checklist

### Event Details
* [x] Event Location: Smart Village Arabellapark, Munich, Germany
* [x] Event Date and Time: 17-18th of July
* [x] Expected Number of Attendees: 400
* [x] Event cost per ticket, and if you will have early bird pricing or not
  * [ ] Ticket prices
  * [ ] Regular: 160€
  * [ ] Late Joiner: 190€
  * [ ] 1 Day Pass: 100€
  * [ ] Early Bird: 100€
#### Event

[2022-11-01 14:11] AudMonte01 commented on #422
Thanks so much, George! I have saved this to the CNCF YouTube library.

Audra Montenegro
CNCF KCD Program Manager | About Kubernetes Community Days
<https://community.cncf.io/kubernetes-community-days/about-kcd/>
(707)-548-7635
US Time zone: Pacific

On Sun, Oct 30, 2022 at 1:39 PM georg007 ***@***.***> wrote:

[2022-11-04 14:05] AudMonte01 commented on #410
Hi @cloudyuga - I was going to close this issue, but see we still need to get your videos up on YouTube. Do you need help with these, or do you have them in a folder that we can upload and share?

[2022-11-04 15:02] nkhare commented on #410
There are available here and we can link it to the CNCF channel.
Post that we can close it.

[2022-11-04 15:04] nkhare opened #452 "KCD Bengaluru 2023 (June 2-3)"
# KCD Organizer Checklist
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Details
* [x] Event Location: NIMHANS Convention Centre, Bengaluru
* [x] Event Date and Time: 2nd & 3rd June'23
* [x] Expected Number of Attendees: 500
* [x] Event cost per ticket - INR 1500 (~$18) Regular and for ear

[2022-11-04 16:48] AudMonte01 commented on #410
Excellent - thank you @nkhare ! We were able to save it to the CNCF YouTube library! I will now close this ticket.

[2022-11-04 16:48] #410 closed

[2022-11-07 15:15] AudMonte01 commented on #411
LATEST UPDATE FROM NOVEMBER 6 MEETING

Registration platform and numbers?
* First message will be sent tomorrow, Tuesday November 7
* 100 possible attendees (200 original registrations) - usually 80% attendance, but 50% is likely given COVID and it's a Friday (It will take 1 hour for most attendees to come, but it is easier to come from their company on a week day).
* Chinese platform. that will a

[2022-11-07 15:56] ayesha54 commented on #406
How would I be able to join in person? whats the cost of the ticket?

[2022-11-07 18:49] sergioarmgpl commented on #437
Retaking our KCD

[2022-11-07 19:40] jberkus opened #453 "KCD Los Angeles 2023 (March 9 - 10)"
# KCD Organizer Checklist
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event Details
* [x] Event Location: Pasadena, CA
* [x] Event Date and Time: March 9-10, 2023, 9am to 6pm
* [x] Expected Number of Attendees: 100
* [x] Event cost per ticket, and if you will have early bird pricing or not: $

[2022-11-07 21:16] AudMonte01 commented on #437
Hi @sergioarmgpl - have you decided on a date for KCD Guatemala yet?