[2019-08-27 22:22] iennae opened #2 "When no open CFPs the site should display that"
Available CFPs should be autogenerated based on events and the configured CFPs. It looks like there is a plan to do that, but in addition, if no open CFPs should have a message about that.

[2019-08-27 22:25] iennae opened #3 "Sponsor logo policy"
Rather than have every event have a copy of the sponsor logo, it might be beneficial to have a centralized place within the repository so that the logo is saved once. It needs to be flexible so that as companies change logos it doesn't update past instances of events.

[2019-08-29 15:12] christinevblum opened #4 "KCD Menu"
Menu - Non-event page - https://kubernetes-community-days.netlify.com/
Home page
Organizing

Menu - Event page
Example: https://kubernetes-community-days.netlify.com/events/santa-clara-2019/
Home page logo <take back to  https://kubernetes-community-days.netlify.com/>
Location
Program
Speakers
Sponsor
Contact
Code of conduct

[2019-08-29 17:19] lucperkins commented on #4
@christinevblum This format is currently supported. Any page that you add in an event's directory (e.g. `content/events/santa-clara-2019` will show up in the navbar for that event. In this case, you only see a Sponsors page because that's the only page in that directory. If you added a Speakers page, it will show up.

[2019-08-29 17:19] #4 closed

[2019-08-29 17:20] dankohn commented on #4
That's great functionality, BTW.

[2019-08-29 21:12] iennae opened #7 "Create Template for new events"
The template should be part of the GitHub repo.

[2019-08-29 21:46] lucperkins commented on #7
@iennae Could you explain what you mean by templates? The HTML templates are in the repo. Do you mean an example template of a new set of Markdown files for an event?

[2019-08-29 21:58] christinevblum opened #10 "Remove box from organizing page"
Please remove the box from the organizing page. Thanks!

[2019-08-29 22:15] #10 closed

[2019-08-29 23:13] iennae commented on #7
issue template so when folks want to start a new event it is prepopulated with the information they should include. https://help.github.com/en/articles/about-issue-and-pull-request-templates

[2019-08-30 14:46] dankohn opened #12 "Setup prose.io configuration"
Please only allow editing in the content directory and hide everything else.

Please work off of https://github.com/atchai/atchai-hugo/blob/master/_prose.yml but read through the options on https://github.com/prose/prose/wiki/Getting-Started and https://github.com/prose/prose/wiki/Prose-Configuration. Please add comments to the configuration file if you're unsure of anything or want to explain why

[2019-08-30 15:05] christinevblum opened #13 "Remove table from about page"
Hi Luc,

Can you remove the table from the top of this page:  kubernetes-community-days/content/about.md

[2019-08-30 15:09] dankohn commented on #13
That table is metadata for the page, but you can see that it is not displayed when the site is compliled and converted to HTML:

https://kubernetes-community-days.netlify.com/about/

[2019-08-30 15:09] #13 closed

[2019-08-30 15:41] lucperkins commented on #7
@iennae Are you expecting people to begin working on events by opening issues?

[2019-08-30 15:44] christinevblum opened #15 "Events page needs menu"
We need to have the menu on this page : https://kubernetes-community-days.netlify.com/events/ as it is part of the overall organizing page. Can you please add them?

[2019-08-30 16:21] dankohn opened #16 "Add edit button to footer of every page"
So, in the footer of https://kubernetes-community-days.netlify.com/events/amsterdam-2019/ you would add a link to https://github.com/cncf/kubernetes-community-days/edit/master/content/events/amsterdam-2019/_index.md

[2019-08-30 17:25] #15 closed

[2019-08-30 17:29] lucperkins commented on #3
I think the best way to do this would be to enable companies to add multiple logos with different names. So OmniCorp could intially add `omnicorp.svg` and later `omnicorp-updated.svg` or something like that. One way or another, the different images will need to have different names.

[2019-08-30 17:47] dankohn commented on #3
I believe essentially every company would like to have their logo updated, so there's no need to maintain old ones. Instead, I think @iennae could just create some guidelines along the lines of:

1. All logos must be SVGs and follow the guidelines at https://github.com/cncf/landscape#logos.
2. The filename needs to be lowercase with hypens in place of spaces (e.g., `acme-corporation.svg`).
3. If t

[2019-08-30 18:05] christinevblum opened #19 "Events page"
Luc - can we update the events page: https://kubernetes-community-days.netlify.com/events/

This page should be set up like a table with that date of the event, the Name of the event, City of the event, and “Learn More” with a link to the event page.
I'd like it to look like OpenStack Days: https://www.openstack.org/community/events/openstackdays#tab=events_tab

[2019-08-30 18:10] dankohn commented on #19
What if we instead we kill the events page and just have the list live on the homepage, as it does on https://devopsdays.org.

Also, I think best practice from usability is just to have the event name link to the event rather than needing a learn more button.

I would support adding an extra column that would be "city, country".

[2019-08-30 18:14] dankohn opened #20 "Add faceted search to events listing"
Let people filter events by continent and country the way we do with the location dropdown on https://www.cncf.io/events-well-be-at/.

There are a [number](https://www.google.com/search?q=faceted+search+javascript) of possible libraries to use.

[2019-08-30 18:20] dankohn opened #21 "Adjust top-level menus"
Please remove the About and Events menus from the root pages. The content of both pages will just be embedded in the homepage.

[2019-08-30 18:26] lucperkins commented on #21
@dankohn So there won't be a `/events` page that lists all of the events?

[2019-08-30 18:26] dankohn opened #22 "Broken homepage links"
The links in the tiles on the homepage are broken because they go to https://kubernetescommunitydays.org/events/santa-clara-2019 instead https://kubernetescommunitydays.org/events/2019-santa-clara

[2019-08-30 18:31] #22 closed

[2019-08-30 18:32] dankohn opened #24 "Auto-generate top-level Speaker CFP and Sponsor Opportunity pages"
Please add a piece of *required* metadata to each event of `speaker-deadline` and `sponsor-deadline`.

Create a top level `Speaker CFPs` page that shows a table of event name, location, deadline where event name is a link to the CFP page for that event. Sort by deadline and exclude events where the deadline has passed.

Do the same for a top level `Sponsor Opportunities` page.

Using a different n

[2019-08-30 18:34] lucperkins commented on #12
Added in d83d944a6aa40ced3ce9be03d01c9d1eaa9c633a

[2019-08-30 18:34] #12 closed

[2019-08-30 18:35] dankohn commented on #2
Covered by https://github.com/cncf/kubernetes-community-days/issues/24

[2019-08-30 18:35] #2 closed

[2019-08-30 18:39] dankohn commented on #21
Lets leave out for now. We could always add later if the homepage becomes too full.

[2019-08-30 18:58] lucperkins commented on #20
@dankohn Due to the amount of work that this entails, I'd suggest that we set a threshold for the number of total events required before adding a selector. In my view, it doesn't make much sense for 2 or 3 but might for, say, 8.

[2019-08-30 19:23] #16 closed

[2019-08-31 12:18] dankohn opened #26 "Days can be more than one day long"
Please replace `date` with `startdate` and `enddate` because some events may be more than one day long. If `startdate` and `enddate` are the same, please display the events the way you are now rather than showing a range.

[2019-08-31 17:17] dankohn opened #27 "Eliminate tag metadata"
Since you should be able to get that from the directory name.

[2019-08-31 17:23] dankohn opened #28 "Support missing social accounts"
https://kubernetescommunitydays.org/events/2020-bouvet-island/

Kubernetes Community Day Bouvet Island has a Twitter account but no Facebook. Please support non-existent social accounts.

[2019-08-31 18:18] dankohn opened #30 "Compile Sponsor pages"
Please convert the sponsor pages to be YAML that is compiled to show the images rather than markdown. I would suggest the following YAML to produce https://kubernetescommunitydays.org/events/2020-bouvet-island/sponsors/

Categories should be displayed in the order shown, but items within a category should be displayed alphabetically.

[code]

[2019-08-31 18:25] dankohn opened #31 "Set max height and width for sponsor images"
Set a reasonable max height and width for sponsor images. See: https://kubernetescommunitydays.org/events/2020-bouvet-island/sponsors/

[2019-08-31 18:35] dankohn opened #32 "Delete Landscape logo"
Please delete the landscape logo on the homepage and center the CNCF and Kubernetes ones.

[2019-08-31 18:48] dankohn opened #33 "Homepage Upcoming Events display of events"
Please change the way events are shown in Upcoming Events on the homepage to replicate [DevOpsDays](https://devopsdays.org). They're in forward chronological order. Specifically:

2019
SEPTEMBER
Sep 5 - 6: Cape Town
Sep 10 - 12: Portland

OCTOBER
Oct 1 - 2: Raleigh
Oct 2 - 3: Hartford

Don't say the event name. Just have the city link to the event.

[2019-08-31 19:01] lucperkins commented on #32
Resolved in d1162b864889e81557f75ba82b25cb1ad0a5b36c

[2019-08-31 19:01] #32 closed

[2019-08-31 19:05] lucperkins commented on #28
Resolved in 0714786342418ae481827651057097eb49dc5cb3

[2019-08-31 19:08] dankohn commented on #20
Agreed. Note that this is post-launch.

[2019-08-31 19:21] dankohn commented on #28
Still unresolved: https://kubernetescommunitydays.org/events/2020-bouvet-island/

[2019-08-31 20:35] dankohn commented on #7
Template means a lot of different things. I would suggest that @iennae and @christinevblum create an issue template for organizers looking for partners in a city. We should also create a new project called `Event Formation` that they would be filed under. Then, when they have the prerequisites together, they should just be able to copy of the existing cities to create their event. I'm not sure tha

[2019-08-31 21:44] #28 closed

[2019-08-31 22:20] lucperkins commented on #20
Ah, gotcha. I didn't spot the project designation.

[2019-09-01 01:08] dankohn opened #34 "Fix RSS feed"
The RSS needs to exclude sponsorship and other pages and only include one entry per event that links to that events main page. Sort order should be chronological (soonest first).

https://kubernetescommunitydays.org/index.xml

[2019-09-01 02:49] cjyabraham commented on #21
My 2c:
What about using this language for the menu rather than the present continuous:
**Attend | Organize | Speak**
**Attend** link to the home page with the about info and event listing.  You could have a toggle to show past events and not have them visible by default to limit the amount of info initially present.

[2019-09-01 02:55] dankohn commented on #21
Attend seems redundant.

[2019-09-01 03:15] cjyabraham commented on #21
I don't feel too strongly about it, however, it re-enforces a nice MECE set of actions that one might be interested in doing with a Kubernetes Day.

[2019-09-02 08:58] ams0 opened #37 "Markdown from _index.md is not rendered"
I noticed that adding markdown to the `_index.md` of an event (like my PR here: https://github.com/cncf/kubernetes-community-days/blob/59b809d70ede2f8b6233dfae79a4302f69e8b181/content/events/2019-amsterdam/_index.md) doesn't render on the event (preview [here](https://deploy-preview-36--kubernetes-community-days.netlify.com/events/2019-amsterdam/)). Or is there something wrong with the markdown?

[2019-09-02 20:29] lucperkins commented on #37
Resolved by #9b8a5bef6dd2cc58e258f2d3ef7621ee2d1c5a16

[2019-09-02 20:29] #37 closed

[2019-09-02 20:58] dankohn opened #38 "Exclude past tiles from the homepage"
They'll still be in the events listing on the left, but we don't need the tile.

[2019-09-03 14:27] christinevblum commented on #19
Dev ops has an events page too. I am happy to kill the double listings. I would like to have a section for "Coming Soon" (as I think that will be most of them for now). I would like the city

[2019-09-03 16:11] dankohn commented on #19
I'd like to skip the events page and have the site avoid duplication. I'm hesitant to support a Coming Soon because we don't have clear rules on what would justify getting listed there. Instead, I'd like organizers to find each other using GitHub issue templates as defined in #7. Here are two templates for patterns you can emulate:

https://github.com/cncf/cluster/blob/master/.github/ISSUE_TEMPLAT

[2019-09-03 16:11] #19 closed

[2019-09-03 18:13] dankohn opened #39 "Use CommonMark-compliant Markdown processor"
Hugo uses BlackFriday which has subtle incompatibilities with the GitHub preview renderer.

For example, it requires a return above bullets:
https://github.com/cncf/kubernetes-community-days/commit/99aee7683811cf26de819dc6f514c566c9824007

Switch to using the new Goldmark processor instead.
https://github.com/russross/blackfriday/issues/329

Goldmark support in Hugo is underway
https://github.com/

[2019-09-03 19:02] dankohn opened #41 "Have Edit this Page track branches"
It would be great if clicking Edit this Page on https://deploy-preview-40--kubernetes-community-days.netlify.com/events/2020-bouvet-island/sponsors/ opened up https://github.com/lucperkins/kubernetes-community-days/blob/lperkins/sponsors-template/content/events/2020-bouvet-island/sponsors.md instead of https://github.com/cncf/kubernetes-community-days/blob/master/content/events/2020-bouvet-island/

[2019-09-03 19:14] lucperkins commented on #21
I'm also a fan of the verb-driven menu, personally. FWIW.

[2019-09-03 19:25] #30 closed

[2019-09-03 19:47] lucperkins commented on #41
@dankohn I don't really see a way of implementing this. The site generator would have to be aware of both the GitHub org/repo of the PR as well as the branch.

[2019-09-03 19:51] dankohn commented on #41
The info seems to be in this variable in this theme: https://learn.netlify.com/en/shortcodes/siteparam/

[2019-09-03 19:52] lucperkins commented on #31
Resolved by #40

[2019-09-03 19:52] dankohn opened #42 "Add sponsor logos to the bottom of every event page"
This would emulate the way things work on the LF Events site: https://events.linuxfoundation.org/events/kubecon-cloudnativecon-north-america-2019/cfp/

[2019-09-03 19:52] #31 closed

[2019-09-03 20:10] lucperkins commented on #41
@dankohn I'm afraid that that example does not illustrate this. It simply extracts a static parameter from the site configuration, i.e. `site.Params.foo`. It does not infer the org/repo or branch.

[2019-09-03 20:10] #42 closed

[2019-09-03 20:17] dankohn commented on #41
I think the branch is available as an environment variable: https://www.netlify.com/docs/continuous-deployment/#build-environment-variables

Anyway, note that I ranked this as a post-deploy feature, unless you want to work on it now.

[2019-09-03 20:28] #27 closed

[2019-09-04 10:59] dankohn opened #46 "Code of Conduct and required event metadata"
Please create a `Code of Conduct` menu that shows as the final item on all pages. The text should be copied from (not a link to) https://events.linuxfoundation.org/code-of-conduct/.

Please require the following metadata for all KCD events, entered in `_index.md`:
[code]
Then, please display these at the bottom of https://kubernetescommunitydays.org/events/2020-bouvet-island/code-of-conduct/
and o

[2019-09-04 11:11] dankohn opened #47 "Write up process for us to accept new events"
As a sub-page off of organizing, please create the steps that @christinevblum and @iennae will do to accept a new proposal, which means merging a pull request. This will include:

1. View the proposed events site in the staging server linked from the Pull Request. Does is have sufficient information to get started, including sponsor contact info?
2. Is the PR named "New event for city x; closes #n

[2019-09-04 11:17] dankohn opened #48 "Bring back Organizing menu"
You accidentally killed it, but it should be on all pages.

[2019-09-04 15:35] lucperkins commented on #48
Resolved by 833a63b09cb1b75a1941662dacfab732033e5817

[2019-09-04 15:35] #48 closed

[2019-09-04 16:06] lucperkins commented on #46
Resolved by 416b2497eece6a7f5299283fcda99ce942a1e283

[2019-09-04 16:06] #46 closed

[2019-09-04 16:14] lucperkins commented on #34
Resolved by 67409d32e6821c2bd3b4fb80a9eaff03ac6590a4

[2019-09-04 16:14] #34 closed

[2019-09-04 16:40] dankohn opened #50 "Don't allow event-specific code-of-conduct.md"
Could you please delete https://github.com/cncf/kubernetes-community-days/blob/master/content/events/2020-bouvet-island/code-of-conduct.md and ensure that `Code of Conduct` (note capitalization) is the last menu item everywhere on the site. The text should be the same, except that inside of events, the emergency numbers and organizer email should be listed.

[2019-09-04 16:43] lucperkins commented on #50
@dankohn The original issue explicitly called for an event-specific COC: https://github.com/cncf/kubernetes-community-days/issues/46

[2019-09-04 17:17] dankohn commented on #21
This is done.

[2019-09-04 17:17] #21 closed

[2019-09-04 17:17] dankohn commented on #26
This is done.

[2019-09-04 17:17] #26 closed

[2019-09-04 17:30] dankohn commented on #50
Sorry, Luc, my directions yesterday were in error. I meant to say that the menu item should be the same everywhere, not that there should be an editable page.

[2019-09-04 18:35] lucperkins commented on #50
@dankohn Understood. No worries.

[2019-09-04 18:47] christinevblum opened #59 "remove button from top of organizing"
Please remove the apply button from the top of the organizing page.
We will manually do one at the bottom of the page.

[2019-09-04 18:53] lucperkins commented on #59
Resolved by 6d3fbd0f924e735fcd8bf58c3569b242f5e9208c

[2019-09-04 18:53] #59 closed

[2019-09-04 19:00] lucperkins commented on #38
Resolved by 38b208216d7ef2008e9d7312b8c8efb20f4b3223

[2019-09-04 19:00] #38 closed

[2019-09-04 19:02] lucperkins commented on #33
Resolved by 38b208216d7ef2008e9d7312b8c8efb20f4b3223

[2019-09-04 19:02] #33 closed

[2019-09-04 19:09] dankohn opened #61 "Just show city name in the events listing"
2019
SEPTEMBER
Sep 5 - 6: Cape Town
Sep 10 - 12: Portland

OCTOBER
Oct 1 - 2: Raleigh
Oct 2 - 3: Hartford

Don't say the event name. Just have the city link to the event. And please show date range if there is an enddate.

[2019-09-04 19:41] lucperkins commented on #61
Resolved by f3a1d982e22115efaba04374b1c7fe3e0f314361

[2019-09-04 19:41] #61 closed

[2019-09-05 17:40] christinevblum opened #75 "Overview Tab"
Please add an overview to the menu on Bouvet Island to go back to this page: https://kubernetescommunitydays.org/events/2020-bouvet-island/

[2019-09-05 17:58] lucperkins commented on #75
Resolved by f9595880df685578551416b0204637019bc2904d

[2019-09-05 17:58] #75 closed

[2019-09-05 18:33] lucperkins commented on #50
Resolved by 0b1922736ce0c7d40209b841d99624801e2d8910

[2019-09-05 18:33] #50 closed

[2019-09-05 19:01] iennae commented on #47
Would recommend instead of organizers-bouvet-island-2020@kubernetescommunitydays.org  just sticking with organizers-bouvet-island@kubernetescommunitydays.org or bouvet-island@kubernetescommunitydays.org. We're migrating over to that now with devopsdays as in general it's a better experience for everyone (organizers, sponsors, and centralized coordination).

[2019-09-05 19:50] christinevblum opened #76 "KCD Washington DC"
### Submission checklist:

*Please check each of these indicating that you have met these requirements:

* [ ] Are you only including a `repo_url` if your project is 100% open source? If so, you need to pick the single best GitHub repository for your project, not a GitHub organization.
* [ ] Is your project closed source or, if it is open source, does your project have at least 300 GitHub stars?
*

[2019-09-05 19:57] christinevblum opened #77 "KCD San Jose"
### Submission checklist:

*Please check each of these indicating that you have met these requirements:

* [ x] All organizers signed off to the event guidelines and CNCF Code of Conduct.
* [ x] Method to accept payments including sponsorships and payout expenses
* [x ] One organizer is a CNCF Member employee, Ambassador, or CNCF Project Maintainer
* [x ] Minimum of 3 organizers from 3 different o

[2019-09-05 20:54] christinevblum opened #78 "Adding Date, Location, Etc to Overview Page"
Please add the following to the overview page (https://kubernetescommunitydays.org/events/2020-bouvet-island/):

Dates (ability to add start and end date, i.e. Tuesday, Sep 10, 2019 - Thursday, Sep 12, 2019
Register)
Location (Venue Name, City)
Register (button that will link to the reg page)
Thanks!

[2019-09-05 21:31] christinevblum opened #79 "Add organizers to contact page"
Please add in the organizers to this page: https://kubernetescommunitydays.org/events/2020-bouvet-island/contact/
Similar to the speakers page.
I have loaded all thier info into the index page.

[2019-09-05 21:57] christinevblum opened #80 "Location Page"
Please help. I am having an issue with the Location page.
I updated the copy on:
kubernetes-community-days/content/events/2020-bouvet-island./venue.md
e:
But it is not showing up on:
https://kubernetescommunitydays.org/events/2020-bouvet-island/venue/
The name of the page on the menu is location. I am not sure if that is the issue.

[2019-09-05 22:02] lucperkins commented on #80
@christinevblum That's because the build is currently failing, as you can see here: https://app.netlify.com/sites/kubernetes-community-days/deploys/5d71840fe4fe7e00073b21a4. I'll get it fixed.

[2019-09-05 22:16] #80 closed

[2019-09-05 22:26] lucperkins commented on #79
Resolved by 473819ed3a638ab1c2637137a7c3f848edd2a0d8

[2019-09-05 22:26] #79 closed

[2019-09-05 22:55] lucperkins commented on #78
Resolved by 809c820e8a8d3e6aceef00c768eb399d5ad6f2ba

[2019-09-05 22:55] #78 closed

[2019-09-06 01:26] dankohn commented on #47
organizers-bouvet-island@kubernetescommunitydays.org sounds good.

[2019-09-06 03:35] iennae commented on #7
@dankohn this is available now:

https://github.com/cncf/kubernetes-community-days/issues/new?assignees=christinevblum%2C+iennae&labels=newevent&template=host.md for folks who are ready to host

and

https://github.com/cncf/kubernetes-community-days/issues/new?assignees=christinevblum%2C+iennae&labels=planningevent&template=interest.md for folks who are wanting to find others who might be interest

[2019-09-06 17:50] christinevblum commented on #47
works for me. What is the process to get the emails set up? I am guessing that we need to set this up on our side?

[2019-09-06 18:13] dankohn opened #82 "Support events metadata in Google search"
Please implement https://developers.google.com/search/docs/data-types/event for each KCD so that they are highlighted in Google search results.

[2019-09-06 18:24] dankohn commented on #7
Great, closing.

[2019-09-06 18:24] #7 closed

[2019-09-07 02:16] dankohn opened #84 "Rewrite Readme"
Delete most of https://github.com/cncf/kubernetes-community-days/blob/master/README.md and instead link to a page taking people through creating their own event using the GitHub user interface. You can use the Readme just to describe the point of the site.

[2019-09-07 19:49] dankohn opened #85 "Only show allowed menu items"
https://kubernetescommunitydays.org/events/2020-bouvet-island/sponsor-form/ is not an allowed page according to https://github.com/cncf/kubernetes-community-days/blob/master/config.toml#L10-L17 but it still is getting a menu item. Only allowed pages should get menu items.

[2019-09-07 19:55] dankohn opened #86 "Embed Twitter feed on the homepage"
Please embed the last 5 tweets from https://twitter.com/kubeconio on the homepage. We'll soon be changing the name of this account to https://twitter.com/kubernetescommunitydays.

Directions: https://help.twitter.com/en/using-twitter/embed-twitter-feed

Please also add a Twitter icon to the footer of every page with a link to https://twitter.com/kubeconio.

[2019-09-07 22:21] dankohn commented on #47
@taylorwaggoner will set up emails for now on ITX and can later show this group how to do so. Taylor, please set this up and have it go to me, you, Chris, and Jennifer.

[2019-09-10 19:14] christinevblum opened #90 "Organizing Page"
### Submission checklist:

*Please check each of these indicating that you have met these requirements:

* [x ] I've included a URL where the issue occurs, and a screenshot if that makes things clearer
* [x] I've described what I expected to see and what I am seeing
* [x ] I am not interested or able to instead create a pull request with a proposed fix

On the organizing page: https://kubernetesco

[2019-09-10 19:37] taylorwaggoner commented on #47
@dankohn, organizers-bouvet-island@kubernetescommunitydays.org is now set up and will forward to you, Chris, Jennifer and myself.

[2019-09-10 19:48] xrs888 opened #91 "CloudCuckookoo Lang KCD"
Please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, include their information here as well.

### Event City: Cloudcuckookooland
### Organizer 1: First and Last Name, Company, Title, Email
Chris Blum, xrs888, CEO, cblum@contractor.lin

[2019-09-10 19:53] #91 closed

[2019-09-10 20:03] christinevblum opened #92 "Cloudcockookooland"
Please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, include their information here as well.

Event City: Cloudcuckookooland
Organizer 1: First and Last Name, Company, Title, Email
Chris Blum, xrs888, CEO, cblum@contractor.linuxfounda

[2019-09-10 20:12] xrs888 commented on #92
We have two more sponsors for the event. Legoland and The Justice League

[2019-09-10 20:19] christinevblum commented on #92
Congratulations! Please open issue to have your event officially recognized here: https://github.com/cncf/kubernetes-community-days/issues/new?assignees=christinevblum%2C+iennae&labels=newevent&template=host.md

[2019-09-10 20:19] #92 closed

[2019-09-10 20:27] christinevblum opened #93 "KCD Cloudcockookooland"
### Submission checklist:

*Please check each of these indicating that you have met these requirements:

* [x] All organizers signed off to the event guidelines and CNCF Code of Conduct.
* [x] Method to accept payments including sponsorships and payout expenses
* [x] One organizer is a CNCF Member employee, Ambassador, or CNCF Project Maintainer
* [x] Minimum of 3 organizers from 3 different organ

[2019-09-10 21:32] christinevblum commented on #90
fixed the links

[2019-09-10 21:32] #90 closed

[2019-09-11 04:01] lucperkins commented on #85
Oops, accidentally removed this logic when updating the aesthetic of the navbar. Fixed in 15069dabef5ce5ac49f3985477db21c06efa2c35.

[2019-09-11 04:01] #85 closed

[2019-09-11 16:41] christinevblum opened #96 "KCD Eugene, OR, United States 2021"
Please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, include their information here as well.

### Event City:
### Organizer 1: Chris Blum, CNCF, Marketing Manger, cblum@cncf.io

I am interested in hosting a KCD in Eugene and looking f

[2019-09-11 17:35] christinevblum commented on #96
Adding two organizers:
Thermal Fisher and Yogi Tea

[2019-09-11 17:40] #96 closed

[2019-09-11 17:59] xrs888 opened #97 "2021 Eugene, Or, United States"
### Submission checklist:

*Please check each of these indicating that you have met these requirements:

* [x] All organizers signed off to the event guidelines and CNCF Code of Conduct.
* [x] Method to accept payments including sponsorships and payout expenses
* [X] One organizer is a CNCF Member employee, Ambassador, or CNCF Project Maintainer
* [X] Minimum of 3 organizers from 3 different organ

[2019-09-11 18:22] #97 closed

[2019-09-11 18:43] xrs888 opened #98 "test 2020"
Please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, include their information here as well.

### Event City:
### Organizer 1: First and Last Name, Company, Title, Email

[2019-09-11 18:45] christinevblum opened #99 "Bug on event formation"
### Submission checklist:

*Please check each of these indicating that you have met these requirements:

* [X] I've included a URL where the issue occurs, and a screenshot if that makes things clearer
* [X] I've described what I expected to see and what I am seeing
* [ X] I am not interested or able to instead create a pull request with a proposed fix

https://github.com/cncf/kubernetes-community-

[2019-09-11 19:05] dankohn commented on #99
Unfortunately, GitHub doesn't support the functionality of automatically adding issues to a project board. Using issue templates we can automatically assign them labels, but not to a project. It's an obvious shortcoming that will be fixed at some point. Lots of people complain about it here: https://github.community/t5/How-to-use-Git-and-GitHub/New-Issues-Not-Being-Auto-Added-to-Project-Board/td-p

[2019-09-11 19:05] #99 closed

[2019-09-11 21:16] christinevblum commented on #98
added to Event Formation

[2019-09-11 21:59] dankohn opened #100 "Implement new design"
@alexcontini Could you please mockup designs for both https://kubernetescommunitydays.org (the website homepage) and https://kubernetescommunitydays.org/events/2020-bouvet-island/ (an event homepage). We're looking for relatively simple but better use of space and more visually interesting. https://cloudnative.amsterdam might be one site to use for ideas.

Please discuss your ideas over Slack and

[2019-09-12 06:37] dankohn opened #101 "Please writeup instructions to install Hugo locally"
For more technical users

[2019-09-13 15:08] christinevblum opened #104 "Table to Program Page on Bouvet Island"
### Submission checklist:

*Please check each of these indicating that you have met these requirements:

* [x] I've included a URL where the issue occurs, and a screenshot if that makes things clearer
* [x] I've described what I expected to see and what I am seeing
* [x] I am not interested or able to instead create a pull request with a proposed fix

Please incorporate a table into the Program pa

[2019-09-13 15:37] christinevblum opened #105 "Update Template to look for images in local director"
### Submission checklist:

*Please check each of these indicating that you have met these requirements:

* [X] I've included a URL where the issue occurs, and a screenshot if that makes things clearer
* [X] I've described what I expected to see and what I am seeing
* [X] I am not interested or able to instead create a pull request with a proposed fix

Hi Luc,

Can you please update the Bouvet Isla

[2019-09-13 15:46] christinevblum commented on #105
Luc - let me know when this is complete and I will remove all the images from the img file.

[2019-09-14 07:08] blixtra opened #117 "2020 Berlin"
### Event City: Berlin

We'd like to propose an event in Berlin the 2nd half of May. This is a perfect time to hold an event in Berlin, with great weather and before the holidays kick in. Berlin also offers a wealth of unique venues and one of the most active tech scenes in all of Europe.

### Experience

We at Kinvolk already organize several successful open source events. For example, next week

[2019-09-15 03:02] lucperkins commented on #105
@christinevblum This unfortunately isn't possible due to the way the static site generator handles static assets. All static assets need to be in the `static` folder.

[2019-09-15 12:03] dankohn commented on #105
@christinevblum for clarity, let's create the directories /static/img/2020-bouvet-island/speakers and /static/img/2020-bouvet-island/sponsors and add directions that organizers should only modify files in their content and their img directories.

[2019-09-15 14:25] dankohn opened #118 "Internal links should not open new window"
Click `sponsors` in the text on https://kubernetescommunitydays.org/events/2020-bouvet-island/ and it opens a new tab. The menu already works correctly.

[2019-09-15 14:27] dankohn opened #119 "Add external link icon to external links"
https://www.htmlstudio.co.uk/blog/adding-an-external-link-icon-using-font-awesome-and-jquery/

Note that we already have this running on the cncf.io menus.

[2019-09-16 15:10] xrs888 commented on #105
@dankohn do we want to folders? For now, I think one folder will suffice /static/img/2020-bouvet-island. Then each event will have one folder

[2019-09-16 15:16] dankohn commented on #105
Your call.

[2019-09-16 15:41] #105 closed

[2019-09-16 15:57] #119 closed

[2019-09-17 03:23] dankohn opened #131 "Create event directories inside /static/img"
We want to create event specific subdirectories inside of `/static/img`. Could you please move the contents of `/static/img/people` into `/static/img/2020-bouvet-island` and change the template to look for the images there. Please do the same for logos, sponsors, and maps. We don't need sub-directories inside of `2020-bouvet-island`.

[2019-09-17 19:28] christinevblum commented on #117
@blixtra this is very exciting news!  We are very close to launching Kubernetes Community Days events page so your timing is perfect!

We have another organizer who reached out to me earlier this year, I will put you in touch with them.

Finally, here is the getting started checklist:
- No other Kubernetes Community Day event in the local area
- Minimum of 3 organizers from 2 different organizatio

[2019-09-17 19:39] christinevblum commented on #131
I moved the images. @luc can you please update the template. Once that is done I can delete the other folders.

[2019-09-17 19:41] christinevblum commented on #98
used for writing how to guide. I am going to close.

[2019-09-17 19:41] #98 closed

[2019-09-17 19:54] #93 closed

[2019-09-17 19:55] #77 closed

[2019-09-17 19:56] #76 closed

[2019-09-17 20:04] christinevblum opened #133 "test"
If you do not have your team assembled, please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, include their information here as well. Continue to update the issue when you add new organizers and sponsors until you are ready to commit t

[2019-09-18 00:52] blixtra commented on #117
Hi @christinevblum, please do put me in touch with them. But we do already have another org we'll be working with on this. I'll add the info later this week and file the PR. All the above boxes should be checked.

[2019-09-18 02:31] dankohn opened #134 "Automatically build tables in program page"
Could you please reuse the devopsday code to turn this program info https://github.com/devopsdays/devopsdays-web/blob/master/data/events/2019-london.yml#L210 into https://devopsdays.org/events/2019-london/program.

[2019-09-18 05:10] lucperkins commented on #86
@dankohn Unfortunately, there's no option to select the number of tweets so I set a maximum height instead. I really don't love the widget that they provide so I'm going to continue looking for other options.

[2019-09-18 05:16] lucperkins commented on #118
The issue is that the external link script interprets relative links like `<a href="sponsors">Sponsors</a>` as external links. It's not immediately clear to me that that's avoidable but I'll think on it.

[2019-09-18 06:34] lucperkins commented on #134
@dankohn They're using Bootstrap for CSS and adopting a `Scratch`-based approach that strikes me as highly inadvisable, so I'll need to build from scratch

[2019-09-18 11:04] dankohn commented on #131
@lucperkins You didn't seem to address the request here.

[2019-09-18 11:07] dankohn commented on #86
There is. See Customize Widget Components on https://developer.twitter.com/en/docs/twitter-for-websites/timelines/overview.html or look at https://www.dankohn.com/#recent-tweets

[2019-09-18 11:19] dankohn commented on #118
The JS I recommended is brain dead. It's looking for a `/` at the beginning to signal internal, which doesn't capture our relative URL usage. Please try this approach instead: https://stackoverflow.com/a/33333648/1935918

[2019-09-18 17:46] #24 closed

[2019-09-19 11:14] lucperkins commented on #131
@dankohn Oops! I think I fat-fingered that on my phone. PR #138 should address this.

[2019-09-20 18:32] dankohn commented on #134
Good news. We just got a license to use Sched so there's no need to do this.

[2019-09-20 18:32] #134 closed

[2019-09-20 18:34] dankohn opened #144 "Create sample Sched schedule"
1. Use your work email to give your personal email access to Sched for KCD Bouvet Island.
2. Create several talks from Phippy and friends.
3. Embed the schedule in https://kubernetescommunitydays.org/events/2020-bouvet-island/program/ (ask on Slack if you need help).
4. Write up directions to do this.
5. Add a requirement to use Sched for the scheduling to the organizing page.

[2019-09-20 18:35] dankohn commented on #104
Closed in favor of #144

[2019-09-20 18:35] #104 closed

[2019-09-20 18:36] dankohn commented on #3
We're going to go with having every event keep their own copy of logos for now.

[2019-09-20 18:36] #3 closed

[2019-09-20 19:28] #131 closed

[2019-09-20 19:37] dankohn opened #145 "Move main image logos"
Please move `/static/img/logos/` to `/static/admin/img/logos/` or (if necessary) `/static/img/admin/logos/` to make clear that regular users shouldn't put things there.

[2019-09-20 20:46] dankohn opened #146 "Keep top-level menus on the right side"
On https://kubernetescommunitydays.org/events/2020-bouvet-island/

Please have the menus go:

Overview
Contact
Program
Speakers
Sponsor
Venue
Organizing
Code of Conduct
Speaking
Sponsoring

That is, the last 4 should always stay to the right, and on events pages, the first 6 should appear.

[2019-09-20 20:49] dankohn opened #147 "Fix the Bouvet Island organizer images"
https://kubernetescommunitydays.org/events/2020-bouvet-island/contact/

Image reorg broke them.

[2019-09-21 11:13] lucperkins commented on #145
Resolved by 30aa9c3b1da3aa53dad80a563e524f49d124b689

[2019-09-21 11:13] #145 closed

[2019-09-21 11:18] lucperkins commented on #147
Resolved by 9fc2314e0079cac37399c3bfc3f1807ad75740f4

[2019-09-21 11:18] #147 closed

[2019-09-21 11:21] lucperkins commented on #146
Resolved by bbbd1e2a5895f73e4904da54bc4e3bb9e8240457

[2019-09-21 11:21] #146 closed

[2019-09-24 15:24] christinevblum commented on #133
Completed

[2019-09-24 15:24] #133 closed

[2019-09-24 23:33] dankohn commented on #84
Page in the site.

[2019-09-26 15:09] dmueller2001 opened #155 "Looking for co-organizers to help plan a Vancouver, BC K8S Community Day"
I do not have team assembled, I'm  interested in organizing an event in Vancouver perhaps co-located with some other larger tech conference in the Spring of 2020.

If you are interested in helping plan this event, please add a comment so we can achieve the 3 organizers required to move this forward.

### Event City: Vancouver, British Columbia, Canada

### Organizer 1: Diane Mueller, Red Hat, Dire

[2019-09-27 16:25] christinevblum commented on #144
This is done

[2019-09-27 16:25] #144 closed

[2019-09-27 16:27] christinevblum commented on #84
Can I suggest we do as Google Doc for now? I have it set up in suggestion mode, so if anyone runs into an issue they can comment and I can fix. It will be much easier to update in Google. I

[2019-09-27 16:34] dankohn commented on #84
I really want all the content in GitHub so we can track it's evolution over time.

[2019-09-27 16:44] christinevblum commented on #84
I will add to github. It is 37 pages long with Images. I will need to download all the images from google and put into the image folder.

[2019-09-30 17:52] christinevblum commented on #47
this is completed and approved.

[2019-09-30 17:52] #47 closed

[2019-09-30 18:54] lucperkins commented on #101
Resolved by 98ab9dc6c238cf985e9158c5163cb162002b3c71

[2019-09-30 18:54] #101 closed

[2019-09-30 19:29] dankohn opened #160 "Clarify which menus are event-specific"
I find it confusing that you can't easily see which menus are universal and which are specific to an event. What would you think of redoing the menus to look something like this:

![image](https://user-images.githubusercontent.com/3083270/65909558-eea68200-e396-11e9-8052-dabbd617a006.png)

Clicking Bouvet Island would just click the menu above it.

[2019-09-30 19:37] lucperkins commented on #118
Resolved by 96a31b6f1824f08696e8cca4928e79189e9aa267

[2019-09-30 19:37] #118 closed

[2019-09-30 20:43] christinevblum commented on #160
I like it!

[2019-09-30 20:43] dankohn commented on #160
Here's a revised idea:

![image](https://user-images.githubusercontent.com/3083270/65915448-7b563d80-e3a1-11e9-8920-706ab8b4533e.png)

[2019-09-30 21:10] christinevblum opened #163 "embed Image on create website page"
### Submission checklist:

*Please check each of these indicating that you have met these requirements:

* [X] I've included a URL where the issue occurs, and a screenshot if that makes things clearer
* [X] I've described what I expected to see and what I am seeing
* [X] I am not interested or able to instead create a pull request with a proposed fix
https://github.com/cncf/kubernetes-community-da

[2019-10-01 00:20] #160 closed

[2019-10-01 00:25] dankohn opened #164 "Menu name is off"
First menu of https://kubernetescommunitydays.org/events/2020-bouvet-island/ correctly shows `Bouvet Island Overview`. First menu of https://kubernetescommunitydays.org/events/2019-amsterdam/ incorrectly shows `Kubernetes Community Day Amsterdam Overview` when it should say `Amsterdam Overview`.

[2019-10-01 00:37] #163 closed

[2019-10-01 18:19] lucperkins commented on #164
Resolved by b98f9abc96049cb3c79c5eb380dd7f5c642d59bb

[2019-10-01 18:19] #164 closed

[2019-10-01 21:02] #84 closed

[2019-10-01 21:15] christinevblum commented on #117
@blixtra we are soft launching tomorrow! You are cleared to be the first KCD to test everything out. Can you create a new event issue (we've updated the template) with all your teams info? I will close this issue.

[2019-10-01 22:29] blixtra commented on #117
Sure, will do!

[2019-10-02 01:16] dankohn commented on #100
Completed

[2019-10-02 01:16] #100 closed

[2019-10-02 05:28] dankohn commented on #86
Done, thank you!

[2019-10-02 05:28] #86 closed

[2019-10-02 08:58] cloudyuga opened #168 "KCD, Bengaluru, India"
If you do not have your team assembled, please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, include their information here as well. Continue to update the issue when you add new organizers and sponsors until you are ready to commit t

[2019-10-02 09:01] #168 closed

[2019-10-02 09:01] nkhare opened #169 "KCD, Bengaluru, India"
If you do not have your team assembled, please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, include their information here as well. Continue to update the issue when you add new organizers and sponsors until you are ready to commit t

[2019-10-02 15:33] oicheryl opened #170 "Kubernetes Community Day London 2020"
## Kubernetes Community Day London 2020
### Proposed date: Q3/4 2020
### http://kubernetesdays.london/

### Submission checklist:

* [x] All organizers signed off to the event guidelines and CNCF Code of Conduct.
* [x] Method to accept payments including sponsorships and payout expenses
* [x] One organizer is a CNCF Member employee, Ambassador, or CNCF Project Maintainer
* [x] Minimum of 3 organiz

[2019-10-02 15:59] nickchase opened #171 "Kubernetes Community Days Bay Area (formerly Silicon Valley)"
Mirantis would like to host an event in Silicon Valley.  We will be attaching details shortly.

Thank you!

----  Nick Chase, Mirantis

If you do not have your team assembled, please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, inclu

[2019-10-02 17:50] dankohn opened #172 "Add standard CFP software"
Please work with Nanci to get pricing on SM Apply and compare to https://sessionize.com. When we pick it, add it as a mandated choice.

Cc @dmueller2001

[2019-10-03 02:45] vllry commented on #155
I am interested!

[2019-10-03 03:49] krishna-mk commented on #169
Superb! We are in for the KCD Bangalore 2020.

[2019-10-03 14:47] christinevblum commented on #171
Hi @nickchase! Welcome! Please share the details when you have them and we can get you set-up!

[2019-10-03 14:49] christinevblum commented on #170
Welcome @oicheryl! Can you make sure organizers have signed off on the event guidelines and code of conduct?

[2019-10-03 14:51] christinevblum commented on #169
@krishna-mk Welcome! Be sure to check the first box once all your organizers have agreed event guidelines and CNCF Code of Conduct

[2019-10-03 15:21] oicheryl commented on #170
@jmickey @dlectronique Please read https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing and thumbs up this comment to sign off.

[2019-10-03 15:31] blixtra commented on #172
Some of the folks who will be organizing local KCD events will already have process and systems in place for running events. While I think it is very helpful to have suggested tools for running conferences, mandating certain processes can be an additional burden on others. I know for us at Kinvolk it will be.

For example, for [All Systems Go!](https://all-systems-go.io/) and [Cloud Native Rejekts

[2019-10-03 15:35] blixtra commented on #170
@oicheryl We were talking with JetStack about doing a KCD In London in May of next year. Do you think there is room for collaborating on making that happen?

[2019-10-03 15:57] oicheryl commented on #170
@christinevblum Organisers have signed off.

@blixtra Have you begun organising? May next year is very tight.

[2019-10-03 16:02] dankohn commented on #172
@blixtra We appreciate the feedback and are opening to relaxing the requirements over time. But to start with, we want to mandate the tools so that we are in a position to provide support (and have the community of other KCD organizers provide support).

We are explicitly running this on a less flexible model than how we recommend tools to CNCF-hosted projects. We do not see KCD organizers as nece

[2019-10-03 16:02] blixtra commented on #170
We feel comfortable with being able to pull it off. We have a team that focuses on events. We're also planning on doing one in Berlin at a similar time and feel that having those close together has benefits for those coming from abroad.

[2019-10-03 16:14] dankohn commented on #170
@blixtra We added a requirement https://github.com/cncf/kubernetes-community-days/pull/175/files (it accidentally disappeared from earlier drafts) that organizers need to be local. We want to avoid situations of having organizations "squat" on multiple KCD locations.

Also, my experience is that events run by single organizations can naturally move faster than KCD-like events where some consensus

[2019-10-03 17:17] blixtra commented on #170
Ok, that complicates things a bit for our Berlin event. For Berlin, we intended to have Loodse (Hamburg) and JetStack (London) joining. For London, JetStack would have been the local lead with us doing lots of the logistics since we have that experience. So it looks like neither Berlin nor London would work in those forms.

Also, I'd assume that you will often find that there will often have lead

[2019-10-03 17:25] dankohn commented on #170
Thanks for understanding where we’re coming from. I think we genuinely need each organizer to be local *and* actively involved but nobody should hold it against them if they also get help from other staff at their company. But, the organizer position belongs to the person, not the company, if, for example, people change jobs.

[2019-10-03 17:27] dlectronique commented on #170
Just my thoughts - Local community days should be run by the local community, like DevOpsDays. We have enough folks on the ground here (from different organisation) who are willing to help out with KCD London, who are experienced event organisers in the community. Having just completed a succesful DevOpsDays London last week, I think we're good for experienced crew members :)

[2019-10-03 17:37] blixtra commented on #170
Sorry, for coopting the issues. I was wondering more now about Berlin and Denver. I think some of the confusion comes because for Berlin, we [were point to work](https://github.com/cncf/kubernetes-community-days/issues/117#issuecomment-532366783) with folks that were not from Berlin for the Berlin event.
I'll take that to the Berlin issue, though. :wave:

[2019-10-03 18:35] blixtra opened #177 "2020 Berlin"
### Event City: Berlin
### Organizers 1: Chris Kuehl, Kinvolk, CEO, chris@kinvolk.io + Lexi Nadolski, Kinvolk, Head of Events, lexi@kinvolk.io
Chris is a CNCF Ambassador and long-time open source contributor.
Lexi heads the events team at Kinvolk and coordinates volunteer and event diversity efforts.
### Organizer 2: Bill Mulligan, Loodse, Engineer, bill.mulligan@loodse.com
### Organizer 3: Tine R

[2019-10-03 18:39] blixtra opened #178 "Organizer count missmatch in organizer docs and new event template"
The [guideline in the organizing document](https://github.com/cncf/kubernetes-community-days/blob/master/content/organizing.md#getting-started-checklist) about organizer count is different from that in the template for new issues/events.

The guideline says 3 organizers from at least 2 organizations while the template says 3 organizations.

[2019-10-03 20:06] christinevblum commented on #178
@blixtra this has been fixed. Thanks for catching it and bringing to our attention.

[2019-10-03 20:06] #178 closed

[2019-10-03 20:58] oicheryl commented on #170
@blixtra Thanks for understanding and sorry for any confusion caused.

@dlectronique and @jmickey are both heavily involved with the London and UK tech community and have organised conferences with 100s of attendees, so I am very confident in their skills, experience and commitment to deliver a fantastic KCD London.

[2019-10-04 06:54] mkorbi opened #182 "KCD 2020 Munich, Germany"
### Event City:
Munich/München, Bavaria, Germany
Second or third July week 2020

### Submission checklist:
* [X] All organizers signed off to the event guidelines and CNCF Code of Conduct.
* [X] Method to accept payments including sponsorships and payout expenses
* [X] One organizer is a CNCF Member employee, Ambassador, or CNCF Project Maintainer
* [X] Minimum of 3 organizers from 3 different org

[2019-10-04 07:27] tinerehbein commented on #117
Good Morning @blixtra, this is really good news. We would be happy to work with you on the Kubernetes Community Days Berlin.

SysEleven has been a CNCF member since mid 2018, with our own Kubernetes as a Service solution.

I would be happy if you contact me and we can talk about details.

[2019-10-04 09:08] singh728om opened #183 "Kubernetes Community Day Noida"
If you do not have your team assembled, please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, include their information here as well. Continue to update the issue when you add new organizers and sponsors until you are ready to commit t

[2019-10-04 11:09] krishna-mk commented on #169
### Submission checklist:

*Please check each of these indicating that you have met these requirements:

* [x] All organizers signed off to the event guidelines and CNCF Code of Conduct.
* [x] Method to accept payments including sponsorships and payout expenses
* [x] One organizer is a CNCF Member employee, Ambassador, or CNCF Project Maintainer
* [x] Minimum of 3 organizers from 3 different organ

[2019-10-04 15:52] blixtra opened #184 "Request: Recommend rather than mandate tools to use for ticketing, CFP, and scheduling"
Currently it looks like the CNCF has chosen to take the heavy-handed approach to mandating that one use Eventbrite for ticketing, Sched for scheduling and a ticket is in the pipeline for mandating Sessionize for the CFP for all KCD.

As background, I recall a long thread "Thoughts on KubeCon" about how KubeCon was getting too big and that the CNCF should support more grassroots efforts. In fact, f

[2019-10-04 16:13] blixtra commented on #117
@christinevblum Should I close [the other ticket](https://github.com/cncf/kubernetes-community-days/issues/177) I was requested to open?

[2019-10-04 16:14] blixtra commented on #117
Sure, we know SysEleven. Can you please send a message to the address above and we can pick it up there?

[2019-10-04 16:50] dankohn commented on #184
Thanks for the message and for the short phone call we just had.

As I explained on the phone, we're open to expanding the number of supported systems after KCDs are up and running (e.g., in 2021). At launch, we want to ensure that KCDs use a set of software that CNCF is familiar with and can help support, and that enables KCD organizers from different cities to support each other. Additionally, w

[2019-10-04 17:30] blixtra commented on #184
I'm fine with this being closed as `wont-fix`, but I think it important to document the express disagreement about decisions, decisions that I hope will be reconsidered in the future.

For future reference, what I think would be great to have are...
* Move to a guideline system, rather than a mandate system
* Recommendations on tools to use. I don't think there needs to be one set of recommendatio

[2019-10-04 17:40] dankohn commented on #184
I really appreciate the *interface not implementation* phrasing and I agree that's what we should aim to move toward once we have the confidence of an initial round of events under our belt.

Closing now, but we're reopening in the second half of 2020.

[2019-10-04 17:40] #184 closed

[2019-10-04 18:18] troytop commented on #155
SUSE is interested in helping.

[2019-10-04 20:43] ams0 opened #185 "KCD Amsterdam, The Netherlands, 24-25 September 2020"
### Event City: Amsterdam, The Netherlands
### Organizer 1: Alessandro Vozza, CNCF Ambassador, info@cloudnative.amsterdam
### Organizer 2: Fabio Tiriticco, Reactive Amsterdam, Software Engineer, fabio.europe@gmail.com (@ticofab)
### Organizer 3: Walter Heck, Helecloud, CTO Netherlands, walterh@helecloud.com

2019 event: https://cloudnative.amsterdam
Event website on Github: https://github.com/clou

[2019-10-04 20:48] brentsmi commented on #155
Hi Diane! As Troy said, he and/or I can help.

[2019-10-04 20:49] JohnOnTheWeb opened #186 "Looking for Co Organizers and sponsors for event in Houston Texas"
### Event City: Houston, Texas
### Organizer 1: John Eldridge, NTT Data, Strategic Advisor, john.eldridge@nttdata.com
### Organizer 2: Dan Collins, American Bureau of Shipping, Director, Enterprise Architecture, realdancollins@outlook.com
### Organizer 3: Dan Kirkpatrick, Kubernetes Consultant at Anadarko, dan@frissoncomputing.com

Once you have identified your 3 organizers, 2 sponsors, please com

[2019-10-05 08:33] ticofab commented on #185
Great! My family name is missspelled and I would remove "Fontem" :)

[2019-10-06 21:37] ams0 commented on #172
We had a good first run with sessionize for KCD Amsterdam. It integrated with our Hugo-based website, allowing to live-update the schedule from sessionize; however, perhaps sched.com is even better on that front, but you then have to have a separate process and tool for CFP. Prior to sessionize, I gave OpenCFP (https://github.com/opencfp/opencfp) a try but running your own CFP software was too muc

[2019-10-06 21:40] dankohn commented on #172
We would love to get some proposed text on finding and working with a program committee. Certainly, you can start with CNCF ambassadors, project maintainers, and local CKAs and CKADs.

--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
dankohn.com or book on my calendar: dankohn.com/c

[2019-10-07 11:13] superbrothers opened #187 "2020 Tokyo, JAPAN"
### Event City: Tokyo, JAPAN

### Organizer 1: Ian Lewis, Google, Developer Advocate, ianlewis@google.com
### Organizer 2: Kazuki Suda, Yahoo Japan Corporation and Z Lab Corporation, Software Engineer, kazuki.suda@gmail.com
### Organizer 3: Seigo Uchida, Individual, Software Engineer, spesnova@gmail.com
### Organizer 4: Aya Igarashi, Yahoo Japan Corporation and Z Lab Corporation, Software Engineer

[2019-10-07 11:20] dankohn commented on #187
This is a great start. Please note that in addition to identifying a method to accept payment, we also need you to identify 3 organizations that have agreed to sponsor the event.

[2019-10-07 16:03] Sramsel opened #190 "2020 Washington, D.C."
**Event City:** Washington, D.C.

**Dates:**
September 15, 2020

**Experience:**
We are organizers of the [All Things Kubernetes Meetup](https://www.meetup.com/All-Things-Kubernetes-k8s-DC/) in Washington, D.C., with almost 700 members. We have been successfully organizing meetups for over 2 years and look forward to hosting a larger event here in the D.C. Area.

### Submission checklist:

*Please

[2019-10-07 16:19] walterheck commented on #185
Organizer: Walter Heck, Helecloud, CTO Netherlands, walterh@helecloud.com

[2019-10-07 19:48] dmueller2001 commented on #155
@iennae we have the organizers and verbal commits to sponsors as of today; could we also get a CNCF liason named to this effort and then I'll call a kick off meeting to discuss dates/venues/recruiting more sponsors

[2019-10-07 19:52] srknc commented on #185
Organizer: Serkan Capkan, Cloutive, Solutions Architect, serkan.capkan@cloutive.nl

[2019-10-07 20:36] dankohn commented on #155
The next step we'd planned is for you to post the sponsors who have committed, and then we'll sign off on you creating the event site. Does that work for you?

[2019-10-08 02:55] dstrebel opened #191 "2020 Kubernetes Community Days Minneapolis"
### Event City: Minneapolis
### Organizer 1: Dave Strebel, Microsoft, Cloud Native Architect, dastrebe@microsoft.com
### Organizer 2: Keith Resar, Red Hat\IBM, Cloud Solution Architect, keith.resar@redhat.com
### Organizer 3: Dmitriy Sandler Sysdig, Systems Engineer,  dmitriy.sandler@sysdig.com
### Organizer 4: Karen Chu, Microsoft, Community Program Manager, karen.chu@microsoft.com

### Date:
We

[2019-10-08 03:37] ianlewis commented on #187
The checklist included "Minimum of 3 organizers from 3 different organizations". Do we need to identify the organizations separately from the organizers?

[2019-10-08 03:41] dankohn commented on #187
What you have is good. But listing the 3 sponsors is an additional requirement. (Sorry, we left it off of the initial version of the issue template.)

[2019-10-08 03:48] dankohn opened #192 "Set up image for Twitter cards"
See that we don't have one at https://cards-dev.twitter.com/validator

[2019-10-08 09:47] ams0 commented on #185
Created a sched account https://kcdams20.sched.com/ (will upgrade later)

[2019-10-08 15:05] christinevblum commented on #170
@oicheryl do you have 3 sponosrs for your event? Once we get your 3 sponosor names your team will be signed off to start your event pages.

[2019-10-08 15:39] christinevblum commented on #185
Welcome, @ams0 and team! Please confirm that all your organizers are local.
The next step after that would be for you to post the names of the three sponsors, and then we'll sign off on your team creating the event site.

[2019-10-08 15:42] christinevblum commented on #117
@blixtra I will closet this one out and we will work from #177

[2019-10-08 15:42] #117 closed

[2019-10-08 15:44] christinevblum commented on #177
@blixtra Please continue to update as you complete the items on the checklist. Once complete we'll sign off on your team creating the event site.

[2019-10-08 15:49] blixtra commented on #177
Sure, we have a meeting with some folks on Thursday. Will update after that meeting.

[2019-10-08 15:50] christinevblum commented on #155
There are a couple of items missing from the checklist, please confirm:
All organizers signed off to the event guidelines and CNCF Code of Conduct
Method to accept payments including sponsorships and payout expenses

[2019-10-08 15:54] christinevblum commented on #186
Welcome, @JohnOnTheWeb! Please update the issue as you complete the items on the checklist. Once everything is complete we'll sign off on your team creating the event site.

[2019-10-08 16:01] christinevblum commented on #182
Please update the issue as you complete the items on the checklist. Once everything is complete we'll sign off on your team creating the event site.

[2019-10-08 16:07] christinevblum commented on #169
The next step is to provide the names of your three sponsors. (Sorry, we left it off of the initial version of the issue template.) Once we get your 3 sponsor names your team will be signed off to start your event pages.

[2019-10-08 16:54] dpnl87 commented on #185
Organizer: Daniel Paulus, Fullstaq, Devops 🥑, d.paulus@fullstaq.com

[2019-10-08 20:11] thedancollins commented on #186
I am the second organizer for Houston:
Organizer 2: Dan Collins, American Bureau of Shipping, Director, Enterprise Architecture, realdancollins@outlook.com

[2019-10-09 07:04] FloorD commented on #185
Organizer: Floor Drees, Microsoft, Dev PMM, florien.drees@microsoft.com

[2019-10-09 07:54] walterheck commented on #185
Confirmed, we're all physically based in and around Amsterdam

Can you elaborate on the three sponsors? Is there somewhere we can read about this?

[2019-10-09 07:57] walterheck commented on #185
The list of sponsors for our event last month can be seen here: https://cloudnative.amsterdam/partners/

[2019-10-09 12:12] dankohn commented on #185
I remember; I was there! But we'd like you to say which 3 have confirmed that they'll sponsor again.

[2019-10-10 20:58] ThorstenHans commented on #182
Hey @mkorbi,

If you’re looking for an additional organizer, let me know.

-Thorsten

[2019-10-10 21:11] mkorbi commented on #182
@ThorstenHans pn you at k8s slack

[2019-10-11 12:35] oicheryl commented on #170
@christinevblum JFrog, WSO2 and xMatters have confirmed they would sponsor a Kubernetes Community Day London.

[2019-10-11 12:57] ams0 commented on #185
Updated the initial post; Microsoft, Container Solutions, Fullstaq all agreed to sponsor the 2020 edition. We're on, and way early this time!

[2019-10-15 17:08] christinevblum commented on #170
@oicheryl thanks! I will move you to approved to build your site. Let me know if you want to schedule a kick-off call this week.

[2019-10-15 17:13] oicheryl commented on #170
Sure, please schedule a call  on Thursday or Friday using https://www.oicheryl.com/bookme.

[2019-10-15 17:25] christinevblum commented on #185
That is great news! I will move you to approve to build. Do you want to schedule a kick-off call this week or early next week?

[2019-10-15 19:22] ams0 commented on #185
Sure! Any preferred scheduling tool we can use? Doodle-like?

[2019-10-15 21:19] christinevblum opened #196 "Add standard Registration software"
### Submission checklist:

*Please check each of these indicating that you have met these requirements:

* [X] I've included a URL where the issue occurs, and a screenshot if that makes things clearer
* [X] I've described what I expected to see and what I am seeing
* [X] I am not interested or able to instead create a pull request with a proposed fix

Review registration software for KCD and pick

[2019-10-15 21:33] christinevblum opened #197 "Update CoC"
### Submission checklist:

*Please check each of these indicating that you have met these requirements:

* [X] I've included a URL where the issue occurs, and a screenshot if that makes things clearer
* [X] I've described what I expected to see and what I am seeing
* [X] I am not interested or able to instead create a pull request with a proposed fix

Update CoC https://kubernetescommunitydays.org

[2019-10-16 13:06] ams0 commented on #196
We used Eventbrite Professional for the Amsterdam 2019 event, and we are very satisfied. I think the table should include this features for Eventbrite Pro:

- [x] Discount Codes
- [x] Web based check in or scanner
- [x] Webhooks and API
- [x] Full Data export
- [x] Ticket printing
- [x] payment available immediately
- [x] print out badges
- [x] Multi Language

The analytics features are great, and

[2019-10-16 14:19] ElizaCognitive opened #198 "Warsaw-kubernetes-community-days"
If you do not have your team assembled, please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, include their information here as well. Continue to update the issue when you add new organizers and sponsors until you are ready to commit t

[2019-10-16 15:53] nickchase commented on #171
We are in the process of lining up additional organizers, venue, etc.  We are thinking, though, to change the name to "Kubernetes Community Days Northern California".  Would that be acceptable?

[2019-10-16 16:13] christinevblum commented on #198
Welcome, @ElizaCognitive! What are you using for your method to accept payment? Once we have that you are ready to get started.

[2019-10-16 16:21] dankohn commented on #171
We'd prefer not. Northern California is huge. Sacramento, Arcadia, etc, could be separate.

[2019-10-16 17:18] christinevblum commented on #185
We have Sched for now. I just created your event and added all the organizers as admins on the account. You should receive an email shortly.

[2019-10-16 18:19] christinevblum commented on #185
Please use: calendly.com/cblum-1

[2019-10-16 20:20] nickchase commented on #171
That makes sense.  Thanks!

[2019-10-17 09:49] ElizaCognitive commented on #198
@christinevblum Hi, currently we have a company (Cognitive Cloud Solutions Sp. z o.o. NIP 5423292509) which will accept payments and do the invoicing for the events.

[2019-10-17 14:25] OrlinVasilev opened #200 "2020: Sofia, Bulgaria"
### Event City: **Sofia , Bulgaria**
### Organizer 1: First and Last Name, Company, Title, Email
Orlin Vasilev, VMware, Software Infrastructure Engineer - orlin@orlix.org

### Submission checklist:

*Please check each of these indicating that you have met these requirements:

* [X] All organizers signed off to the event guidelines and CNCF Code of Conduct.
* [X] Method to accept payments including

[2019-10-17 14:39] christinevblum commented on #200
Welcome, @OrlinVasilev. Please update your issue when you have your 3 sponsors and method of collecting payments.

[2019-10-17 21:44] dankohn opened #202 "Add a Twitter link to the footer"

[2019-10-19 00:24] jtborek commented on #155
Interested in helping, thanks.

[2019-10-21 06:14] idealhack commented on #187
👋 Hello from [APAC coordinator](https://github.com/kubernetes/community/blob/master/sig-contributor-experience/role-handbooks/apac-coordinator.md) of Kubernetes community. I've been involved in organizing four Kubernetes Contributor Summits, let me know if you need any help related to contributor experience (e.g. new contributor workshop) :)

[2019-10-21 08:19] dankohn commented on #155
@jtborek We require organizers to be in the same city as the KCD. I'd encourage you to consider a Seattle one.

[2019-10-21 18:55] KTan1226 opened #203 "2021, KCD Eugene TEST"
If you do not have your team assembled, please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, include their information here as well. Continue to update the issue when you add new organizers and sponsors until you are ready to commit t

[2019-10-21 19:25] christinevblum commented on #203
Welcome, @KTan1226! Please be to sure to add organizers and sponsors as you add them. Also, be sure to check all the submission checkboxes when you are ready to build your event pages.

[2019-10-22 10:33] dankirkpatrick opened #204 "Houston K8S Days"
If you do not have your team assembled, please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, include their information here as well. Continue to update the issue when you add new organizers and sponsors until you are ready to commit t

[2019-10-23 09:19] mkorbi commented on #182
@christinevblum all done and updated :)

[2019-10-23 09:46] dankohn commented on #182
Great! Could you please specify how you're planning on accepting and making payments? Will Storm Reply or Loodse act as the fiscal sponsor?

[2019-10-23 12:57] mkorbi commented on #182
Storm will act as a fiscal sponsor. We will do out through our corporate bank account, where we also can create from invoices for sponsors.

[2019-10-23 15:18] KTan1226 commented on #182
Hi @mkorbi- We need you to list 3 companies that have agreed to sponsor and then we can approve.

[2019-10-24 17:14] KTan1226 commented on #198
@ElizaCognitive What date are you planning on launching the event?

[2019-10-24 18:03] blixtra commented on #177
@christinevblum I think we have our ducks in a row now. Would love to get the go ahead for this.

[2019-10-24 18:10] blixtra commented on #177
Ah, didn't see that in the checklist. That'll be easy to get together. Will get back to you.

[2019-10-24 18:14] dankohn commented on #177
That's because it wasn't there yet when you opened the issue! Thanks for accommodating our growing pains.

[2019-10-24 18:20] blixtra commented on #177
Questions: To be clear, do the 3 sponsors have to be outside the organizing companies?

[2019-10-24 18:29] blixtra opened #208 "2020 Denver / Boulder, CO"
### Event City: Boulder / Denver, CO
### Organizer 1: Chris Kuehl, Kinvolk, CEO (CNCF Ambassador), chris@kinvolk.io
### Organizer 2: Zach Jory, Aspen Mesh, Head of Marketing, zach@aspenmesh.io
### Organizer 3:  Ryan Chase, Google, Google Cloud Customer Engineer, ryanchase@google.com

We'd like to propose a KCD in the Denver Boulder area for end of August 2020.

### Submission checklist:

*Please c

[2019-10-24 18:39] KTan1226 commented on #208
Welcome, @blixtra! Please update your issue when you have your 3 sponsors, method of collecting payments and completed checklist.

[2019-10-24 18:42] KTan1226 commented on #204
Welcome, @dankirkpatrick! Please update your issue when you have completed the checklist.

[2019-10-25 06:54] ElizaCognitive commented on #198
@KTan1226 Hi, we are planning to have the event on 29-30.04.2020.

[2019-10-25 11:00] cpanato commented on #177
@blixtra can i help somehow?

[2019-10-25 11:19] smourapina commented on #177
I would also be happy to help @blixtra, will be back in Berlin from mid-December onwards!

[2019-10-25 13:23] mkorbi commented on #182
@KTan1226 done :)

[2019-10-25 14:40] KTan1226 commented on #182
Great news, @mkorbi. You are approved to create your site.

[2019-10-29 09:28] ams0 commented on #185
@KTan1226 are we good to go? Are we going to build a website ourselves or we can use the CNCF facilities and personnel (it would be awesome to have a consistent look/logo across all KCD's). Also, we'd be happy to have a call with you soon! thanks

[2019-10-29 13:48] KTan1226 commented on #185
Hi @ams0. You are approved to build your site and instructions can be found here: https://kubernetescommunitydays.org/organizing-creating-website/.

To set up a kickoff call, please use: https://calendly.com/kristi-37/30min.  Thanks!

[2019-10-30 05:29] iennae commented on #204
@dankirkpatrick is this a duplicate of https://github.com/cncf/kubernetes-community-days/issues/186 ?

[2019-10-30 13:17] dankohn commented on #185
Can you please add your list of 3 sponsors?

[2019-10-30 13:22] ams0 commented on #185
Added to the main topic (was just mentioned in the comments). And I'm preparing the PR here: https://github.com/cloudnative-amsterdam/kubernetes-community-days/tree/2020-amsterdam/content/events/2020-amsterdam

Question, how can I preview the website before opening a PR?

[2019-10-30 13:40] dankohn commented on #185
When you open a PR it creates a preview. We won’t merge until you add an LGTM.

--
Dan Kohn <dan@linuxfoundation.org> +1-415-233-1000
Executive Director, Cloud Native Computing Foundation cncf.io
dankohn.com or book on my calendar: dankohn.com/c

[2019-11-04 17:30] KTan1226 commented on #198
Thanks, @ElizaCognitive. You are approved to create your site. I will also be in touch shortly with your KCD email alias.

[2019-11-04 17:51] KTan1226 commented on #177
Good news @blixtra, you are approved to build your site.

[2019-11-04 17:53] blixtra commented on #177
Great! :confetti_ball:  We'll start organizing the kick-off meeting.

[2019-11-05 17:30] cpanato commented on #177
@blixtra let me know when you are planning that :)

[2019-11-05 20:14] blixtra commented on #208
Hi, @KTan1226. I think we've checked all the boxes now.

[2019-11-05 22:52] KTan1226 commented on #208
Great @blixtra. You are approved to create your site. Can you please share the Slack names for all organizers? I will add you to the KCD organizers channel and create an email alias for the event.

[2019-11-06 08:24] dankohn commented on #177
@KTan1226 Can you please create the email alias.

Organizers, could you please share your Slack IDs.

[2019-11-06 14:52] KTan1226 commented on #177
Will do @dankohn.

[2019-11-06 15:39] KrissiWi commented on #177
Here come the slack ideas from our side:

Bill: UCMGHPTD4
Krissi: U1SKBQZ89
Carolin: UNCP6LC0L

[2019-11-06 15:41] KTan1226 commented on #177
@KrissiWi Thank you. I will add you all to the KCD organizers Slack channel.

[2019-11-06 15:53] ams0 commented on #185
@KTan1226 can we get invited to the Slack channel?

[2019-11-06 15:58] KTan1226 commented on #185
You bet @ams0. Just added!

[2019-11-06 16:21] LexiNadolski commented on #177
Here are the slack IDs for Chris and I:

Chris: U09UZDF9B
Lexi: U4BV6TYQJ

[2019-11-06 16:25] dankohn commented on #177
Sorry, we want your CNCF Slack "Display Name" not the ID.

[2019-11-06 16:27] LexiNadolski commented on #177
For Chris and I, respectively:

chris
lexi_nadolski

[2019-11-06 16:29] cpanato commented on #177
my slack id on Kubernetes is `cpanato`

[2019-11-06 16:30] smourapina commented on #177
My slack user is: `smourapina`

[2019-11-06 16:34] LexiNadolski commented on #177
My kubernetes display name is: lexi_at_kinvolk

[2019-11-06 16:35] LexiNadolski commented on #177
For Chris: @ckuehl on the CNCF slack, @chrisk on the kuberntes slack

[2019-11-06 16:54] KTan1226 commented on #177
Thanks, all. I add you to the channel shortly.

[2019-11-06 17:02] xmulligan commented on #177
My slack is bill_loodse

[2019-11-07 13:14] nickchase commented on #171
OK, we're in the final stages of lining up our final organizer, and now I'm being asked if we can change it to "Kubernetes Community Days Bay Area".  Objections?

[2019-11-07 13:26] dankohn commented on #171
That’s cool

[2019-11-07 22:04] KTan1226 commented on #198
Organizers, can you please share your Slack usernames? I will add you to the KCD organizer Slack channel as well.

[2019-11-07 22:49] KTan1226 commented on #182
@mkorbi Can you please share the Slack username for each organizer? I'll use this to add the team to the KCD organizers Slack channel. Thanks!

[2019-11-07 23:10] mkorbi commented on #182
@KTan1226 for sure the users are
mkoerbi
gmzabos
sissi
obitech
divb

[2019-11-08 17:38] KTan1226 commented on #182
Hi @mkorbi- can you share their Slack usernames for CNCF? The KCD channel is under CNCF not the Kubernetes account. Thank you!

[2019-11-11 16:35] mkorbi commented on #182
@KTan1226 then the nicks will be
Alex
gmzabos
divb

[2019-11-11 21:35] KTan1226 commented on #182
Thanks @mkorbi!

[2019-11-15 08:56] blixtra commented on #208
@KTan1226 that's *Stripe or bank transfer preferred.*

[2019-11-15 18:42] KTan1226 commented on #208
Yes @blixtra- can you confirm the method please?

[2019-11-15 20:50] blixtra commented on #208
Do you mean which methods Stipe supports? All major credit cards and debit cards I think also.

[2019-11-15 21:01] KTan1226 commented on #208
My apologies @blixtra- we just need you to confirm who the fiscal sponsor will be.

[2019-11-15 21:06] dankohn commented on #208
@blixtra If you can confirm that Kinvolk is the fiscal sponsor, than you're all set.

[2019-11-15 22:17] blixtra commented on #208
Yes, I can confirm that.

On Fri, Nov 15, 2019 at 1:06 PM Dan Kohn <notifications@github.com> wrote:

--
Chris Kühl, CEO @ Kinvolk - tel: +491755589364

Kinvolk GmbH | Adalbertstr. 6a, 10999 Berlin | tel: +491755589364
Geschäftsführer/Directors: Alban Crequy, Chris Kühl, Iago López Galeiras
Registergericht/Court of registration: Amtsgericht Charlottenburg
Registernummer/Registration number: HRB 17

[2019-11-15 23:37] KTan1226 commented on #208
Great! You are approved to create your site. Can you share the Slack usernames for the organizers? I'll add everyone to the KCD Slack channel. I will also be in touch soon with your email alias.

[2019-11-17 23:09] dmueller2001 commented on #155
@ppodolny opsguru/vancouver interested in participating as well

[2019-11-18 01:32] joonas commented on #208
If you’re looking to add additional organizers, I would be happy to participate in helping organize this since it’s local to me.

[2019-11-18 10:24] justaugustus opened #212 "2020: New York!!!"
### Event City: New York, NY

Once you have identified your 3 organizers and 3 sponsors, please complete the information below and update your issue.

### Submission checklist

*Please check each of these indicating that you have met these requirements:

- [x] All organizers signed off to the event guidelines and CNCF Code of Conduct.
- [x] Method to accept payments including sponsorships and payo

[2019-11-18 10:28] justaugustus commented on #212
FYI: @dankohn
I'll work on coordinating additional sponsors.

@pgburt @arieljatib -- want to work on this together?

[2019-11-18 18:12] squillace commented on #212
Organizer 2: First and Last Name, Company, Title, Email
Ralph Squillace, Microsoft, Principal Program Manager, Azure Cloud Native Upstream, ralph.squillace at the microsoft.com.

[2019-11-18 19:39] justaugustus commented on #212
@squillace -- Let's do this!

[2019-11-18 19:49] squillace commented on #212
HONK

[2019-11-18 19:49] squillace commented on #212
OK, boomer, let's dance.

[2019-11-18 20:04] pgburt commented on #212
HONK
Organizer 3: First and Last Name, Company, Title, Email

[2019-11-18 20:25] danpopSD commented on #212
Organizer or Sponsor
POP and Sysdig wants in...
Dan Papandrea, Sysdig pop@sysdig.com

[2019-11-18 21:09] rbenzair opened #213 "KCD 2020 Paris, France"
### Event:
City: Paris, France
Venue:  https://stationf.co/venues/
Date: 4th or 6th November (to confirm soon).

### Organizer 1: Reda Benzair, CenturyLink, Director of Development (CNCF Ambassador), reda.benzair@gmail.com
### Organizer 2: Smaine Kahlouch, Dailymotion, Principal system engineer (CNCF Ambassador), smaine.kahlouch@gmail.com
### Organizer 3: Jean-Christophe Sirot, Docker, Software En

[2019-11-18 21:22] ams0 commented on #212
This is one not to be missed! @squillace and @arieljatib both were at KCD Amsterdam 2019, count on us for previous experience (and you're all invited to Amsterdam 2020 of course!)

[2019-11-18 21:37] dankohn commented on #213
Great start. Please add a 4th organizer from a different company (we want 3 different companies represented).

[2019-11-18 22:03] KTan1226 commented on #212
Great start @justaugustus. Can you confirm the fiscal sponsor?

[2019-11-19 01:30] danpopSD commented on #212
@KTan1226 is there a sponsorship fee being discussed?

[2019-11-19 16:49] danpopSD commented on #190
Hello Sophia/Catherine.  we (Sysdig)  would like to help sponsor this event and all get to know the https://www.meetup.com/All-Things-Kubernetes-k8s-DC/ meetup group and assist as we can.

Organizer 1/Sponsor : Dan Papandrea/Rob Wolf , Sysdig,  Field CTO /Federal Lead ,  pop @ sysdig dot com.

[2019-11-19 18:07] rikatz opened #214 "KCD 2020 - São Paulo, SP, Brasil"
If you do not have your team assembled, please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, include their information here as well. Continue to update the issue when you add new organizers and sponsors until you are ready to commit t

[2019-11-19 18:29] aravindputrevu commented on #169
@christinevblum What are the requirements for being a sponsor? I work at Elastic and I could if there is a way to support the community & the event.

[2019-11-19 19:01] pasimoes commented on #214
I am want to participate as organizer.. please let’s talk about.

[2019-11-19 19:08] KTan1226 commented on #169
@aravindputrevu Please find the sponsorship guidelines here: https://kubernetescommunitydays.org/organizing-finding-sponsors/.

[2019-11-19 19:12] KTan1226 commented on #214
Great start @rikatz. Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-11-19 19:57] rbenzair commented on #213
hi @dankohn i fixed.

[2019-11-19 20:00] KTan1226 commented on #213
Great @rbenzair. Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-11-19 20:07] rbenzair commented on #213
fine @KTan1226 , we are focusing to identify the potential sponsors.

[2019-11-19 20:08] rbenzair commented on #213
list potential sponsor to be confirmed: Scality, OVH

[2019-11-19 21:47] estebangarcia opened #215 "KCD 2020 - Looking for more Organizers - Dublin, Ireland"
I want to express my interest in organizing a KCD event.

Event City: Dublin, Ireland
Organizer 1: Esteban Garcia, Synchronoss Technologies, Deployment Architect, estu91@gmail.com
Organizer 2: Michael Hausenblas, AWS, Developer Advocate, michael.hausenblas@gmail.com
Organizer 3: Ryan Craig, JP Morgan Chase, DevOps Engineer, ryandpcraig@gmail.com
Organizer 4: Chris Kranz, Sysdig, Principal Sales En

[2019-11-19 22:39] KTan1226 commented on #215
Welcome @estebangarcia! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-11-20 00:12] bsctl opened #216 "Kubernetes Community Day 2020 - Milan, Italy."
### I want to express my interest in organising a KCD event in Milan, Italy.
### Planned date is in June 2020.
### Event City: Milan, Italy

Once you have identified your 3 organizers and 3 sponsors, please complete the information below and update your issue.

### Submission checklist:

*Please check each of these indicating that you have met these requirements:

* [x] All organizers signed off t

[2019-11-20 01:49] mathieu-benoit opened #217 "KCD 2021 - Quebec city, Canada"
### Event City: Quebec city, Canada
### Organizer 1:
Mathieu Benoit, **Google**, Customer Engineer, mathieu-benoit[at]hotmail[dot]fr / Slack: mathieu-benoit / GitHub: @mathieu-benoit

### Organizer 2:
Sébastien Couturier, **Victrix**, Solution Architect, sebcouturier[at]gmail[dot]com / Slack: sebastien-couturier / GitHub: @scouturier

### Organizer 3:
Sébastien Thomas, **Tetrate**, Customer Reliab

[2019-11-20 03:13] kmova commented on #169
Awesome! MayaData is in!  Both as Organizing and being a sponsor.

[2019-11-20 10:29] ndecandia commented on #216
Ciao Adriano,
possiamo organizzarci, io sto lavorando per fare diversi incontri al sud, ne sto organizzando uno al mese.

[2019-11-20 10:41] ndecandia opened #218 "Kubernetes Community Days - Roma"
If you do not have your team assembled, please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, include their information here as well. Continue to update the issue when you add new organizers and sponsors until you are ready to commit t

[2019-11-20 10:50] aravindputrevu commented on #169
Great!

@nkhare & @krishna-mk! Let me know about this, I can talk internally to figure out someway.

[2019-11-20 10:56] krishna-mk commented on #169
@aravindputrevu , let us meet quick next week (all Bangalore guys), after the Kubecon, and then have some sponsorship doc in place. May be one generic template will help :-)

[2019-11-20 12:44] genbutsu commented on #216
ciao, io sono interessato

[2019-11-20 16:51] pasimoes opened #219 "KCD 2020 Belo Horizonte, MG, Brasil"
If you do not have your team assembled, please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, include their information here as well. Continue to update the issue when you add new organizers and sponsors until you are ready to commit t

[2019-11-20 17:05] aravindputrevu commented on #169
@krishna-mk Sure. That'd be great. Let us catch up next week!

[2019-11-20 18:05] andrealmar commented on #219
my Slack handle is **@andrealmar**

[2019-11-20 18:08] pasimoes opened #220 "KCD 2020 Porto Alegre, RS, Brasil"
If you do not have your team assembled, please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, include their information here as well. Continue to update the issue when you add new organizers and sponsors until you are ready to commit t

[2019-11-20 19:01] KTan1226 commented on #216
Great start @kalise. Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-11-20 19:02] KTan1226 commented on #217
Welcome @mathieu-benoit! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-11-20 19:04] KTan1226 commented on #218
Great start @ndecandia. Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-11-21 00:01] KTan1226 commented on #220
Welcome @pasimoes. Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-11-21 02:15] mhausenblas commented on #215
As mentioned on Slack, I'm happy to serve on the OC and we can check the "One organizer is a CNCF Member employee, Ambassador, or CNCF Project Maintainer" as well since I'm an Ambassador ;)

[2019-11-21 16:25] senthilrch opened #221 "Kubernetes Community Days, Chennai, India"
If you do not have your team assembled, please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, include their information here as well. Continue to update the issue when you add new organizers and sponsors until you are ready to commit t

[2019-11-21 16:26] senthilrch commented on #221
@extrasalt

[2019-11-21 17:42] rikatz commented on #214
@KTan1226 tks. We're going to make a kickoff with the Organizers next week to check what's missing, distribute tasks and so.

Will keep you posted

[2019-11-21 19:42] KTan1226 commented on #221
Welcome @senthilrch! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-11-22 08:44] gclem commented on #213
About OVH as Sponsor, feel free to reach me @rbenzair

[2019-11-22 19:24] Sramsel commented on #190
Hi Dan, we would love to have Sysdig as a sponsor! Can you shoot me an email at sophia@kublr.com so that we can organize an introduction call?

[2019-11-23 07:24] robertbeuligmann commented on #208
Hi!

I'm Robert, or Rob for short. I live between Boulder and Denver, and work as a Software Engineer at a startup in downtown Denver.

I would like to help bring this KCD to life. I attended Kubecon in San Diego and would really like to bring the spirit and enthusiasm of that event to Colorado.

Looking forward to connecting with the current organizers!
Email: robertbeuligmann@gmail.com
Twitter:

[2019-11-23 16:13] senthilrch commented on #221
@mjprasath

[2019-11-24 16:12] senthilrch commented on #221
Agree to
https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2019-11-24 16:16] mjprasath commented on #221
Agree to
https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2019-11-24 16:23] extrasalt commented on #221
Agree to
https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2019-11-25 18:22] KTan1226 commented on #219
Great start @pasimoes. Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-11-25 18:45] andrealmar commented on #219
@KTan1226 how do we sign off to the event guidelines and CNCF Code of Conduct?

[2019-11-25 18:47] KTan1226 commented on #219
Hi @andrealmar- Please have each organizer review the guidelines and CNCF Code of Conduct first. If all organizers agree to both, please check off the first box in the checklist to confirm.

[2019-11-25 19:41] giulioroggero commented on #216
Hi @kalise I'm interested in supporting the organisation of the Kubernetes Community Day 2020. Could you please add me to organisers?

Giulio Roggero, Mia-Platform, CTO and Founder.

[2019-11-25 19:46] thecrudge opened #222 "Kubernetes Community Days - Austin TX"
### Event City: Austin, TX

### Submission checklist:

*Please check each of these as you complete them:

* [x] All organizers signed off to the event guidelines and CNCF Code of Conduct.
* [ ] Method to accept payments including sponsorships and payout expenses
* [x] At least one organizer is a CNCF Member employee, Ambassador, or CNCF Project Maintainer
* [x] Minimum of 3 organizers from 3 diffe

[2019-11-25 22:45] KTan1226 commented on #222
Welcome @thecrudge! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-11-26 04:38] rajibmitra commented on #169
+1 for this.

[2019-11-26 09:17] fabriziopandini commented on #216
@kalise Happy to help! Could you add me to the organizers as well?

[2019-11-26 12:11] estebangarcia commented on #215
We have our third organizer :D

[2019-11-26 15:30] bizzam commented on #216
Hi @kalise, we are also interested to give an help on organizing the event.
BTW if someone would help the Rome event feel free to join us here #218 :)

[2019-11-26 16:15] senthilrch commented on #221
@extrasalt , @mjprasath and me are working on securing sponsorship.

[2019-11-26 20:44] arieljatib commented on #212
@justaugustus - let's go. :)

Organizer 4: First and Last Name, Company, Title, Email
Ariel Jatib, Netapp, ariel.jatib at netapp dot com

[2019-11-26 22:33] squillace commented on #212
@justaugustus who is the fiscal sponsor, or shall you and I and @karenhchu have a chat?

[2019-11-26 23:15] B0go opened #223 "KCD 2020 Florianópolis, Santa Catarina - Brazil"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application and ready for review.

### Event City: Florianópolis, Santa Catarina - Brazil

### Submission checklist:

*Please check each of these as you complete them:

* [x] All organizers signed off to the event guidelines and CNCF Code of Conduct.
* [ ] Method to accept payments incl

[2019-11-27 14:14] arieljatib commented on #212
@KTan1226 - can you define the criteria for the fiscal sponsor requirement? For AMS, there were several sponsors.

@ams0 - I recall you showed me a really great repo you all used for organizing the wonderful event in Amsterdam. It included a bunch of good insight into how the business of the event was managed - e.g. I recall you all set up a discrete entity. Could you link up the repo here?

@squi

[2019-11-27 14:23] squillace commented on #212
All in! Let's do this together. :-)

[2019-11-27 14:39] dankohn commented on #212
There are two separate requirements:
1. You need 3 sponsors, that is companies that have agreed to sponsor.
2. You need a fiscal sponsor, meaning a company with a bank account that is able to collect money (from sponsors and registration) and pay it out (for venue, catering, etc.)

[2019-11-27 14:47] pasimoes opened #224 "KCD 2020 Rio de Janeiro, RJ, Brasil"
If you do not have your team assembled, please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, include their information here as well. Continue to update the issue when you add new organizers and sponsors until you are ready to commit t

[2019-11-27 15:09] squillace commented on #212
Thanks Dan!

[2019-11-27 15:13] ams0 commented on #212
Yes, in Amsterdam we used an escrow company (they also helped with the general organisation) that issued all invoices and paid all suppliers. Also avoids potential conflict of interests between organisers and their employers.

[2019-11-27 17:07] dankohn commented on #185
Ready to create your site? Can we help?

[2019-11-27 17:07] dankohn commented on #182
Ready to create your site? Can we help?

[2019-11-27 17:07] dankohn commented on #177
Ready to create your site? Can we help?

[2019-11-27 17:08] dankohn commented on #208
Ready to create your site? Can we help?

[2019-11-27 17:18] B0go commented on #223
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2019-11-27 17:22] B0go commented on #223
@caarlos0 @merencia @diogonicoleti @kassyuz @cleberwarmling

[2019-11-27 17:40] pasimoes commented on #223
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2019-11-27 17:41] pasimoes commented on #224
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2019-11-27 17:41] pasimoes commented on #220
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2019-11-27 17:42] pasimoes commented on #220
We are working hard to complete all the items! Thank you Kristi.

[2019-11-27 17:42] pasimoes commented on #219
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2019-11-27 18:05] somatorio commented on #220
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2019-11-27 18:20] jhonatanmorais commented on #214
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

My username on CNCF Slack is **jhonatancmorais**.

[2019-11-27 18:29] caarlos0 commented on #223
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2019-11-27 18:46] rmedivh commented on #214
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

My username on CNCF Slack is **rmedivh**

[2019-11-27 19:02] joaoemilio commented on #224
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2019-11-27 19:21] s4rd1nh4 commented on #214
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

My username on CNCF Slack is s4rd1nh4

[2019-11-27 19:44] fabricioveronez commented on #224
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2019-11-27 22:01] andrealmar commented on #219
I Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2019-11-27 22:34] KTan1226 commented on #224
Great start @pasimoes. Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-11-27 23:06] ams0 commented on #185
Just in case, I agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing (@ticofab @dpnl87 @walterheck @FloorD should do the same).

@dankohn I have this #210 open, waiting for the confirmation from the venue (a new, amazing one this year we hope!) and then we open the dance :)

[2019-11-27 23:39] cleberwarmling commented on #223
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2019-11-27 23:52] diogonicoleti commented on #223
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

Slack display name: Diogo Nicoleti

[2019-11-28 00:26] iennae commented on #190
@Sramsel reminder that the event needs at least 3 individuals from 3 different organizations.

[2019-11-28 12:37] csdiedrich commented on #220
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2019-11-28 14:04] merencia commented on #223
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

Slack display name: Lucas Merencia

[2019-11-28 15:40] nullck commented on #214
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

My username on CNCF Slack is nullck.

[2019-11-28 16:02] umbertoss commented on #219
my Slack handle is @Marcelo Umberto Ferreira Da Silva

[2019-11-28 16:02] umbertoss commented on #219
I Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2019-11-29 10:50] mkorbi commented on #182
Yes, we are ready, forked and working on it

[2019-11-29 11:24] KrissiWi commented on #177
Hi Dan, we'll have a meeting next week to fix a date and venue and will create the site after that. We'll let you know in case we need support. Thanks for asking!

[2019-11-29 16:11] pasimoes opened #226 "KCD 2020 Brasilia, DF, Brasil"
If you do not have your team assembled, please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, include their information here as well. Continue to update the issue when you add new organizers and sponsors until you are ready to commit t

[2019-11-29 19:25] pasimoes commented on #226
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2019-11-29 21:05] kassyuz commented on #223
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

Slack display name: Cassio Moreto

[2019-12-01 12:22] ppatierno opened #228 "Kubernetes Community Day 2020 - Naples, Italy"
We are expressing the interest of organizing a Kubernetes Community Day in Naples, Italy.

Planned is September 2020.

### Event City: Naples, Italy

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Days event in the same city
* [x] Minimum of 3 organizers from 3 different organizations
* [x] Each organizer lives in or just outside o

[2019-12-02 17:31] KTan1226 commented on #226
Hi @pasimoes! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-12-02 17:42] KTan1226 commented on #228
Welcome, @ppatierno! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-12-02 17:53] KTan1226 commented on #223
Great start @B0go. Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-12-02 22:27] ahpook opened #230 "Kubernetes Community Day 2020 - Portland, Oregon"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event City:

Portland, Oregon

### Submission checklist:

*Please check each of these as you complete them:

* [ ✅] No other Kubernetes Community Days event in the same city
* [ ✅] Minimum of 3 organizers from 3 different organizations
* [ ✅] Each o

[2019-12-03 15:51] KTan1226 commented on #230
Welcome @ahpook! Excited to see KCD come to the Rose City (my hometown). Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-12-03 18:15] jberkus commented on #230
Hey, I'm Josh Berkus, CNCF ambassador, and lead of Cloud Native PDX meetup.  I'll be co-organizing KCDPDX.

I am also Red Hat's Kubernetes Community Manager, so Red Hat is on board as one of the sponsors.

[2019-12-03 19:12] jberkus commented on #230
I've checked with our Events organization, and Red Hat is prepared to be fiscal sponsor for this event.  However, that has to be acceptable to the other sponsors, so let's wait on choosing that until we have all three sponsors.

[2019-12-03 19:21] arschles commented on #230
Hi, I'm Aaron, Cloud Advocate at Microsoft focusing on Kubernetes and Cloud Native technologies. I'll be the third organizer of KCDPDX.

[2019-12-04 01:29] iennae commented on #170
Hey folks,

Just wanted to circle back to see where you folks are in the process.

[2019-12-04 10:44] dlectronique commented on #170
we're about to confirm our venue and date :)

[2019-12-04 14:45] aravindputrevu commented on #183
@singh728om Interested in understanding about sponsorship from [elastic.co](elastic.co) side.

[2019-12-04 14:47] aravindputrevu commented on #221
@senthilrch interested to know about sponsorship from [elastic.co](elastic.co) perspective.

[2019-12-04 18:35] boydj commented on #190
Hello, we (Booz Allen) would like to help sponsor this event but need to understand the costs associated to get this approved internally.

Josh Boyd, Booz Allen Hamilton, Chief Technologist, boyd_joshua @ bah dot com.

[2019-12-04 18:50] raelga opened #231 "KCD 2020 Madrid, Spain"
### Event City:

Madrid, Spain, 2020

### Submission checklist:

* [x] No other Kubernetes Community Days event in the same city
* [x] Minimum of 3 organizers from 3 different organizations
* [x] Each organizer lives in or just outside of the KCD location
* [x] At least one organizer is a CNCF member employee, CNCF ambassador, or CNCF project maintainer
* [x] All organizers agree to follow the eve

[2019-12-04 19:00] kaspernissen opened #232 "KCD 2020 Nordics, Stockholm, Sweden"
### Event City: Stockholm (Cloud Native Nordics)

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Days event in the same city
* [x] Minimum of 3 organizers from 3 different organizations
* [x] Each organizer lives in or just outside of the KCD location
* [x] At least one organizer is a CNCF member employee, CNCF ambassador, or CNCF

[2019-12-04 20:13] arschles commented on #230
I am unable to edit the original post directly, so posting here. Microsoft has committed to being sponsor 3

[2019-12-04 20:18] KTan1226 commented on #232
Great start @kaspernissen! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-12-04 20:26] ahpook commented on #230
@arschles great! i updated the issue.

[2019-12-04 22:14] jberkus commented on #231
Red Hat will sponsor KCD Madrid.

Also, Red Hat is prepared to act as a fiscal sponsor for this event if needed.  Thanks to Fedora, we have financial workflows set up to handle 3rd-party sponsorships and event expensese.

[2019-12-05 05:42] jessedearing commented on #230
Hi all. I'd love to help organize it as well.

I'm an SRE at VMware and I'll check with VMware about sponsorship as well.

[2019-12-05 05:58] raelga commented on #231
Thank you very much @jberkus for stepping in, first sponsor added. :tada:

[2019-12-05 07:54] mbuccarello commented on #216
@kalise happy to help!

[2019-12-05 08:19] angelbarrera92 commented on #231
SIGHUP will sponsor KCD Madrid.

Thanks @jnardiello

[2019-12-05 19:23] genbutsu commented on #218
COMPANY: Genchi Genbutsu SRL as a sponsor, if we get in contact...

[2019-12-05 20:42] ndecandia commented on #218
Hello,
sure, please give me your contact, I will update you.

Nicola Marco Decandia
Desotech S.r.l.

From: Genchi Genbutsu <notifications@github.com>
Reply to: cncf/kubernetes-community-days <reply@reply.github.com>
Date: Thursday, 5 December 2019 at 23:23
To: cncf/kubernetes-community-days <kubernetes-community-days@noreply.github.com>
Cc: Nicola Marco Decandia <nicola@decandia.eu>, Mention <ment

[2019-12-06 00:14] KTan1226 commented on #230
Great work @jberkus! You are approved to create your site. I just added all organizers to the KCD-organizers Slack channel and will be in touch shortly with your email alias.

[2019-12-06 00:51] dmueller2001 commented on #217
@dmueller2001 is willing to be a co-organizer

[2019-12-06 02:01] dankohn commented on #217
@dmueller2001 we ask organizers to live in or just next to the city, so we’d encourage you to do one in Vancouver.

[2019-12-06 04:48] duboc commented on #214
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

My username on CNCF Slack is duboc.

[2019-12-06 05:03] senthilrch commented on #221
@aravindputrevu drop me a note with your number to senthilrch@gmail.com

[2019-12-06 12:19] yagonobre commented on #214
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

My username on CNCF Slack is yago.

[2019-12-06 12:36] LexiNadolski commented on #177
@KTan1226 @dankohn We had a meeting on Wednesday and we have a few questions we hope to address with you.

 - What is the price per person for tickets? We have heard different numbers and wonder if it varies by location. This will help us in our financial projections.
- Is CNCF underwriting these events or does that fall on the organizers?
- Will CNCF host the website or does one of the organizers

[2019-12-06 20:53] KTan1226 commented on #177
Hi @LexiNadolski. For pricing guidelines, please visit: https://kubernetescommunitydays.org/organizing-registration/.

Can you explain what you mean by underwriting the events? Each event is run by the local organizers.

Also, each organizer is responsible for creating their own website once the checklist is complete. Guidelines on how to build your site can be found here: https://kubernetescommun

[2019-12-06 21:30] KTan1226 commented on #213
I've added you to the KCD-organizers Slack channel @rbenzair. Can you share the Slack usernames for the additional organizers? Thanks!

[2019-12-07 00:03] jberkus commented on #212
@ams0 huh!  I wonder if such things exist in the USA.  What was the company's name?

[2019-12-07 05:18] dankohn commented on #177
@LexiNadolski thanks for the questions. I would add:

You need to decide! As @KTan1226 mentioned, please see https://kubernetescommunitydays.org/organizing-registration/.

No, the organizers are taking on the risk for running the events.

Note that you are responsible for the content, but we host the website. Lots of details at https://kubernetescommunitydays.org/organizing-creating-website/.

[2019-12-07 05:29] dankohn commented on #212
@jberkus DevOpsDays recommends two such services that you are welcome to use: https://devopsdays.org/organizing/#handling-money

However, I believe each charges around ~10% and so we would generally recommend getting a company to agree to act as fiscal sponsor, if possible.

[2019-12-07 19:55] rikatz commented on #214
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

My username on CNCF Slack is rpkatz

@KTan1226 As almost everyone signed to the COC and the event guideline I would like to ask to invite us to the Slack Channel, as We have some questions (mainly about the financial stuff) and would like to share them and see if other organizers have

[2019-12-09 16:07] squillace commented on #212
Definitely Microsoft will be at least one fiscal sponsor here, but we should get together and decide how to run it together!

[2019-12-09 16:35] aclater commented on #190
Howdy - we (Red Hat) would also like to sponsor and assist, but need to understand costs as well :) adam @ red hat dot com

[2019-12-10 00:07] ericknauer opened #233 "KCD 2020 Seattle, Washington"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event City: Seattle, WA

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Days event in the same city
* [ ] Minimum of 3 organizers from 3 different organizations
* [ ] Each organizer

[2019-12-10 08:50] seungkyua opened #234 "KCD 2020 Seoul, South Korea"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event City: Seoul

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Days event in the same city
* [x] Minimum of 3 organizers from 3 different organizations
* [x] Each organizer lives

[2019-12-10 17:45] KTan1226 commented on #234
Welcome @seungkyua! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-12-10 17:46] KTan1226 commented on #233
Welcome @ericknauer! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-12-10 17:47] KTan1226 commented on #231
Welcome @raelga! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-12-10 18:28] ppatierno commented on #228
@KTan1226 it's not clear to me which usernames you need for CNCF Slack. I am already registered (even if with my personal email) and I am already in the #kcd-formation channel. The Slack registration needs emails, not usernames. Can you clarify, please?

[2019-12-10 18:32] KTan1226 commented on #228
Hi @ppatierno- Apologies for the confusion. I just checked and it looks like you are already a member of the #kcd-organizers Slack channel. Can you please share the usernames for your other organizers? I'm happy to add them as well.

[2019-12-10 18:35] ppatierno commented on #228
@KTan1226 not a Slack expert but I am confused about the term "username" ... you would need the email they use with Slack? Isn't CNCF Slack open to register using https://slack.cncf.io/ ?

[2019-12-10 19:09] KTan1226 commented on #228
@ppatierno No problem, I'll direct message you on Slack so we can resolve in real time.

[2019-12-11 00:12] rbitia commented on #233
Microsoft can also sponsor the Seattle meetup and I can be listed as a Organizer. LMK :)

[2019-12-11 00:17] lucperkins commented on #230
@jberkus @ahpook I work under the CNCF and live in Portland. Happy to help out any way I can!

[2019-12-11 00:22] aravindputrevu commented on #221
I've dropped you a note @senthilrch

[2019-12-11 08:36] genbutsu commented on #218
I've mailed you from diego@genchi-genbutsu.io

[2019-12-11 09:40] ndecandia commented on #218
I will send you some documents ASAP.

[2019-12-11 09:40] #218 closed

[2019-12-11 17:37] szwed commented on #198
@KTan1226 can we change ticket's status to:  "Approved to Build Site" ??

slack: pszwed, for now it will be only me

[2019-12-11 18:26] KTan1226 commented on #198
Sure thing @szwed- all set!

[2019-12-11 21:18] squillace commented on #212
@justaugustus @pgburt @danpopSD @arieljatib shall we scheduled a virtual or physical chat to see where we're all at on this? What are we thinking about timing, venues, cost/features, and so on?

[2019-12-11 21:57] danpopSD commented on #212
yes plz...  virtual first,  then physical?  im pretty free tomorrow.  (fridays slammed).

[2019-12-11 22:17] squillace commented on #212
sounds fine to me. Let's hear from the others. I'm free tomorrow basically 11-3, and 4-6 I think.

[2019-12-11 22:37] danpopSD commented on #212
free tomorrow 12-1PM

[2019-12-11 22:39] danpopSD commented on #212
@justaugustus @pgburt ,  should we take this to slack?

[2019-12-11 23:40] jberkus commented on #230
@lucperkins I forgot that you were local!  I expect we're gonna ask you for a CNCF panel if nothing else ;-)

[2019-12-11 23:43] lucperkins commented on #230
@jberkus I specifically asked to get roped into this, so rope away! 🤣

[2019-12-12 15:07] mcapra commented on #191
@dstrebel do you have a ballpark for the financial commitment expected of an initial sponsor?

[2019-12-12 17:50] justaugustus commented on #212
First meeting held today to discuss themes, content, messaging, sizing, etc.
We'll get a recurring meeting on the calendar as well for the new year.

[2019-12-13 17:18] pasimoes opened #236 "KCD 2020 Salvador, BA, Brasil"
If you do not have your team assembled, please describe the location you're interested in organizing an event, proposed dates, and information about your availability and experience with hosting a conference. If you have additional organizers and volunteers, include their information here as well. Continue to update the issue when you add new organizers and sponsors until you are ready to commit t

[2019-12-16 05:28] raravena80 commented on #171
I would love to help out/organize in any way or another here. I live in the bay area (San Mateo) and work for Rakuten (ricardo.aravena@rakuten.com) also in San Mateo.

[2019-12-16 16:37] LexiNadolski commented on #177
@KTan1226 @dankohn Thank you for all of this information.

I am not on the CNCF slack so I cannot provide my username. Can you invite me or let me know what I should do to get on it? Thanks!

[2019-12-16 16:54] dankohn commented on #177
It's free to create an account at slack.cncf.io.

[2019-12-16 22:36] KTan1226 commented on #236
Hi @pasimoes! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-12-17 19:54] izgeri opened #237 "KCD 2020 Boston, MA"
### Event City: Boston, MA

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Days event in the same city
* [ ] Minimum of 3 organizers from 3 different organizations
* [ ] Each organizer lives in or just outside of the KCD location
* [x] At least one organizer is a CNCF member employee, CNCF ambassador, or CNCF project maintainer
* [

[2019-12-17 22:14] rbenzair commented on #213
hi @KTan1226  can you add all the  organizers on the  KCD-organizers Slack channel. Thanks

[2019-12-18 10:00] gusraggio commented on #231
Some sponsors are asking how leads will be handle to them ? will this be the same as kubecon or should be sorted out by the local organization ?

[2019-12-18 13:37] blues-man commented on #216
Hello @kalise I'm happy to help in the organisation of the event :)

[2019-12-18 14:30] gusraggio commented on #231
SUSE will sponsor

[2019-12-18 19:50] jogy opened #238 "KCD 2020 Bern, Switzerland"
### Event City: Bern, Switzerland

### Submission checklist:

* [x] No other Kubernetes Community Days event in the same city
* [x] Minimum of 3 organizers from 3 different organizations
* [x] Each organizer lives in or just outside of the KCD location
* [x] At least one organizer is a CNCF member employee, CNCF ambassador, or CNCF project maintainer
* [x] All organizers agree to follow the event

[2019-12-18 19:52] jogy commented on #238
/cc @phil-pona @philogros @imathu

[2019-12-18 22:13] KTan1226 commented on #213
Hi @rbenzair- sure thing. I just added all organizers. Thanks!

[2019-12-18 22:43] arieljatib commented on #212
Initial research into venues - added to the working notes Google doc. It's linked up in Slack.

[2019-12-18 23:42] dankohn commented on #238
Thanks for this submission. A few issues:
* Events in this program need to be called Kubernetes Community Days, because CNCF has a trademark for Kubernetes, but not for Cloud Native. You're welcome to run your own Cloud Native Day event, but not as part of this program.
* Events need to host their website on https://kubernetescommunitydays.org/ rather than on a separate domain, as it allows us to

[2019-12-19 16:22] jeefy commented on #191
/cc

[2019-12-19 17:11] KTan1226 commented on #237
Welcome @izgeri! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-12-20 17:24] bonocore commented on #216
@kalise i am available to support you!

[2019-12-21 09:48] irvifa opened #239 "[WIP] KCD 2020 Jakarta, Indonesia"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event City: Jakarta

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Days event in the same city
* [x] Minimum of 3 organizers from 3 different organizations
* [x] Each organizer live

[2019-12-21 09:55] jogy commented on #238
Thanks @dankohn for the quick reply. We‘d love to be under the umbrella of CNCF.

A couple of questions:
* Could we co-host or double host the event under „Kubernetes Community Days Bern“, similar to KubeCon + CloudNativeCon?
* Is Eventbrite a strict requirement? What are the benefits? Does CNCF have a corporate account like Meetup Pro? Do we get support to set it up?

Apart from that I think we m

[2019-12-21 21:52] imrenagi commented on #239
@irvifa I think we can mark `Identified fiscal sponsor that can accept payments such as from sponsorships and pay out expenses` as done

[2019-12-22 04:32] irvifa commented on #239
@imrenagi I don’t saw it in the docs that we have, can you please give the details in there? Thanks for the reminded dude 👍

[2019-12-23 04:52] superbrothers commented on #187
We found  3 organizations that have agreed to sponsor the event.

[2019-12-23 21:41] KTan1226 commented on #239
Welcome @irvifa! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-12-24 18:53] raelga commented on #231
We got the third sponsor, thanks @gusraggio and @ereslibre ! 🎉

We're staring building the website https://madrid2020.k8scd.es/ and forming the event team [Build Kubernetes Community Day Madrid 2020 Team](https://github.com/kcd-es/madrid-2020/issues/1).

[2019-12-26 08:52] in28minutes commented on #169
Hi. I'm Ranga. I would love to be part of this.

[2019-12-27 14:28] kesseract opened #240 "[WIP] KCD 2020 Mumbai, India"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event City: Mumbai, India

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Days event in the same city
* [ ] Minimum of 3 organizers from 3 different organizations
* [ ] Each organize

[2019-12-28 02:47] KTan1226 commented on #240
Welcome @sumitshatwara! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2019-12-28 02:54] KTan1226 commented on #231
Sounds good @raelga. You are approved to build your site. Let us know if you have any further questions along the way!

[2019-12-28 07:38] raelga commented on #231
Thanks @KTan1226, already working on it.

[2019-12-30 08:38] dnielsen commented on #171
I could also help as an early sponsor and decent following in the Bay Area. I work at Redis Labs and live/work in Mountain View (dnielsen@gmail.com)

[2019-12-31 23:57] nickchase commented on #171
Excellent, I will contact you both next week.  Thanks!

[2020-01-06 11:28] irvifa commented on #239
@KTan1226 By the way is it possible for us to use other media than Eventbrite?

[2020-01-06 18:50] KTan1226 commented on #239
Hi @irvifa. In 2020, we are requiring that all organizers use Eventbrite.

[2020-01-07 05:10] krishna-mk commented on #169
Hi Ranga, Sorry for the late reply. We are making the plan and a list to get all volunteers in. Please hold on.

[2020-01-07 07:35] shivaylamba opened #241 "Update Copyright year for 2020"
### Submission checklist:

*Please check each of these indicating that you have met these requirements:

* [x] I've included a URL where the issue occurs, and a screenshot if that makes things clearer
* [x] I've described what I expected to see and what I am seeing
* [x] I am not interested or able to instead create a pull request with a proposed fix

[2020-01-07 19:38] eric-magnus commented on #204
Hi, I'd love to be an organizer for the Houston event - Eric Magnus, Systems Engineer with Sysdig, eric.magnus@sysdig.com

[2020-01-08 00:55] in28minutes commented on #169
Awesome Krishna.

On Tue, Jan 7, 2020 at 10:40 AM Krishna m-Kumar <notifications@github.com>
wrote:

[2020-01-08 20:41] heraym opened #242 "KCD 2020 Buenos Aires, Argentina"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event City: Buenos Aires

### Submission checklist:

*Please check each of these as you complete them:

* [ ] No other Kubernetes Community Days event in the same city
* [ ] Minimum of 3 organizers from 3 different organizations
* [ ] Each organizer

[2020-01-08 23:48] KTan1226 commented on #242
Hi @heraym! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2020-01-09 16:53] barkerbob commented on #171
We would like to help out as a sponsor or organizer if possible. I work for Sysdig (bob.barker@sysdig.com) and we are based out of SF.

[2020-01-09 19:41] danpopSD commented on #237
Hi John and Geri,  Sysdig would also like to help organize/sponsor @rrs8 (Rich Schofield from our field engineering team)

[2020-01-09 22:40] bettyjunod commented on #237
Hi John and Geri,  Solo.io would also like to help organize.. our HQ is in Cambridge

[2020-01-09 22:56] joshbav opened #243 "2020 Kubernetes Community Days - Los Angeles county, CA"
### Event City: Los Angeles area, CA
Aiming to move locations around within LA county because.... traffic. Thus "LA area" rather than LA proper only.

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Days event in the same city
* [ ] Minimum of 3 organizers from 3 different organizations
* [x] Each organizer lives in or just outside

[2020-01-10 10:46] dariakg commented on #170
Hi guys! I'm wondering if you need extra hands for this? As an organiser or a sponsor?

[2020-01-10 14:37] rafabene commented on #226
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2020-01-10 14:44] neuhauss commented on #226
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2020-01-10 14:49] luszczynski commented on #226
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2020-01-10 14:56] oicheryl commented on #170
Hi @dariakg - yes to both! I'm hoping the venue & date will be confirmed next week, so everything else should kick off very soon. I would love to get your help with both sponsorship and organising.

Please drop your name into https://kubernetesdays.london/ (select Sponsoring and Volunteering as the interests) and we'll take it from there.

[2020-01-10 21:31] bettyjunod commented on #171
I am interested in helping organize and possibly sponsor - I work for Solo.io (HQ in Boston) but I live in SF (betty.junod@solo.io)

[2020-01-13 20:41] KTan1226 commented on #243
Welcome, @joshbav! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2020-01-13 21:21] fabricioveronez commented on #224
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2020-01-13 22:41] Pedigo36 commented on #171
We have a location to host the event and can work as a sponsor or organizer. I work for Lacework, and our office is in Santa Clara, near Levi Stadium.
chris@lacework.net

[2020-01-14 09:36] Orin0k0 commented on #185
Organizer: Sam Attal, Container Solutions, Community Manager, samuel.attal@container-solutions.com

[2020-01-14 23:03] bettyjunod commented on #237
Hey @izgeri WDYT about @danpopSD and my comments? Do you want to set up a quick chat with us and our teams?

[2020-01-15 01:47] izgeri commented on #237
@bettyjunod that sounds great. Sometime next week at the earliest would be good, there are a couple of people I'd like to include who are traveling right now.

@bettyjunod @rrs8 @danpopSD can you please share your contact info in the format from above (**First and Last Name, Company, Title, Email, CNCF Slack Username**) and I can get in touch via email with an invite. Please also lmk if there are

[2020-01-15 01:51] jonasrosland commented on #237
Hi folks!

I'd be happy to help out as an organizer, I'm at VMware, a CNCF Member company. I also co-organize the Boston Cloud Native Meetup, which is a CNCF-owned meetup.

[2020-01-15 04:45] rrs8 commented on #237
Hi @izgeri - Rich Schofield, Sysdig, Solution Architect, rich@sysdig.com, @schofr

[2020-01-15 05:17] bettyjunod commented on #237
Betty Junod, Solo.io, VP Marketing, betty.junod@solo.io, @bettyjunod

[2020-01-15 17:12] bettyjunod commented on #237
@izgeri confirming that you'll be sending invite or do you want me to? flex either way

[2020-01-15 17:53] KTan1226 commented on #187
Great @superbrothers- who is your fiscal sponsor for the event and method for accepting payments? Once you confirm, we can sign off creating your site.

[2020-01-15 17:59] KTan1226 commented on #214
Sure thing @rikatz- I've added you and all organizers.

[2020-01-15 18:01] izgeri commented on #237
@bettyjunod sent! It was one of the time windows you said worked for you. I look forward to speaking with you!

[2020-01-15 23:45] jberkus commented on #228
Please add Red Hat as a third sponsor.

[2020-01-16 16:50] ppatierno commented on #228
@KTan1226 what's the next step? I think we filled all the information in the checklist.

[2020-01-16 21:20] amandabhmg commented on #219
I Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2020-01-16 21:42] #198 closed

[2020-01-16 21:44] KTan1226 commented on #170
Hi KCD London team. Just checking in to see how your website is coming along. I'm happy to help you get started.

[2020-01-16 22:11] lauren-sysdig commented on #237
Lauren Hernandez, Sysdig, Field Marketing Manager, lauren@sysdig.com, @lauren-sysdig

[2020-01-17 00:01] KTan1226 commented on #228
Hi @ppatierno- can you confirm who the fiscal sponsor that will accept payments will be?

[2020-01-17 01:55] irvifa commented on #239
@KTan1226 after more discussion we realize 1 thing: credit card in Indonesia is only used in 1% of the population, so if we're using Eventbrite it will be difficult.

[2020-01-17 06:48] ppatierno commented on #228
Hi @KTan1226 I can confirm that we have one of the local user group (NaLUG, the Linux User Group) organizing the event which can receive payments from sponsors. Anyway here sometimes happens that sponsors pay stuff directly (i.e. the venue or the catering). Btw there is no problems in either ways.

[2020-01-17 11:27] jmickey commented on #170
Hi @KTan1226 we're just waiting confirmation on the venue and event date before we submit the website PR. Hopefully we should have that completed next week!

[2020-01-17 12:51] dariakg commented on #170
@oicheryl I've submitted the form in the link you sent but haven't gotten a reply so just wanted to check in and see if it came through

[2020-01-17 16:32] oicheryl commented on #170
Pending paperwork, we have a venue and date for KCD London!

@dariakg yep, I'll email you in just a moment.

[2020-01-17 17:13] tsoarescruz commented on #224
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2020-01-17 19:33] KTan1226 commented on #170
Great @jmickey- just let me know if I can help! :)

[2020-01-18 06:57] ams0 opened #249 "Multiple sponsors in one category makes the logos too small"
I'm trying to updated the 2019-amsterdam site with #248 , and as you can see in the preview here: https://deploy-preview-248--kubernetes-community-days.netlify.com/events/2019-amsterdam/sponsor/ when there are more that a few sponsor in a category (like Gold) their logos are scaled down to fit half page width. Am I missing something or is that something that can be fixed? We plan to have 10 gold s

[2020-01-19 11:04] ams0 opened #250 "Event banner and custom css"
I'm losing my head on how to add my own (or reuse `static/admin/img/hero-banner.jpg`) banner to an event, now it looks all grey and sad  https://kubernetescommunitydays.org/events/2019-amsterdam/ :(

Also, I don't understand where/how can I override css (like `.banner.background-image`) only for one event. Adding a `style.ccs`, or a `css/style.css` doesn't seem to have effect.

[2020-01-19 11:27] itaysk opened #251 "Kubernetes Community Days - Tel Aviv, Israel"
### Event City: Tel Aviv, Israel

### Submission checklist:
* [x] No other Kubernetes Community Days event in the same city
* [x] Minimum of 3 organizers from 3 different organizations
* [x] Each organizer lives in or just outside of the KCD location
* [x] At least one organizer is a CNCF member employee, CNCF ambassador, or CNCF project maintainer
* [x] All organizers agree to follow the event gu

[2020-01-19 11:29] itaysk commented on #251
Hi, I'm adding this issue uncompleted, as a placeholder as I am finalizing the organizing team and securing more sponsors.

[2020-01-20 13:39] rcazambuja commented on #220
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2020-01-20 20:25] caniszczyk commented on #239
We should also reach out to @dio if he is interested in organizing/sponsoring

[2020-01-21 09:19] nkhare commented on #169
@KTan1226 @iennae In one of the earlier thread Mayadata already confirmed as one of the sponsor. I, on behalf of CloudYuga, also confirms as being one of the sponsor.

We have fixed the event date to be 27th June'2020 and finalised the venue as well. We need to pay some advance amount to hotel to block it by tomorrow.

So we would like to request you confirm this event and close on dates.

[2020-01-21 12:04] kmova commented on #169
Confirming MayaData as a sponsor.

[2020-01-21 15:49] mathieu-benoit commented on #217
Hi @KTan1226 and @dankohn, great news, we now have 4 co-organizers and 3 sponsors (more to come). We will discuss soon with the co-organizers which method of payment we will use, in the meantime could you confirm what are you expected from us regarding "All organizers signed off to the event guidelines and CNCF Code of Conduct."? Thanks!

[2020-01-21 16:44] KTan1226 commented on #251
Great @itaysk and welcome! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2020-01-21 16:55] KTan1226 commented on #169
Hi @nkhare- can you confirm the fiscal sponsor for the event (company that will accept payments)? Also, can you confirm that all organizers have read and signed off on the CNCF event guidelines and Code of Conduct? Once both items are confirmed, please share the CNCF Slack usernames for all organizers and I will add you to the  KCD organizers channel. Let me know if you have any questions. Thanks!

[2020-01-21 17:00] KTan1226 commented on #217
Hi @mathieu-benoit. Can you confirm the fiscal sponsor (company that will accept payments)?

For the event guidelines and Code of Conduct, we need all organizers to review and agree to them. Once complete, I will add all organizers to the KCD organizers Slack channel. Thanks!

[2020-01-21 17:03] mathieu-benoit commented on #217
@KTan1226, just to make sure with what you mean by "fiscal sponsor", there is going to have one sponsor which will receive all the payments from the other sponsors for example and will pay the different invoices involved for that event, is that correct? Sorry, we are not clear here how it works... Thanks for your clarification.

[2020-01-22 04:46] cloudyuga commented on #169
Cloudyuga Technologies Pvt. Ltd.

Yes.

Will do

[2020-01-22 04:49] nkhare commented on #169
I read and agree to
https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2020-01-22 07:03] ajeetraina commented on #169
I went through KCD code of conduct, read and agree to
https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2020-01-22 07:21] ams0 commented on #250
@lucperkins maybe?

[2020-01-22 16:38] kmova commented on #169
I agree and will comply with the CNCF event guidelines and code of conduct.  https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

kiranmova is my CNCF slack id.

[2020-01-22 17:09] krishna-mk commented on #169
I read and agree to
https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

krishna-mk is my slack ID.

[2020-01-22 17:36] aravindputrevu commented on #169
I read and agree to
https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

aravind is my CNCF slack id.

[2020-01-22 22:20] KTan1226 commented on #169
Great, thanks! I've added all organizers to the KCD organizers channel. Please confirm your fiscal sponsor and then I can sign off on you creating your site.

[2020-01-22 22:25] KTan1226 commented on #217
Hi @mathieu-benoit. Yes, there needs to be a sponsor that will receive all payments. In most cases, this is a company that one of the organizers is from.

Here is a link for the Code of Conduct (including events): https://github.com/cncf/foundation/blob/master/code-of-conduct.md

Thanks!

[2020-01-22 23:23] KTan1226 commented on #212
Great! I've added all organizers to the Slack channel (for KCD organizers) and will create your email alias. You are approved to create your site. Let me know if you have any questions in the interim.

[2020-01-23 05:28] vishal-biyani opened #252 "KCD 2020, Pune, India"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event City: Pune, India

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Days event in the same city
* [ ] Minimum of 3 organizers from 3 different organizations
* [ ] Each organizer

[2020-01-23 08:07] kmova commented on #169
CloudYuga,  @nkhare company - will be our fiscal sponsor.

[2020-01-23 19:43] KTan1226 commented on #228
Hi @ppatierno- The fiscal sponsor needs to be a company that agrees to accept payments and has a bank account to distribute funds as well. In most cases, the fiscal sponsor is the company one of the organizers is from. Thanks!

[2020-01-23 19:56] yankcrime opened #253 "KCD 2020, Manchester UK"
### Event City:  Manchester, UK

### Submission checklist:

*Please check each of these as you complete them:

* [X] No other Kubernetes Community Days event in the same city
* [X] Minimum of 3 organizers from 3 different organizations
* [X] Each organizer lives in or just outside of the KCD location
* [X] At least one organizer is a CNCF member employee, CNCF ambassador, or CNCF project maintaine

[2020-01-23 20:40] ppatierno commented on #228
@KTan1226 sorry, this company should accept payments from who? from other companies? Regarding the event fee, I think that we are going to deliver it for free to the attendees. It's quite difficult here that people pay for events.

[2020-01-23 20:44] ppatierno commented on #228
@KTan1226 why it has to be a company? The NaLUG user group has a bank account for getting payment and then distribute funds for paying the venue, lunch, etc etc.

[2020-01-23 23:20] KTan1226 commented on #252
Welcome, @vishal-biyani! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2020-01-23 23:21] KTan1226 commented on #253
Great start @yankcrime! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2020-01-24 10:32] nkhare commented on #169
@KTan1226 We are all set. We have already signed the contract with the hotel and paid first installment. Please create the website asap, so we can get other things going.

[2020-01-24 12:52] cloudyuga commented on #169
@KTan1226 Can you please add "neependra" in KCD organizers channel. Thanks

[2020-01-24 13:39] nzoueidi opened #254 "KCD 2020, Tunis, Tunisia"
### Event City: Tunis, Tunisia

### Submission checklist:

* [x] No other Kubernetes Community Days event in the same city
* [x] Minimum of 3 organizers from 3 different organizations
* [x] Each organizer lives in or just outside of the KCD location
* [x] At least one organizer is a CNCF member employee, CNCF ambassador, or CNCF project maintainer
* [x] All organizers agree to follow the event gui

[2020-01-24 18:02] KTan1226 commented on #169
Great @nkhare! You are approved to build your site. You can find instructions on how to get started here: https://kubernetescommunitydays.org/organizing-creating-website/. Let me know if you have any questions.

[2020-01-24 18:05] KTan1226 commented on #239
Hi @irvifa- No problem. We are flexible with not using Eventbrite in instances like this. Let me know if you have any further questions.

[2020-01-24 18:08] KTan1226 commented on #254
Welcome @nzoueidi! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2020-01-24 19:53] mathieu-benoit commented on #217
Hi @KTan1226, we, as the organizers of this KCD 2020 Quebec city, reviewed and we agree with the CNCF Code of Conduct.

Regarding our Financial Sponsor to receive all the payments and pay the invoices associated to this event we have the confirmation by our Sponsor Lecentre.net Inc.

So I think we are good, just let us know if you need any complementary information. Thanks.

[2020-01-25 14:55] nkhare commented on #169
@KTan1226  so far we have CloudYuga and Mayadata as two sponsors. We are discussing with few others and would should have 3rd in 7-10 days. We would start building the building the website in parallel from the template and once you sign off, we will go public quickly.

[2020-01-27 01:58] superbrothers commented on #187
@KTan1226 I'm sorry for late reply. We are currently finding our fiscal sponsor.

[2020-01-27 19:59] KTan1226 commented on #217
Great @mathieu-benoit- you are approved to create your site. I've added all organizers to the KCD organizers channel on Slack and will be in touch with your email alias.

Let us know if you have any questions!

[2020-01-27 20:44] KTan1226 commented on #169
Hi, @nkhare- Thanks for the update. All sponsors need to be confirmed before you move forward with building your site.

[2020-01-28 19:06] karenhchu commented on #171
Hi @Pedigo36 -- can you share more info on the space? Do you know what the capacity is?

[2020-01-28 20:19] dankohn commented on #249
Sorry for the delay. @lucperkins could you please engage on this?

[2020-01-28 20:35] eduardo-eth0 opened #256 "KCD 2020 - Campinas/SP - Brazil"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event City: Campinas

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Days event in the same city
* [x] Minimum of 3 organizers from 3 different organizations
* [x] Each organizer liv

[2020-01-28 21:51] KTan1226 commented on #170
Hi London team. I wanted to reach out on creating a sponsorship email alias/subgroup. We recommend that KCD organizing teams use a main alias or subgroup rather than their own email so that we can have a record and ability to change the organizers in future years. We are happy to provide one (like kcd-bouvet-island-sponsors@lists.cncf.io) if you are interested.

[2020-01-29 00:11] #249 closed

[2020-01-29 00:43] #250 closed

[2020-01-29 06:43] pasimoes commented on #256
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2020-01-29 12:03] papodesysadmin commented on #256
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2020-01-29 14:44] ashish-cognologix commented on #252
I represent @cognologix and would love to be one of the sponsors for KCD 2020, Pune. We are heavily using k8s in our project and love to give back.

[2020-01-29 18:38] KTan1226 commented on #256
Welcome, @eduardo-eth0! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2020-01-29 18:50] #203 closed

[2020-01-29 19:22] KTan1226 commented on #185
@ams0 Did you create a Twitter handle for the event? It's optional, but we can help amplify if so.

[2020-01-29 19:27] KTan1226 commented on #217
FYI- Mathieu created a private channel on Slack #kcd-quebec for the organizers.

[2020-01-29 22:37] KTan1226 commented on #177
Hi Berlin team! Just checking in to see how the website is coming along. Is there anything we can do to help?

[2020-01-29 22:43] ams0 commented on #185
Yes! https://twitter.com/cloudnativeams and it's active already for quite some time. @FloorD is the one managing it mostly. We also have instagram: https://www.instagram.com/cloudnativeams/ but we don't post much there (perhaps I should post last year's pics, which are now on 500px: https://500px.com/cloudnativeams/galleries/kubernetes-community-day-amsterdam-2019). Oh and we have a Youtube channe

[2020-01-29 22:53] KTan1226 commented on #204
@dankirkpatrick Just following up- is this a duplicate of #186?

[2020-01-29 23:29] eduardo-eth0 commented on #256
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2020-01-30 01:21] archyufa opened #261 "KCD 2020 - Ottawa, Canada"
### Event City: Ottawa

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Days event in the same city
* [x] Minimum of 3 organizers from 3 different organizations
* [x] Each organizer lives in or just outside of the KCD location
* [x] At least one organizer is a CNCF member employee, CNCF ambassador, or CNCF project maintainer
* [x] A

[2020-01-30 09:20] KrissiWi commented on #177
Hey:) We finally fixed venue + date and are currently setting up website including CFP, registration and sponsoring prospectus. The plan was to launch next week, we hope we can stick to the timeline

[2020-01-30 11:46] dankohn opened #263 "Please fail on build when sponsor logos aren't SVGs"
Please emit a clear error and mention that many sponsor logos are available at landscape.cncf.io and at kubecon.io.

https://github.com/cncf/kubernetes-community-days/pull/210#discussion_r372900739

[2020-01-30 12:12] dankohn opened #264 "Please add sponsor and speaker start dates"
Often when KCDs launch, they're not yet ready to accept sponsorships and their speaker CFP isn't open yet, so they shouldn't be listed in the sponsor and speaker pages. Could you please add an *optional* start date, and change the calculations so that if you're before the start date or after the end date, they're not listed.

[2020-01-30 12:17] jmickey commented on #170
Hi @KTan1226

Sure, we would happily use a sponsor email alias.

[2020-01-30 15:14] nickchase commented on #171
I spoke to him in email, it's about 100, which is awesome for a meetup but
not large enough for this event.

On Tue, Jan 28, 2020, 2:06 PM Karen Chu <notifications@github.com> wrote:

[2020-01-30 17:09] raravena80 commented on #171
I think a great space that devopsdays has used in the past is the computer history museum in Mt View. I'm not sure how feasible it is in terms of price. https://computerhistory.org/venue/

[2020-01-30 17:43] KTan1226 commented on #256
Looks great @eduardo-eth0- you are approved to build your site. I have added all organizers to the KCD organizers channel on Slack and will be in touch with your email alias shortly. Can you also share the Twitter account created for this event? We recently updated the requirements and can help amplify from our KCD handle. Let me know if you have any questions!

[2020-01-30 17:50] papodesysadmin commented on #256
@KTan1226 Kristi
I am Christiano from KCD Campinas - Brazil the twitter we will create is @KCD-Campinas?
For in the manual there are two options - https://kubernetescommunitydays.org/

[2020-01-30 18:09] nickchase commented on #171
Yes, OpenStack Silicon Valley used it as well.  It's a beautiful space, but
has some limitations.

On Thu, Jan 30, 2020 at 12:09 PM Ricardo Aravena <notifications@github.com>
wrote:

[2020-01-30 18:20] KTan1226 commented on #256
Sounds good @pablodelarocha. Please share a link to your Twitter account once created. To confirm, we do have a general CNCF KCD Twitter account (https://twitter.com/KubernetesDays) but are asking organizers to create their own as well.

[2020-01-30 18:40] KTan1226 commented on #170
Great @jmickey- I will create the alias and share it with you shortly.

[2020-01-30 23:40] dankohn opened #265 "Please vertically center these sponsor logos"
https://kubernetescommunitydays.org/events/2019-amsterdam/

[2020-01-30 23:59] KTan1226 commented on #261
Welcome, @archyufa! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2020-01-31 00:01] KTan1226 commented on #212
Hi NYC team! Just checking in, how is your website coming along? Would you like some extra support? Happy to help- just let me know.

[2020-01-31 04:39] justaugustus commented on #212
@KTan1226 -- It's on the list, but nothing yet. Will give a holler if we need an assist! :)

[2020-01-31 12:29] amioranza commented on #220
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2020-01-31 13:45] mathieu-benoit commented on #217
Good news, we have @archyufa joining us as co-organizer!

[2020-01-31 15:17] gouthamve commented on #169
@nkhare @kmova @KTan1226 I'd like to confirm Grafana Labs as a sponsor for KCD Bengaluru.

I've been in contact with one of the organisers (Kiran Mova @kmova) regarding the event and can confirm the silver level sponsorship for the event!

Thanks,
Goutham, Software Engineer @grafana and maintainer for @prometheus and @cortexproject

[2020-01-31 18:10] JasonvanBrackel opened #266 "Philadelphia, PA"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event City:
Philadelphia, PA

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Days event in the same city
* [x] Minimum of 3 organizers from 3 different organizations
* [x] Each organ

[2020-01-31 18:55] archyufa opened #267 "KCD 2020 - Montreal, Canada"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event City: Montreal

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Days event in the same city
* [x] Minimum of 3 organizers from 3 different organizations
* [x] Each organizer liv

[2020-01-31 19:11] #265 closed

[2020-01-31 19:11] #241 closed

[2020-01-31 19:14] lucperkins commented on #39
The site has been switched to Hugo 0.62.2, which supports GoldMark by default

[2020-01-31 19:14] #39 closed

[2020-01-31 19:24] dankohn commented on #39
Fanatstic!

[2020-01-31 19:39] dankohn commented on #265
https://github.com/cncf/kubernetes-community-days/commit/94635658ee4e944f049ff4baa255de9615c5c78c

[2020-01-31 20:19] ppatierno commented on #228
@KTan1226 any feedback on my comments?

[2020-01-31 20:39] iennae opened #268 "Event team pages do not link to twitter accounts or URLS"
The team page does not link to twitter accounts or URLs even though they are configured. The <a href> is blank.
Example:

https://kubernetescommunitydays.org/events/2019-amsterdam/contact/

Location I originally saw this (but might disappear)
https://deploy-preview-210--kubernetes-community-days.netlify.com/events/2020-amsterdam/contact/
Source code for a snippet of HTML for a URL
[code]
and for t

[2020-01-31 21:57] iennae opened #270 "Document ticket/sponsorship for increasing diversity"
We are adding a requirement for events to provide 3 free tickets to increase diversity. We should document recommendations around these efforts.

[2020-01-31 22:38] dankohn commented on #228
It may be possible for NaLUG to be your fiscal sponsor. The key thing is a bank account so they can receive money from sponsors and pay it to the venue, catering, and other vendors.

[2020-01-31 22:56] lucperkins commented on #268
Fixed in commit c8ffca7e2490c6b03fb1b3ecde54466bfb0a53fa

[2020-01-31 22:56] #268 closed

[2020-01-31 23:18] lucperkins commented on #264
@dankohn As far as I know, this is the current behavior. The [sponsoring](https://kubernetescommunitydays.org/sponsoring) and [speaking](https://kubernetescommunitydays.org/speaking) pages, for example, do not include the Portland event because it's not yet open to sponsors/speakers.

[2020-01-31 23:24] #264 closed

[2020-01-31 23:27] lucperkins commented on #263
@dankohn There isn't really a good way to fail the build without introducing a separate checker script, as Hugo supports error output but not conditional build failure. Personally, I would prefer to enforce this in PR reviews rather than introduce additional complexity in the build process.

[2020-01-31 23:29] dankohn opened #272 "Improve sponsor logo layout"
Sponsor logos should be centered horizontally as well as vertically. Size should shrink from diamond to lower levels.

https://kubernetescommunitydays.org/events/2025-bouvet-island/

[2020-01-31 23:44] lucperkins commented on #272
@dankohn The issue with horizontal centering is that it looks quite bad when there's a single logo:

<img width="542" alt="Screen Shot 2020-01-31 at 3 43 52 PM" src="https://user-images.githubusercontent.com/1523104/73582077-877e0480-4440-11ea-8bd4-5405becb9428.png">

[2020-02-01 00:03] dankohn commented on #264
OK, we'll just ask people to comment out the keys until it's open.

[2020-02-01 00:05] dankohn commented on #263
OK, we can revisit later if it becomes an issue. With the landscapeapp, we get Netlify to report errors back to the pull request: https://github.com/cncf/landscape/pull/1541#issuecomment-580929614

[2020-02-01 08:11] ppatierno commented on #228
@dankohn yes yes, NaLUG has a bank account to receive money and pay for the rest. For this reason, I was asking why it should have been a company.

[2020-02-01 13:11] dankohn commented on #228
There's no need for it to be a company; that's just the most common case.

[2020-02-01 13:28] ppatierno commented on #228
@dankohn ok thanks! @KTan1226 so I guess that we are all set :-)

[2020-02-01 14:49] eduardo-eth0 commented on #256
@KTan1226 for call for papers we can use https://papercall.io?

[2020-02-01 16:44] ams0 opened #276 "Embedding Google Analytics code on pages"
Is it possible to track page visits with Google Analytics? Ideally, this could be left to the individual KCD by adding a custom code on each event.

[2020-02-01 17:25] #263 closed

[2020-02-01 17:27] dankohn commented on #276
Yes, we will track and share, but we want it to be the CNCF account, as it is under our privacy policy.

[2020-02-01 17:28] dankohn commented on #276
@cjyabraham Could you please say what code needs to be embedded for this to appear on CNCF's Google Analytics and then assign to @lucperkins to implement.

[2020-02-02 14:42] cjyabraham commented on #276
@ccraigross can you setup a new Google Analytics property for https://kubernetescommunitydays.org/ please?

[2020-02-02 15:24] nimbinatus commented on #222
✋ I'm up to helping organize, @thecrudge.

Laura Santamaria, LogDNA, Developer Advocate, laura@nimbinatus.com, `nimbinatus` on CNCF Slack

[2020-02-02 20:20] ccraigross commented on #276
@cjyabraham - UA-82811140-39

[2020-02-03 02:07] cjyabraham commented on #276
@lucperkins do you need anything else in order to install the Google Analytics tracking?

[2020-02-03 03:02] dankohn commented on #276
@cjyabraham whats the exact tag he should create, please?

[2020-02-03 03:38] lucperkins commented on #276
@dankohn @cjyabraham Don’t worry, I can take care of this tomorrow

[2020-02-03 03:52] cjyabraham commented on #276
Here's the code in case you need it:
[code]

[2020-02-03 10:13] nkhare commented on #169
thanks @gouthamve. @KTan1226  can we now take it forward and create the website. We are planning to make the site live before Kubernetes Forum, Bangalore; which is on 17th Feb'2020.

[2020-02-03 16:51] lucperkins commented on #276
Addresses in 850e52892b485a3e1dd549e4ea6981e7dee56495

[2020-02-03 16:51] #276 closed

[2020-02-03 19:22] ams0 commented on #185
Since the website is now up&running (thanks everyone! https://kubernetescommunitydays.org/events/2020-amsterdam/) should we close this issue now?

[2020-02-03 19:25] dankohn commented on #185
Congrats on going live

[2020-02-03 19:25] #185 closed

[2020-02-03 19:39] ams0 opened #278 "The sponsoring page doesn't seem to honor the sponsor_deadline field"
The page at https://kubernetescommunitydays.org/sponsoring/ doesn't seem to take in consideration the field `sponsor_deadline:` in content/events/2020-amsterdam/_index.md and lists "September 9, 2020".

[2020-02-03 21:12] lucperkins commented on #278
FIxed in ca46c86df80001249aa5cf31496bd40076238f14

[2020-02-03 21:12] #278 closed

[2020-02-04 04:56] KTan1226 commented on #267
Welcome, @archyufa! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2020-02-04 04:57] KTan1226 commented on #228
Great @ppatierno! You are approved to build your website. I will be in touch with an email alias for your use. Are you planning to create a Twitter account for your KCD?

[2020-02-04 05:01] KTan1226 commented on #169
Great news @nkhare! You are approved to create your site and I will be in touch with your email alias.

In the interim, can you share the CNCF Slack usernames for all organizers? I will add them to the KCD organizers channel. Also, do you have a  Twitter account for the event?  If so, please share the handle with me and we can help amplify.

[2020-02-04 07:19] ppatierno commented on #228
@KTan1226 Yes I thought about creating a Twitter account for that. Maybe I can use the email alias you are setting up?

[2020-02-04 23:36] KTan1226 commented on #266
Welcome @JasonvanBrackel! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2020-02-05 12:53] papodesysadmin commented on #256
add
Organizer 4: Carol Vilas Boas, Zup IT Innovation, Trainner, carolina.vilasboas@zup.com.br, Slack display name: carolfvb

[2020-02-05 15:19] ams0 opened #280 "Do US cities need the state?"
Events like London and Amsterdam appear with just the city name; however, Portland appears as "Portland, Oregon". Should we instead use just the city name? DevOpsDays (https://devopsdays.org/) uses only the city name on the left side list.

[2020-02-05 17:07] papodesysadmin commented on #256
add
Organizer 5: Gabriela Dias, PagSeguro, Manager SRE, gadias@pagseguro.com  Slack display name: Gaby Dias

[2020-02-05 17:09] archyufa opened #281 "KCD 2024 - Toronto, Canada"
### Event City: Toronto

### Submission checklist:

*Please check each of these as you complete them:

* [x] No other Kubernetes Community Days event in the same city
* [x] Minimum of 3 organizers from 3 different organizations
* [x] Each organizer lives in or just outside of the KCD location
* [x] At least one organizer is a CNCF member employee, CNCF ambassador, or CNCF project maintainer
* [x]

[2020-02-05 19:00] dingyin commented on #233
Futurewei would like to be a sponsor of KCD 2020 Seattle. I can be listed as an Organizer.

[2020-02-05 19:16] dingyin commented on #233
My account in CNCF Slack is dingyin@gmail.com

[2020-02-05 20:45] KTan1226 commented on #281
Great work @archyufa! You are approved to begin building your site. I've added all organizers to the KCD Slack channel and will create your email alias. Can you also share the handle for your Twitter account? We can help amplify via our KCD account. Thanks!

[2020-02-06 15:30] mkorbi commented on #182
When we will get the Sched account?

[2020-02-06 20:32] gabydias commented on #256
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2020-02-07 13:48] carolfvb commented on #256
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2020-02-07 15:22] tinerehbein commented on #177
@KTan1226 we are ready to go online https://deploy-preview-246--kubernetes-community-days.netlify.com/events/2020-berlin/

Pls have a look and approve the side

[2020-02-07 15:45] dankohn commented on #177
You're missing a link to the sponsor prospectus on https://deploy-preview-246--kubernetes-community-days.netlify.com/events/2020-berlin/sponsor/. Also, don't link from here: https://www.smashingmagazine.com/2012/06/links-should-never-say-click-here/

Rather than Partners, I would change the sponsor category to "Initial Sponsors".

The kerning on "Berlin" in the background logo is off.

We're askin

[2020-02-07 15:54] dankohn commented on #177
You also need to specify what languages talks can be in

[2020-02-07 15:55] cpanato commented on #177
@dankohn updated the first and second comments.

for the other will defer to others to check

[2020-02-07 15:59] dankohn commented on #177
Great. I would encourage you to add the PDF to the assets directory and link to it there rather than linking to Google Drive. The latter causes problems for some people based on their corporate Google Docs configurations. Prospectus looks great, BTW.

[2020-02-07 16:00] cpanato commented on #177
@dankohn I tried but then i was not able to download that, do you have an example in how to make it work?

[2020-02-07 16:01] tinerehbein commented on #177
@cpanato attached the picture with more space or you can use the berlin image
![KCD-Berlin-Logo-space](https://user-images.githubusercontent.com/41007230/74044438-5b77fb80-49cb-11ea-9df2-a46a0b550730.png)
![the-famous-television-tower-berlin-web](https://user-images.githubusercontent.com/41007230/74044511-78143380-49cb-11ea-88b4-ddce9a9a9645.png)

[2020-02-07 16:08] cpanato commented on #177
@tinerehbein updated with the drawing image

[2020-02-07 16:09] tinerehbein commented on #177
@cpanato hm, it does look the same. which size of the image do you need?

[2020-02-07 16:12] cpanato commented on #177
@tinerehbein the one was sent as SVG before, dont know the exactly size (sent you a request to talk via Google hangout we can chat there)

[2020-02-07 16:12] KrissiWi commented on #177
@dankohn : Based on the discussion: https://github.com/cncf/kubernetes-community-days/issues/172 we assumed that there was no final decision on the CFP tooling yet. We now have set up and paid Sessionize for both, KCD Berlin & KCD Munich.

What do you think is a good way to proceed?

[2020-02-07 16:42] tinerehbein commented on #177
@dankohn updated all your comments.

[2020-02-07 16:43] dankohn commented on #177
@cpanato here is how to embed your PDF directly on the site: https://github.com/cncf/kubernetes-community-days/pull/284/files

You can ping me on Slack if it's not clear.

[2020-02-07 16:52] cpanato commented on #177
@dankohn done! thanks for the tip!

[2020-02-08 16:49] ams0 opened #285 "Add a Program Committee section"
As an organiser, I'm selecting a Program Committee (PC) to help vet and select talks for the conference. It would be great to have a section (can be under the Team section, but in a second "box") to display the PC members.

[2020-02-08 17:15] dankohn commented on #285
@lucperkins Could you please support optional additional teams.

[2020-02-08 20:22] lucperkins commented on #285
Fixed in 6d4edbbb3d207ad3cc657111d15c4a5ec2956774. You can see an example of how to implement this under `extra_teams` [here](https://raw.githubusercontent.com/cncf/kubernetes-community-days/master/content/events/2025-bouvet-island/_index.md).

[2020-02-08 20:23] #285 closed

[2020-02-08 20:29] lucperkins commented on #280
@ams0 In some cases no (Chicago, Los Angeles, etc.), but some city names are very common in the US. There are, for example, 25 Springfields! In this case, Portland, Maine is also a very well known city. If you're on the East Coast and say you're from Portland, people will assume you mean Maine. The DevOpsDays site, in fact, also distinguishes between Portland, OR and Portland, ME.

Fun historical

[2020-02-08 20:29] #280 closed

[2020-02-08 23:30] dankohn opened #286 "Change location links"
Please make the location links on https://kubernetescommunitydays.org/ (like "Igloo 74") go to the venue page of the KCD rather than lead offsite.

![image](https://user-images.githubusercontent.com/3083270/74093531-0ad2d200-4aa1-11ea-858c-bdff809f25f1.png)

[2020-02-08 23:41] dankohn opened #287 "Add local link checker"
It's easy to create broken internal links. Please add a build step that checks that all internal links work.

Probably best option:
https://github.com/wjdp/htmltest/wiki/Using-With-Hugo

Other options:
https://github.com/stevenvachon/broken-link-checker
https://github.com/redhat-cop/uncontained.io/pull/103

https://github.com/raviqqe/muffet

You might also check external links, but it would probab

[2020-02-09 00:06] dankohn opened #288 "Navbar ordering is backwards"
Portland should come before Amsterdam here. Tiles are already ordered correctly.

![image](https://user-images.githubusercontent.com/3083270/74093866-0ceb5f80-4aa6-11ea-9361-46348affeae5.png)

[2020-02-09 00:08] dankohn opened #289 "Edit page button disappeared"
It used to be in the footer but no longer works.

https://github.com/cncf/kubernetes-community-days/blob/master/layouts/partials/edit-button.html

[2020-02-09 03:07] dankohn commented on #272
I'm thrilled by the improvements here. @lucperkins I think you can close unless there's more you want to do.

[2020-02-09 16:52] ams0 commented on #280
You totally right - sometime us Europeans don't realise that the world is much bigger :) Thanks for the historical fact! I'll make sure I'm going to the right Boston in November :D

[2020-02-09 20:22] #170 closed

[2020-02-09 22:48] lucperkins commented on #272
@dankohn Thanks for the kind words! I would like to continue to improve this as the project goes on but I think we can close this for now.

[2020-02-09 22:48] #272 closed

[2020-02-10 03:17] dankohn opened #291 "Clicking on headers should create a fragment link"
If you go to https://kubernetescommunitydays.org/organizing/ and click on "Getting Started Playlist" the URL should change to https://kubernetescommunitydays.org/organizing/#getting-started-checklist. I thought we had that functionality working before but it disappeared.

Note that GitHub Readme files work that way. E.g.: https://github.com/cncf/kubernetes-community-days#running-the-site-locally

[2020-02-10 03:31] #288 closed

[2020-02-10 13:55] KrissiWi commented on #177
@dankohn : Any advise on how to proceed with the CfP tooling? Once this is solved, we can go live and announce.

[2020-02-10 14:06] xinity opened #294 "KCD 2020 - Lyon, France"
Please fill in information, organizers, and sponsors as you assemble them, and then make a new comment when this application is ready for review.

### Event City: Lyon, France

### Submission checklist:

*Please check each of these as you complete them:

* [X] No other Kubernetes Community Days event in the same city
* [X] Minimum of 3 organizers from 3 different organizations
* [X] Each organizer

[2020-02-10 15:33] bsctl commented on #216
@paolomainardi @jnardiello @bsctl @fabriziopandini @genbutsu @mbuccarello @blues-man Please read https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing and thumbs up this comment to sign off.

[2020-02-10 16:29] KTan1226 commented on #177
Hi @KrissiWi! Did you get my message via Slack? Let's connect on this.

[2020-02-10 17:26] KrissiWi commented on #177
Hi @KTan1226, thanks for getting back. I am available tomorrow after 4 pm CEST and anytime on Wednesday but since we wanted to launch this week, the earlier the better:) Just send me an invite to kristin@loodse.com

[2020-02-10 18:01] lucperkins commented on #291
@dankohn We definitely had that working previously. I suspect there may have been an errant merge somewhere along the line.

[2020-02-10 18:02] izgeri commented on #237
Note: we had an initial meeting on 1/23 with the people who've commented on the issue so far in attendance. We are still looking for additional people to agree to organize and/or sponsor this event. Please comment if you are also interested in being involved! We are due to meet again and check in on status today.

[2020-02-10 18:49] lucperkins commented on #291
Fixed in 6c5694ea39c614e0b7a48aee0980a00a15ae9d57

[2020-02-10 18:49] #291 closed

[2020-02-10 19:10] lucperkins commented on #286
@dankohn One issue in play is that, as far as I know, a venue page is not strictly required when initially creating an event page. The upcoming [KCD Portland](https://kubernetescommunitydays.org/events/2020-portland-oregon), for example, does not have one. What's your preferred method for handling that case?

[2020-02-10 19:38] lucperkins commented on #289
Fixed in 30733538134d55ff17c697a930648a658eab6cd6

[2020-02-10 19:38] #289 closed

[2020-02-10 19:54] dankohn commented on #286
No link, then, please.

[2020-02-10 20:14] lucperkins commented on #286
Fixed in 9c52b7344471bafba908e16813208069cb47c6aa

[2020-02-10 20:56] dankohn commented on #286
Could you please link to the venue page if it exists, and otherwise not have it be a link.

[2020-02-10 21:05] lucperkins commented on #286
Fixed in 7c8500249b098b2c47aeb095d487245ba780b249

[2020-02-10 21:29] dankohn commented on #286
Great. Could you please also make the text blue or more recognizably a link, when it is.

[2020-02-10 21:55] KTan1226 commented on #294
Welcome, @xinity! Please update the issue as you complete the items on the checklist. Once everything is complete, we'll sign off on your team creating the event site.

[2020-02-10 22:07] lucperkins commented on #286
Fixed in ba2f81961e37fdda1eac9332ce7f80f660e5b6af

[2020-02-10 22:07] #286 closed

[2020-02-10 22:26] KTan1226 commented on #228
Hi @ppatierno- apologies for the delay! Yes, you can absolutely use the email alias to set up the Twitter account. I would recommend something like @KCD-Naples if its available. Let me know if you need any help.

[2020-02-10 22:50] KTan1226 commented on #238
Hi @jogy. Yes- your event should be titled "Kubernetes Community Days Bern." In response to your question about event management tools like Eventbrite, we are currently evaluating and will get back to you soon.

I'd also recommend reviewing the updated FAQ: https://kubernetescommunitydays.org/organizing-faq/. Thanks!

[2020-02-10 23:19] KTan1226 commented on #177
Great, @KrissiWi. I sent over a calendar invite for us to chat. Let me know if the time doesn't work. You can reach me on Slack (@Kristi Tan) or kristi@cncf (dot) io. Thanks!

[2020-02-10 23:44] johnstudarus commented on #253
Please put Packet down as a sponsor and send me the details!

[2020-02-11 05:31] ppatierno commented on #228
@KTan1226 so the email alias to use is the one all the organizers got a verification email from you? If I use that one I think I should have access to the inbox because the process of creating a new Twitter account.

[2020-02-11 06:29] nkhare commented on #169
@KTan1226 We saw the test email from the email alias. Is it mandatory to use that for all the communication. We are already using other alias.  I think everyone got added in the KCD organizer channel. I'll double check.

We have a twitter handle @KCDBengaluru .

[2020-02-11 08:55] clook commented on #213
Hi, really pleased to find this "issue"! (Thanks for the pointer @jcsirot)
Would love to give a hand in any way if needed.

[2020-02-11 13:14] dankohn opened #297 "Use non-reversed Twitter icons"
Please use non-reversed Twitter and Facebook icons.

https://worldvectorlogo.com/logo/twitter
https://worldvectorlogo.com/logo/facebook-2

[2020-02-11 16:24] yankcrime commented on #253
Awesome, thanks @johnstudarus - and will do!

[2020-02-11 16:32] KTan1226 commented on #169
Hi @nkhare- Yes, we are requiring organizers to use the created alias.

[2020-02-11 16:55] lucperkins commented on #297
Could you clarify what you mean by non-reversed?

[2020-02-11 17:05] dankohn commented on #297
Reversed is white in a blue square. Non-reversed is just blue, like the ones I linked to.

[2020-02-11 17:26] KTan1226 commented on #228
Yes @ppatierno that is correct. The alias is: organizers-naples@kubernetescommunitydays.org.

[2020-02-11 17:31] ppatierno commented on #228
@KTan1226 but how I can get access to the inbox? I am pretty sure that if I use it for creating the twitter account I will get an email with a confirmation link to click. So I guess you should provide organizers the way (password?) to access the mailbox for this alias.

[2020-02-11 20:18] KTan1226 commented on #228
Hi @ppatierno! If you use the alias for your account, it should automatically send you the verification email (as you are on the alias). If you would like to test it or have additional questions, feel free to ping me on Slack and I can help.

[2020-02-12 00:50] #287 closed

[2020-02-12 06:28] iennae commented on #233
@ericknauer you want to talk to @dingyin and @rbitia about organizing? Looks like 3 different sponsors and 3 individuals from different organizations with them volunteering.

[2020-02-12 19:17] lucperkins commented on #297
Fixed in 22513603c32934f59dc7e0d85d7d22c370506b14

[2020-02-12 19:17] #297 closed

[2020-02-12 23:27] KTan1226 commented on #216
Hi @bsctl- Great work! You are approved to create your site. Are you planning to launch a Twitter account for the event?

Also, I've added all organizers to the #KCD-organizers Slack channel and will be in touch shortly with your email alias. Please let me know if you have any questions in the interim!

[2020-02-13 09:42] nzoueidi commented on #254
Hey @KTan1226, is there any template for the sponsoring packs? I have seen some examples for previous KCDs but is there any official template from CNCF to follow?
Also, could you please add me and the other three organizers to the #kcd-organizers channel?

Thank you.

[2020-02-13 15:54] isnuryusuf commented on #239
hi @irvifa @imrenagi lets talk for the event sponsorship

[2020-02-13 19:48] dankohn commented on #254
Here's a template: https://kubernetescommunitydays.org/organizing-sponsor-prospectus/

[2020-02-13 22:53] dio commented on #239
Would love to help in any way possible, including sponsorship 🙂.

[2020-02-14 00:05] KTan1226 commented on #254
Hi @nzoueidi- no problem. I've added you and the organizers to the #KCD organizers Slack channel. Let me know if you have any questions!

[2020-02-14 08:50] nkhare commented on #169
Sure. @KTan1226 Can you please add @kmova  and Rajesh also in the mailing list. I have updated their details in the first comment.

[2020-02-14 18:37] KTan1226 commented on #216
Hi @bsctl- Please use the alias organizers-milan@kubernetescommunitydays.org. I will send a test shortly!

[2020-02-14 18:47] KTan1226 commented on #169
Sure thing @nkhare- just updated! I will send a test email as well.

[2020-02-17 18:40] bkbustamante commented on #224
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2020-02-17 20:45] wpjunior commented on #224
Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2020-02-18 02:19] irvifa commented on #239
@isnuryusuf and @dio probably you could email us for this one, thanks!

[2020-02-18 08:55] kaspernissen commented on #232
@KTan1226 we have now completed the submission checklist and will be ready to move forward 🎉

We are looking at the dates 27th and 28th of October 2020.

[2020-02-18 17:05] KTan1226 commented on #232
Great @kaspernissen! You are approved to build your site. I've added all organizers to the KCD-organizers Slack channel and created the alias (organizers-stockholm@kubernetescommunitydays.org) for your use. I will send a test of the alias shortly.

Can you also confirm the Twitter account for your event? Thank you!

[2020-02-18 17:17] kaspernissen commented on #232
Thank you very much, @KTan1226!

We will be using this twitter profile (I just created it and will be filling in more content tomorrow): https://twitter.com/kcdnordics

Invitations received 👍

[2020-02-19 16:50] thecrudge commented on #222
Notes that potential sponsors may want to know:

- How many people are expected
- Agenda
- Can they submit a CFP
- What are the different sponsorship tiers
- What do they get for those different tiers

[2020-02-19 16:57] thecrudge commented on #222
/assign @nimbinatus

[2020-02-19 18:24] jjasghar commented on #222
I'm here to help! @nimbinatus successfully recruited me :metal:

[2020-02-19 18:29] jjasghar commented on #222
JJ Asghar, jjasghar@gmail.com, `JJ` on CNCF slack

[2020-02-19 19:15] thecrudge commented on #222
company?

------------------
e: cody@crudge.io
c: 214-603-9075
w: http://www.crudge.io

On Wed, Feb 19, 2020 at 12:29 PM JJ Asghar <notifications@github.com> wrote:

[2020-02-19 19:16] jogy commented on #238
We've decided to run our own Cloud Native Day event.

[2020-02-19 19:20] thecrudge commented on #222
/assign @jjasghar

[2020-02-19 19:45] jimangel commented on #222
Down to help!

Jim Angel, jameswangel@gmail.com, `Jim Angel` on slack, Individual Contributor (upstream Kubernetes).

[2020-02-19 21:36] KTan1226 commented on #222
Hi Austin team! I've added all organizers to the KCD-organizers channel on Slack. Let me know if you have any questions as you complete the checklist.

[2020-02-19 22:13] caniszczyk commented on #222
@thecrudge happy to help organize, CNCF will also be a sponsor since I'm local

One idea is to do this June 25th right after OSS NA in Austin or June 21st (right before)

[2020-02-19 22:22] paulczar commented on #222
I'd love to help as well  `pczarkowski` on slack, dev advocate vmware.  :)     Another good set of dates to do it could be right after devopsdays austin (4/5 may ... but that might be too soon ).

[2020-02-19 22:24] thecrudge commented on #222
Im leaning towards @caniszczyk 's dates. Since this is sister to devopsdays, my feeling is that we keep them separated. I think it would compliment the OSS NA though. Thoughts?

[2020-02-19 22:26] thecrudge commented on #222
@paulczar do you have an email address?

[2020-02-19 22:26] thecrudge commented on #222
@caniszczyk would CNCF or LF be willing to be the Fiscal Sponsor?

[2020-02-19 22:27] paulczar commented on #222
:1st_place_medal: to me.   pczarkowski@vmware.com or username.taken@gmail.com if it needs to match github username.

[2020-02-19 22:29] thecrudge commented on #222
@paulczar would Vmware be willing to sponsor? I think I could ping Stephen Aug if you cant reach anyone.

[2020-02-19 22:29] nimbinatus commented on #222
I'd lean toward later rather than earlier, personally. Gives us more time to ramp up and find speakers.

[2020-02-19 22:31] thecrudge commented on #222
OSS NA is in June, do you have concerns 3 months is too soon?

[2020-02-19 22:38] nimbinatus commented on #222
I am a bit concerned that it's going to be tight, but considering we might be able to get some additional speakers who are already in town for OSS NA, it might be worth the hustle. That extra two months(ish) probably will help. I think it's really going to depend on getting sponsors and venue set up quickly.

[2020-02-19 22:40] thecrudge commented on #222
We can have it as a zero day -1 day and probably drive attendance. Give people a reason to show up early.

[2020-02-19 22:43] thecrudge commented on #222
@justaugustus will sing if we cant get speakers ;)

[2020-02-20 00:17] rudymccomb commented on #222
I would also like to lend a hand rudy.mccomb@gmail.com `Rudy McComb` on CNCF slack

[2020-02-20 14:58] KTan1226 commented on #238
Best of luck @jogy! I will close the issue now.

[2020-02-20 14:59] #238 closed

[2020-02-20 15:01] gholmes commented on #222
I'd like to help out gholmes03@gmail.com

[2020-02-20 16:27] thecrudge commented on #222
To confirm, you are all in the Greater Austin Area?

[2020-02-20 16:36] jjasghar commented on #222
78759 representn'....

/me shakes head, I was disappointed in myself as soon as I typed it out.

[2020-02-20 17:06] thecrudge commented on #222
LOL,.

Well, I still own a house in Manor, sooooooo.. dont feel too bad

------------------
e: cody@crudge.io
c: 214-603-9075
w: http://www.crudge.io

On Thu, Feb 20, 2020 at 10:36 AM JJ Asghar <notifications@github.com> wrote:

[2020-02-20 19:58] jjasghar commented on #222
we have a rather large list of prospects, do we need them to commit or can we say we've "identified" them and are building the prospectus?

[2020-02-20 20:00] jjasghar commented on #222
ah!

Yeah, this is gonna be interesting.....

[2020-02-21 00:49] joshbav commented on #243
I'm going to pull out as the organizer until I can confirm I have other sponsors, in order to free up the region for others. I had hoped to have at least one other confirmed by now.

[2020-02-21 00:49] #243 closed

[2020-02-21 12:42] OrlinVasilev commented on #200
@christinevblum @KTan1226  I have updated the sponsors with the minimum , also payments are set , we will have local entity for that, also we have contacted an even company for helping us with the organisation.

[2020-02-21 15:06] KTan1226 commented on #177
Hi @KrissiWi and Berlin team,

I've added you all as admins for the KCD Berlin CFP via SM Apply. Please let me know if you have any questions or have trouble gaining access.

The CFP is now live and can be found here: https://kcdcfpsubmissions.smapply.io/prog/kcd_berlin/.

Thanks!

[2020-02-21 17:14] richardboydii commented on #222
We can use conference ops for billing / payment reception (they work for most of our conferences).

[2020-02-21 17:17] nimbinatus commented on #222
@thecrudge ^^ we have another live one 😀  Pinged Rich a few days ago. @richardboydii, full name, email, company, etc?

[2020-02-21 17:24] richardboydii commented on #222
Richard W. Boyd II, richard.boydii@gmail.com, Amazon Web Services, Solutions Architect - AWS Well-Architected

[2020-02-21 17:33] KTan1226 commented on #243
Thanks for letting us know!

[2020-02-21 17:47] KTan1226 commented on #200
Great @OrlinVasilev! Can you confirm who your fiscal sponsor (company or organization that will accept payments) and update on the ticket? Once you confirm, I can sign off for you to begin building your website.

[2020-02-21 18:11] thecrudge commented on #222
Please include your company

[2020-02-21 18:12] thecrudge commented on #222
Please see organizer lists: Name, company, email

[2020-02-22 03:11] gholmes commented on #222
Geoff Holmes, Senior Architect at TruFactor, gholmes03@gmail.com. Yes, located in the Austin area.

[2020-02-22 03:14] thecrudge commented on #222
Done, Im going to suggest we cap the organizers for the moment. Thank you for everyone who has volunteered their time and shown interest. If we need any more help in the future, we will announce it here, and #austin-meetup on k8s slack.

[2020-02-22 03:15] thecrudge commented on #222
/shrug

[2020-02-23 20:53] OrlinVasilev commented on #200
@KTan1226 - the company that we will use for the financial stuff is : DevOps At Work Ltd. Issue Updated!

[2020-02-24 14:55] obitech commented on #182
@dankohn I've just created the PR: #307

[2020-02-24 17:09] rudymccomb commented on #222
@thecrudge

ZeniMax Media

[2020-02-24 18:20] thecrudge commented on #222
Done @rudymccomb Welcome to the team!

[2020-02-24 22:08] KTan1226 commented on #182
Hi @mkorbi. To answer your question on Sched, we will grant access once your proposals are selected and your agenda is confirmed.

[2020-02-26 09:27] ppatierno commented on #228
@KTan1226 may I ask what's the timeframe to have the website available and the others platform for handling C4P and attendees?

[2020-02-26 15:13] archyufa commented on #267
@KTan1226 We completed with a checklist. Starting to work on website and venue.

[2020-02-26 15:48] archyufa commented on #261
@KTan1226 Completed. We sending PR for website

[2020-02-26 17:01] idcrosby commented on #267
@archyufa My info:
Ian Crosby, Container Solutions, Managing Director, ian.daniel.crosby@gmail.com, Ian Crosby (on CNCF slack)

[2020-02-26 18:47] KTan1226 commented on #228
Hi @ppatierno. How is your website coming along? Is there something we can help with? We recommend submitting the PR of your website for approval before gaining access to the CFP tool. Happy to chat live as well if you have any questions.

[2020-02-26 18:53] KTan1226 commented on #261
Wonderful @archyufa! You are approved to create your website. A few other items:

- I've created the organizers' email alias for your team to use (organizers-ottawa@kubernetescommunitydays.org
- I also created a sponsor alias for your use (sponsors-ottawa@kubernetescommunitydays.org)
- All organizers are now part of the KCD Organizers Slack channel

Let me know if you have any questions!

[2020-02-26 18:53] ppatierno commented on #228
@KTan1226 ok so I misunderstood :) I understood that your team was in charge to setting up the website for us, but it seems not to be the case. Is there any guide, template, repo we can starting from in order to have same template as other KCDs?

[2020-02-26 18:57] KTan1226 commented on #228
No problem @ppatierno. We have a guide for creating your website here: https://kubernetescommunitydays.org/organizing-creating-website/. If you have any questions or get stuck, just let me know and we're happy to help. Thanks!

[2020-02-26 19:03] huats commented on #267
@archyufa  My info:
Christophe Sauthier, LinkByNet, Head of Consuling North America, christophe.sauthier@gmail.com, Christophe Sauthier (on CNCF slack)

[2020-02-26 21:01] KTan1226 commented on #213
Hi @rbenzair- can you please confirm your third sponsor? Also, who is your fiscal sponsor for the event? Once you confirm, I will approve for you to begin building your website and share your email alias. Thanks!

[2020-02-26 21:24] rbenzair commented on #213
hi @KTan1226  we are working to close the third sponsor and the venue.

[2020-02-28 14:44] dankohn opened #310 "Dealing with lots of menus"
I'm open to suggestions on how to make these menus work better. One option would be to just switch to a hamburger menu when they're too long.

https://kubernetescommunitydays.org/events/2020-quebeccity/

[2020-03-01 20:42] #82 closed

[2020-03-01 21:43] rbenzair commented on #213
Hi @KTan1226  as i answer :
All team under CNCP The CNCF Paris non-profit organization created on 2016. As non-profit organization, we have a Bank Account (bank transfer preferred) and we will be able to manage the invoices and fiscal.

[2020-03-02 01:04] superbrothers commented on #187
@KTan1226 We found a fiscal sponsor. It is Z Lab Corporation I work for. In addition, we decided the method for accepting payments is PayPal, but if sponsors can deposit money directly into the account, they will do so.

Finally, we decided to hold the event on 6/13. However, depending on the status of the 2019-nCoV, we'll choose whether postpone in late April.

[2020-03-02 16:55] KTan1226 commented on #213
Sounds good @rbenzair. Did you confirm your third sponsor? Once you do, I can sign off on creating your site and create your email alias.

[2020-03-02 21:56] lucperkins commented on #202
Fixed in c7bc5df1cd23061df09dede756b83a9abd1b4dbd

[2020-03-02 21:56] #202 closed

[2020-03-02 22:03] lucperkins commented on #310
@dankohn One suggestion: we enable projects to specify `dropdown: true` in `_index.md` if they want a dropdown menu instead of the current setup. The issue with collapsing to a dropdown when the list is "too long" is that it's tricky to programmatically detect that.

[2020-03-03 19:35] KTan1226 commented on #219
@andrealmar Great! You are approved to create your website. I will be in touch with your email aliases (for sponsors and organizers) as well as information to get you up and running with the CFP tool SM Apply.

Are you planning to create a Twitter account for your event?

[2020-03-03 19:54] KTan1226 commented on #187
Thanks for the update @superbrothers. We understand. Let me know what you decide in April and if you decide to move forward, I'll set you up with email aliases and access to our CFP tool.

[2020-03-03 20:41] andrealmar commented on #219
Hi @KTan1226 thank you. Yes we are planning to create the social network accounts for the event. @amandabhmg is taking care of this.

[2020-03-04 08:42] pasimoes commented on #219
Hi @KTan1226 we will build our site . Thank you.

Our Twitter is
https://twitter.com/bh_kcd

[2020-03-04 10:14] superbrothers commented on #187
@KTan1226 we'll decide in late April, but I'd like to start preparing the event.
Below is our plan:

- In late March
    - Publishing the website
    - Opening CFP
- In late April
    - Deciding whether to postpone
    - Starting registration

Could you set us up with email aliases and access to your CFP tool?

[2020-03-04 12:07] nkhare commented on #169
@KTan1226 As discussed yesterday during the call that it would still take a few weeks for you to close the Eventbrite engagement, we can explore some other alternatives. I mentioned that we can use  [Instamojo](https://www.instamojo.com/) or [Razorpay](https://razorpay.com/), which are cheaper alternative to Eventbrite and take care of Indian Taxes as well.

Given that we have the event coming up

[2020-03-04 14:25] jfchevrette commented on #267
@archyufa My info:
Jean-François Chevrette, Principal SRE @ Red Hat
Email: jfchevrette@gmail.com
Slack: @jfchevrette (CNCF, Kubernetes)

[2020-03-04 18:47] lucperkins commented on #310
Closing this for now. Re-open if a different solution is desired.

[2020-03-04 18:47] #310 closed

[2020-03-05 05:53] kaspernissen commented on #232
We have decided to postpone the Cloud Native Nordics Kubernetes Community Day from October 2020 to Febraury 2021.

The reasons are as follows;
* Corona virus panic means a lot of events get cancelled and we are concerned about how it will impact our ability to sign sponsors and sell tickets
* with that concern we have to assess the monetary risk of moving forward with the event right now, because

[2020-03-05 10:14] itaysk commented on #251
@KTan1226 @iennae we are all set!

[2020-03-06 11:45] Jeskz0rd commented on #219
I Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2020-03-06 12:23] Zandler commented on #219
I Agree to https://kubernetescommunitydays.org/code-of-conduct/ and https://kubernetescommunitydays.org/organizing

[2020-03-06 16:53] KTan1226 commented on #232
Thanks for the update @kaspernissen. Please keep us updated.

[2020-03-06 16:55] KTan1226 commented on #251
Great @itaysk! I will be in touch with your email aliases (for organizers and sponsorship), as well as an email to get your CFP set up. Are you planning to create a Twitter handle for your event?

[2020-03-06 16:57] KTan1226 commented on #190
Hi @Sramsel- can you please confirm the fiscal sponsor for your event? Once you confirm, I can sign off on you creating your website. Thank you!

[2020-03-06 17:20] Sramsel commented on #190
Hi @KTan1226, EastBanc Technologies will be the fiscal sponsor. On that note, we do have a question from the accounting department. The legal entity accepting and making payments will be EastBanc Technologies, correct? There is no other legal entity unless we create an LLC for the event which I don't believe we have to do. Thank you!

[2020-03-06 17:25] KTan1226 commented on #190
Hi @Sramsel. Yes, that is correct. No need to create an LLC for the event if EastBanc will accept and make payments.

You are now approved to build your site! Here are guidelines on how to get started: https://kubernetescommunitydays.org/organizing-creating-website/.

I will create your email aliases (for organizing and sponsorships) and reach out to set up your CFP in SM Apply. Please let me know

[2020-03-06 19:23] Sramsel commented on #190
Thank you @KTan1226!

[2020-03-06 19:47] KTan1226 commented on #187
Hi @superbrothers- sure thing! Please use the following aliases:

- organizers-tokyo@kubernetescommunitydays.org (for communications with your organizers)
- sponsors-tokyo@kubernetescommunitdays.org (for sponsor inquiries, will forward to general organizers alias)

I will reach out to test your organizers' alias and to grant you access to our CFP tool. Let me know if you have any questions in the

[2020-03-06 20:10] KTan1226 commented on #251
Please use the following aliases:

- organizers-telaviv@kubernetescommunitydays.org (for organizer communication)
- sponsors-telaviv@kubernetescommunitydays.org (for potential sponsors, forwards to organizer alias)

Let me know if you have any questions!

[2020-03-06 20:24] KTan1226 commented on #219
Hello! Please use the following aliases:
- organizers-belo@kubernetescommunitydays.org (for organizer communications)
- sponsors-belo@kubernetescommunitydays.org (for potential sponsors, forwards to organizer alias)

I will send a test now and instructions on how to get set up with the CFP. Let me know if you have any questions in the interim!

[2020-03-06 20:41] KTan1226 commented on #190
Hi all! Please use the following aliases:
- organizers-dc@kubernetescommunitydays.org (for organizer communications)
- sponsors-dc@kubernetescommunitydays.org (for potential sponsors, forwards to organizer alias)

I will now send a test of the organizers' alias and details on how to proceed with the CFP access. Thanks!

[2020-03-09 10:43] rbenzair commented on #213
hi @KTan1226  the event moving forward, i update the PR all the conditions were checked.  We find the venue and date, we are on the stage of the sponsoring.

[2020-03-09 14:42] andrealmar commented on #219
Hi @KTan1226 may I give a suggestion?

On DevOps Days Belo Horizonte the previous alias was `organizers-belo-horizonte@devopsdays.org` but they changed to `belo-horizonte@devopsdays.org`.

What do you think? Can you change to `belo-horizonte@kubernetescommunitydays.org` ?

Thank you

[2020-03-09 16:02] KTan1226 commented on #219
Hi @andrealmar- Thanks for the feedback. I've changed your aliases to:
- organizers-belohorizonte@kubernetescommunitydays.org
- sponsors-belohorizonte@kubernetescommunitydays.org

I will delete the old alias. Let me know if you have any questions! cc @pasimoes

[2020-03-09 17:04] andrealmar commented on #219
Hi @KTan1226 it is possible that we have just ONE alias? `belo-horizonte@kubernetescommunitydays.org` ?

[2020-03-09 21:25] airstand commented on #200
@KTan1226 did you have a chance to review the latest updates in regards to this issue?
Thank you in advance :)

[2020-03-09 21:50] KTan1226 commented on #200
Hi @airstand! Great- you are approved to build your website. To proceed, can you:
- Share the CNCF Slack usernames for your team so I can add you to the KCD organizers channel?
- Confirm the Twitter account for your event?

I will be in touch shortly with your email aliases and details about setting up your CFP. Thanks!

[2020-03-09 21:54] KTan1226 commented on #200
Please use the following email aliases:
- organizers-sofia@kubernetescommunitydays.org (for organizer communications)
- sponsors-sofia@kubernetescommunitydays.org (for potential sponsors, email forwards to organizers alias)

I will now send a test to the alias and details on how to proceed with the CFP. Thanks!

[2020-03-10 08:07] OrlinVasilev commented on #200
@KTan1226 - slack usernames : OrlinVasilev, vlady, Atanasov
Twitter - @KcdSofia

[2020-03-10 09:12] airstand commented on #200
To be precise - my username in kubernetes slack is: airstand

[2020-03-10 16:06] KTan1226 commented on #213
Hi KCD Paris team! Please use the aliases below:
- organizers-paris@kubernetescommunitydays.org (for organizer communications)
- sponsors-paris@kubernetescommunitydays.org (for potential sponsors, email forwards to organizer alias)

I've also sent an email with details on how to access your CFP and admin access to SM Apply.  Please let me know if you have any questions. Thanks!

[2020-03-10 16:13] KTan1226 commented on #200
Thanks @OrlinVasilev- I've added you and your team to the KCD organizers Slack channel.

[2020-03-11 14:32] OrlinVasilev opened #328 "Instructions link not correct"
Hi,

the instruction link is broken: https://github.com/cncf/kubernetes-community-days/blob/master/organizing-creating-website
on the organising page.

### Submission checklist:

*Please check each of these indicating that you have met these requirements:

* [X] I've included a URL where the issue occurs, and a screenshot if that makes things clearer
* [X] I've described what I expected to see and

[2020-03-11 14:35] lucperkins commented on #328
Sorry, on which page is there a broken link?

[2020-03-11 14:37] OrlinVasilev commented on #328
@lucperkins will create PR

[2020-03-11 14:40] OrlinVasilev commented on #328
sorry my mistake for reading it from github will close that

[2020-03-11 14:40] #328 closed

[2020-03-12 17:28] KrissiWi commented on #177
@dankohn and @KTan1226 : It may not come as a surprise: Given the situation in Europe as it is, we have decided to postpone KCD Berlin with no new date scheduled yet. I think we all agree that we don't want to put anyone at risk at this moment.

As a next step, we'll update the website and communicate the postponment to all actors involved so far. We have decided to sync again in 4-6 weeks time wh

[2020-03-12 17:30] dankohn commented on #177
Makes sense. Thanks for the update.

[2020-03-12 20:47] KTan1226 commented on #177
Thanks @KrissiWi for the update. Do you need help pausing your CFP? Or would you like to keep it open for now with no end date?

[2020-03-13 14:33] pasimoes commented on #256
@KTan1226 Unfortunately, we from KCD Campinas officially are canceling the event. The effect of CONVID-19 for the planning/organization was terrible and it will not feasible to reorganize for this year. Let’s pray to be safe and in 2021, try to organize a great event.

[2020-03-13 17:29] archyufa commented on #281
@KTan1226 Added Twitter: https://twitter.com/KCD_Toronto

[2020-03-13 17:36] fOO223Fr commented on #261
Organizer 4: Suvrojeet Ghosh, Ribbon Communication, Software Engineer, ghosh.suvrojeet@gmail.com, suvro

[2020-03-13 17:40] archyufa commented on #261
@KTan1226 Can you please add Suvro and Andrew in google group?

[2020-03-16 09:19] obitech commented on #182
@KTan1226 @dankohn given the current situation and uncertainty how events later this year will be effected, we have decided to postpone KCD Munich 2020 to an unspecified date.

What would be the best way forward now? Maybe we can update the website with a notice, leave it up for a couple of weeks and then pull the event from the site until a new date has been agreed upon?

[2020-03-16 11:53] mkorbi commented on #182
/lgtm

[2020-03-19 13:19] superbrothers opened #338 "Code of Conduct in Japanese"
We'd like to prepare Code of Conduct in Japanese for KCD Tokyo 2020. Where should we add it on kubernetescommunitydays.org.

/ref #187

[2020-03-19 22:48] KTan1226 commented on #182
Hi @obitech. Yes, please update the website with a note for now and then remove the page in a few weeks if needed. If you would like guidance on what to include in your note, we recommend referencing the following: https://events.linuxfoundation.org/2020/03/13/novel-coronavirus-update/

Let me know if you have any questions or need help. Thanks!